<!DOCTYPE html>
<html lang="en">
<head>
    <title>智普信科技</title>
    <meta charset="utf-8">
    <link rel="icon" href="img/logo.png" type="image/x-icon">
    <link rel="shortcut icon" href="img/logo1.png" type="image/x-icon" />
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/inner.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/footer-color.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/rs-plugin/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/rs-plugin/preview.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/elements.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/hover-min.css" type='text/css'>
    <link rel="stylesheet" href="css/imagehover.min.css">
    <link rel="stylesheet" href="css/animate.min.css" type='text/css'>
    <link rel="stylesheet" href="css/index.css" type='text/css'>
    <!--[if lt IE 9]>
    <link href='http//fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/docs.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
  <![endif]-->
    <link rel="stylesheet" href="css/keyframes.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/safirst.css">
    <link rel="stylesheet" href="css/imagehover.min.css">
    <link rel="stylesheet" href="css/office-se.css">
    <style>
        .ft16 {
            font-size: 16px !important;
        }
        .list-services li:first-child figure {
            float: left;
            margin: 60px 15px 6px 0;
            border: none;
        }
        .list-services li:nth-child(2) figure {
            float: left;
            margin: 40px 15px 6px 0;
            border: none;
        }
        .list-services li:nth-child(3) figure {
            float: left;
            margin: 40px 15px 6px 0;
            border: none;
        }
        .list-services li:nth-child(4) figure {
            float: left;
            margin: 40px 15px 6px 0;
            border: none;
        }
        .list-services li:nth-child(5) figure {
            float: left;
            margin: 50px 15px 6px 0;
            border: none;
        }
        .ft14 {
            font-size: 14px;
        }
        .title {
            background: none;
            margin-top: 130px;
        }
        .title i {
            display: inline-block;
            width: 63px;
            height: 63px;
            background: url(img/index-title.png) no-repeat;
            background-size: 100%;
            float: left;
            margin-right: 15px;
            margin-top: 27px;
        }
        .title h4 {
            font-size: 36px;
            text-align: left;
        }
        .title h4 span {
            font-size: 28px;
            color: #8a8a8a
        }
        [class*=' imghvr-'],
        [class^=imghvr-] {
            background-color: rgba(115, 113, 114, .7)
        }
        .animate_p1,
        .animate_p2,
        .animate_p3,
        .animate_p4,
        .animate_p5,
        .anipt8,
        .anipt9 {
            /* display: none; */
            visibility: hidden;
            position: relative;
        }
        .part5 div, .part6 div {
            position: unset
        }
    </style>
</head>
<body class="home-page stretched">
    <div id="wrapper" >
        <!--==============================header=================================-->
        <div id='head' class=" clearfix" style='height: 60px;
    background: #fff;
    z-index: 1000;
    position: absolute;
    width: 100%;'>
            <!-- Logo & Navigation -->
            <div class='header' style='height: 60px;background:#fff;' id='header'>
                <div class="container">
                    <div class="row ">
                        <div class="span12" style='height: 60px;'>
                            <!-- Logo -->
                            <h1 class="brand brand_" style='margin-top:12px;'><a href="index.html"><img
                                        src="img/index_logo.png" alt=""></a></h1>
                            <!-- Navigation -->
                            <div class="navbar navbar_">
                                <div class="container">
                                    <!--=========== menu ===============-->
                                    <div class="nav-collapse nav-collapse_ collapse">
                                        <ul class="nav sf-menu">
                                            <li class=" sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                                                <a class="" href="javascript:;">解决方案</a>
                                                <ul class="sub_sub_menu">
                                                    <li>
                                                        <a href="smart-office.html" class="sub_title"
                                                            img='img/ziyou.png'>智能办公</a>
                                                    </li>
                                                    <li>
                                                        <a href="office-se.html" class="sub_title"
                                                            img='img/jiaju.png'>共享空间</a>
                                                    </li>
                                                    <li>
                                                        <a href="shared-parking.html" class="sub_title"
                                                            img='img/gongyu.png'>共享停车</a>
                                                    </li>
                                                    <li>
                                                        <a href="shared-storage.html" class="sub_title"
                                                            img='img/shequ.png'>共享仓储</a>
                                                    </li>
                                                    <li>
                                                      <a href="cloud.html" class="sub_title"
                                                          img='img/shequ.png'>智能安防云</a>
                                                    </li>
                                                    <li>
                                                        <a href="baoguan.html" class="sub_title"
                                                            img='./img/gongxiang.png'>重要物品保管</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class=" sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                                                <a class="" href="product-center.html" target="_blank">产品中心</a>
                                            </li>
                                            <li class="sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                                                <a class="" href="customer-case.html">客户案例</a>
                                            </li>
                                            <li class="sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                                                <a class="" href="news.html">新闻动态</a>
                                            </li>
                                            <li  class="sub-menu main-menu about" style='margin-right:15px;padding: 0 6px;'>
                                                <a class="" href="about.html">关于智普信</a>
                                                <ul class="sub_sub_menu">
                                                    <li>
                                                        <a href="about.html" class="sub_title"
                                                            img='img/ziyou.png'>公司介绍</a>
                                                    </li>
                                                    <li>
                                                        <a href="about.html#part4"  class="sub_title"
                                                            img='img/jiaju.png'>品牌理念</a>
                                                    </li>
                                                    <li>
                                                        <a href="about.html#part5" class="sub_title"
                                                            img='img/gongyu.png'>发展历程</a>
                                                    </li>
                                                    <li>
                                                        <a href="about.html#part7" class="sub_title"
                                                            img='img/shequ.png'>专利认证</a>
                                                    </li>
                                                    <li>
                                                        <a href="about.html#part9" class="sub_title"
                                                            img='./img/gongxiang.png'>联系我们</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--==============================content=================================-->
        <img class='resp_show' src="./img/phone/images/office_02.png" alt="" style='width:100%;display:none;'>
        <section class='resp_noneimg' id="content" style='background:#fff;padding-bottom: 0;'>
            <!-- sfd_part1 -->
            <div class="part1" style='background:#f6f6f6'>
                <img src="./img/s_cloud_img_banner.png" alt="">
                <div class="prt1_text">
                    <h2 style='color:#fff;'>智能安防云解决方案</h2>
                    <p style='font-size:36px;text-align: center;color:#fff;'>SMART SECURITY CLOUD SOLUTION</p>
                </div>
            </div>
            <div class="part2" style='margin-top:94px;margin-bottom: 105px;'>
                <div class="container">
                    <div style='display:flex' class="cloud">
                        <div class="prt2_txt one">
                            <div class="one-cl" style='width:100%;background: #eee;height: 220px;'>
                                <h3 style=''>基于安全的云服务平台</h3>
                                <img src="./img/s_cloud_ic_plat_gray.png" alt="">
                            </div>
                            <div class="cloud-text">
                                <div>全球反恐应急平台云服务</div>
                                <div>家庭安防产品及服务</div>
                                <div>办公安防产品及服务</div>
                                <div>高价值物品管控产品及服务</div>
                                <div>危险品管控产品及服务</div>
                                <div>枪弹管控产品及服务</div>
                            </div>
                        </div>
                        <div class="prt2_txt two">
                            <div class="one-cl" style='width:100%;background: #eee;height: 220px;'>
                                <h3 style='padding-top:30px;'>基于完善的安全系统<br> 统核心的可靠算法</h3>
                                <img src="./img/s_cloud_ic_algor_gray.png" alt="">
                            </div>
                            <div class="cloud-text">
                                <div>全球反恐应急平台云服务</div>
                                <div>家庭安防产品及服务</div>
                                <div>办公安防产品及服务</div>
                                <div>高价值物品管控产品及服务</div>
                                <div>危险品管控产品及服务</div>
                                <div>枪弹管控产品及服务</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- part3 -->
            <div class="part3 animate_p1" style='margin-bottom: 150px;'>
                <div class="container">
                    <h2 class='OS_part2'>HISS智能安防云</h2>
                    <p style='font-size:20px;text-align: center;' class='OS_part3'>
                        为最终用户提供可靠、高效、合规、低成本的规模化安防服务；帮助客户提高效率，保障安全。</p>
                    </p>
                    <div style='display:flex;margin-top:120px;' class="OS_part4">
                        <div style='width:445px;' class="p3_cloud1">
                            <div class="cloud_prt3">
                                <img src="./img/s_cloud_ic_hiss_gray1.png" alt="">
                            </div>
                            <h3 style='margin-bottom: 30px;text-align: center'>嵌入式/产品及云平台</h3>
                            <div class="cloud_prt3_bt" style='text-align: center'>
                                <p>主要面向传统产品生产制造企业</p>
                                <p>帮助传统安防产业快速智能化升级</p>
                                <p>解决安防产业智能化后自身的安全问题</p>
                            </div>
                        </div>
                        <div style='width:445px;' class="p3_cloud2">
                            <div class="cloud_prt3">
                                <img src="./img/s_cloud_ic_hiss_gray.png" alt="">
                            </div>
                            <h3 style='margin-bottom: 30px;text-align: center'>安防服务平台</h3>
                            <div class="cloud_prt3_bt" style='text-align: center'>
                                <p>致力于打造全球商业及家庭智能化安全服务平台</p>
                                <p>打通线上和线下的联动安防服务</p>
                                <p>提供异常报警、售前售后服务、技术支持</p>
                            </div>
                        </div>
                        <div style='width:445px;' class="p3_cloud3">
                            <div class="cloud_prt3">
                                <img src="./img/s_cloud_ic_hiss_gray3.png" alt="">
                            </div>
                            <h3 style='margin-bottom: 30px;text-align: center'>数据及流量变现平台</h3>
                            <div class="cloud_prt3_bt" style='text-align: center'>
                                <p>提供营销服务,贡献有价值的客户源</p>
                                <p>忠诚度高、不易被替换的巨大APP流量入口</p>
                                <p>为保险和金融行业，提供可靠的大数据</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- part4 -->
            <div class="part4 ">
                    <h2 class="animate_p2 anpt1">“0”门槛 将传统产品智能化</h2>
                <div class="container">
                    <div style='margin-top:125px;'>
                        <div>
                            <img src="./img/s_cloud_img_Intell.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- part5 -->
            <div class="part5 animate_p3 cloud" style='margin-bottom: 70px;'>
                <h2 class="OS_part5" style='margin-top:75px;'>全生命周期的行业标准中间件</h2>
                <div class="container" style='visibility: visible;margin-top:80px;width:1195px;'>
                   <div>
                       <div style='display: flex'>
                            <div style='position: relative;width:50%;background:url(./img/s_cloud_img_midd1.png) center no-repeat;background-size:cover'>
                                <!-- <img src="./img/s_cloud_img_midd1.png" alt="" style='width:100%;'> -->
                                <div style='position: absolute;top:0;left:0'>
                                    <h3 style='color:#fff;margin-top:95px;font-size:40px'>安全传输</h3>
                                    <p style='color:#fff;font-size:20px;margin-bottom: 10px;margin-top:50px;'>通过SSL非对称加密、VPN认证、私有协议等多重</p>
                                    <p style='color:#fff;font-size:20px;'>安全加密手段和多种传输方式，保障传输安全。</p>
                                </div>
                            </div>
                            <div style='position: unset;width: 50%;background: #eee;padding-bottom: 50px;'>
                                <div >
                                    <h3 style='color:#666;margin-top:95px;font-size:40px'>存储安全</h3>
                                    <p style='color:#666;font-size:20px;margin-bottom: 10px;margin-top:50px;'>通过对海量数据的扫描、监控、过滤、分发等安全</p>
                                    <p style='color:#666;font-size:20px;'>手段，以及异地容灾等多种存储方式配合多种加密</p>
                                    <p style='color:#666;font-size:20px;'>算法存储，充分保障数据安全。</p>
                                </div>
                            </div>
                    </div>
                    <div style='display: flex'>
                        <div style='position: unset;width: 50%;background: #eee;padding-bottom: 50px;'>
                            <div >
                                <h3 style='color:#666;margin-top:95px;font-size:40px'>数据安全</h3>
                                <p style='color:#666;font-size:20px;margin-bottom: 10px;margin-top:50px;'>在安全的原始数据基础上，进行脱敏、清洗、分</p>
                                <p style='color:#666;font-size:20px;'>类、归档、转档，并在洁净的数据源基础上给权</p>
                                <p style='color:#666;font-size:20px;'>益客户做二次开发，提供相应的安全数据应用。</p>
                            </div>
                        </div>
                        <div style='position: relative;width:50%;background:url(./img/s_cloud_img_midd2.png) center no-repeat;background-size:cover'>
                            <!-- <img src="./img/s_cloud_img_midd2.png" alt=""> -->
                            <div style='position: absolute;top:0;left:0'>
                                <h3 style='color:#fff;margin-top:95px;font-size:40px'>架构安全</h3>
                                <p style='color:#fff;font-size:20px;margin-bottom: 10px;margin-top:50px;'>完善的认证、授权、审计云管理方式，充分体现</p>
                                <p style='color:#fff;font-size:20px;'>云架构安全，在全球化平台建设、管理、服务方</p>
                                <p style='color:#fff;font-size:20px;'>面凸显安全特性。</p>
                            </div>
                        </div>
                </div>
                   </div>
                </div>
            </div>
            <!-- part6 -->
            <!-- part7 -->
            <div class="part7" style="background: #fff;padding-top:0">
                <div class="animate_p5">
                    <h2 class="OS_part7" style='margin-top:0'>多层级的安全策略保障</h2>
                    <div class="OS_part72" style='background:#eee;'>
                        <div class="prt7img container" style='margin-top:110px;'>
                           <img src="./img/s_cloud_img_protect.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- part8 -->
            <div class="part8" style='margin-top:-20px;'>
                <div class="container">
                    <h2 class="anipt8" style='margin-top:0;margin-bottom: 75px;'>可拓展的增值服务</h2>
                </div>
                <div>
                    <img src="./img/s_cloud_img_service.png" alt="" style='width:100%;'>
                </div>
            </div>
            <!-- part9 -->
            <div class="part9" style='margin-bottom: 80px;position: relative'>
                <div class="container">
                    <h2 class="anipt9" style='margin-top:70px;margin-bottom: 75px;'>全方位的大数据分析</h2>
                    <div style='display: flex;text-align: center'>
                        <div style='width:600px;font-size:32px;'>用户应用大数据分析</div>
                        <div style='width:600px;font-size:32px;'>安全设备大数据分析</div>
                    </div>
                </div>
                <div style='display: flex;margin-top:25px;'>
                    <div>
                        <img src="./img/s_cloud_img_data1.png" alt="">
                    </div>
                    <div>
                        <img src="./img/s_cloud_img_data2.png" alt="">
                    </div>
                </div>
            </div>
    </div>
    </section>
    <!--==============================footer=================================-->
    <footer>
        <div id="footer" class="section-3 footer-dark" style='height:230px;'>
            <div class="container">
                <div style='display: flex;margin-top:80px;'>
                    <div style='width:650px;'>
                        <p style='color:#e0e0e0;font-size:22px;'>客服电话: <span style="font-weight: bold;font-size:32px">400-928-1122</span> </p>
                        <p  style='color:#e0e0e0;font-size:22px;'>服务时间:  周一到周五9:30-18:00</p>
                    </div>
                    <div style='width:650px;text-align:right;margin-top:-13px;'>
                        <p><img src="./img/logo_footer.png" alt=""></p>
                        <p style='color:#e0e0e0;font-size:22px;'>zps@zeepson.com</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer 2 -->
        <div id="copyrights" class="footer-2 footer-dark">
            <div class="container">
                <div class="row">
                    <div class="span12">Copyright &copy; 2012-2019. 智普信科技 ｜ 京ICP备09017907</div>
                </div>
            </div>
        </div>
    </footer>
    </div>
    <script type="text/javascript" src='js/jquery.js'></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.sliderTabs.js"></script>
    <!-- totop  -->
    <script type="text/javascript" src="js/jquery.ui.totop.js"></script>
    <!-- Image animated Style  -->
    <script type="text/javascript" src="js/jquery.gridrotator.js"></script>
    <!-- Tabs  -->
    <script type="text/javascript" src="js/tabs.js"></script>
    <!-- Navigation  -->
    <script type="text/javascript" src="js/nav-small.js"></script>
    <script type="text/javascript" src="js/jquery.mobilemenu.js"></script>
    <!-- Isotope  -->
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="js/jquery.mousewheel.js"></script>
    <!-- Elastislider  -->
    <script>
        $('.part1 .prt1_text').addClass('on');
        $('.part2 .one').addClass('on')
        $('.part2 .two').addClass('on')
        $('.part2 .three').addClass('on');
        $('.part2 .four').addClass('on');
        $('.part2 .five').addClass('on');
        $('.cloud .prt2_txt.one').hover(function () {
            $(this).find('.one-cl').css('background', '#158fe1');
            $(this).find('h3').css('color', '#fff');
            $(this).find('img').attr('src', './img/s_cloud_ic_plat_white.png')
        }, function () {
            $(this).find('.one-cl').css('background', '#eee');
            $(this).find('h3').css('color', '#333');
            $(this).find('img').attr('src', './img/s_cloud_ic_plat_gray.png')
        });
        $('.cloud .prt2_txt.two').hover(function () {
            $(this).find('.one-cl').css('background', '#158fe1');
            $(this).find('h3').css('color', '#fff');
            $(this).find('img').attr('src', './img/s_cloud_ic_algor_white.png')
        }, function () {
            $(this).find('.one-cl').css('background', '#eee');
            $(this).find('h3').css('color', '#333');
            $(this).find('img').attr('src', './img/s_cloud_ic_algor_gray.png')
        })
        $('.part3 .OS_part4').find('.p3_cloud1').hover(function () {
            $(this).find('.cloud_prt3').css({ 'borderColor': '#158fe1', 'backgroundColor': '#158fe1' })
            $(this).find('.cloud_prt3 img').attr('src', './img/s_cloud_ic_hiss_white1.png')
        }, function () {
            $(this).find('.cloud_prt3').css({ 'borderColor': '#333', 'backgroundColor': '#fff' })
            $(this).find('.cloud_prt3 img').attr('src', './img/s_cloud_ic_hiss_gray1.png')
        });
        $('.part3 .OS_part4').find('.p3_cloud2').hover(function () {
            $(this).find('.cloud_prt3').css({ 'borderColor': '#158fe1', 'backgroundColor': '#158fe1' })
            $(this).find('.cloud_prt3 img').attr('src', './img/s_cloud_ic_hiss_white2.png')
        }, function () {
            $(this).find('.cloud_prt3').css({ 'borderColor': '#333', 'backgroundColor': '#fff' })
            $(this).find('.cloud_prt3 img').attr('src', './img/s_cloud_ic_hiss_gray2.png')
        })
        $('.part3 .OS_part4').find('.p3_cloud3').hover(function () {
            $(this).find('.cloud_prt3').css({ 'borderColor': '#158fe1', 'backgroundColor': '#158fe1' })
            $(this).find('.cloud_prt3 img').attr('src', './img/s_cloud_ic_hiss_white3.png')
        }, function () {
            $(this).find('.cloud_prt3').css({ 'borderColor': '#333', 'backgroundColor': '#fff' })
            $(this).find('.cloud_prt3 img').attr('src', './img/s_cloud_ic_hiss_gray3.png')
        })
    </script>
    <script type="text/javascript">
        $(function () {
            var winWidth, winHeight;
            var win_h = $(window).height() * 0.64;
            var win_height = $(window).height() * 1;
            function funHeight(n, c) {
                var F_high = $(window).scrollTop();
                var t = $(n).offset().top;
                if (F_high > t - win_h) {
                    $(c).addClass("animated fadeInUp");
                }
                if (F_high == 0) {
                    // $(c).removeClass("animated fadeInUp");
                }
            };
            $(window).scroll(function () {
                funHeight(".animate_p1", ".OS_part2");
                funHeight(".animate_p1", ".OS_part3");
                funHeight(".animate_p1", ".OS_part4");
                funHeight(".animate_p2", ".anpt1");
                funHeight(".animate_p2", ".anpt2");
                funHeight(".animate_p2", ".anpt3");
                funHeight(".animate_p3", ".OS_part5");
                funHeight(".animate_p3", ".OS_part51");
                funHeight(".animate_p3", ".OS_part52");
                funHeight(".animate_p5", ".OS_part7");
                funHeight(".animate_p5", ".OS_part71");
                funHeight(".animate_p5", ".OS_part72");
                funHeight(".anipt8", '.anipt8');
                funHeight(".anipt9", '.anipt9');
            })
        });
    </script>
</body>
</html>