<!DOCTYPE html>
<html lang="en">
<head>
    <title>智普信科技</title>
    <meta charset="utf-8">
    <link rel="icon" href="img/logo.png" type="image/x-icon">
    <link rel="shortcut icon" href="img/logo1.png" type="image/x-icon" />
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/inner.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/footer-color.css" type="text/css" media="screen">
    <!-- CSS STYLE -->
    <link rel="stylesheet" href="css/rs-plugin/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/rs-plugin/preview.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/elements.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/animate.min.css" type='text/css'>
    <!--[if lt IE 9]>
    <link href='http//fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/docs.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
  <![endif]-->
    <link rel="stylesheet" href="css/keyframes.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/safirst.css">
    <link rel="stylesheet" href="css/imagehover.min.css">
    <link rel="stylesheet" href="css/office-se.css">
    <style>
        .ft16 {
            font-size: 16px !important;
        }
        .list-services li:first-child figure {
            float: left;
            margin: 60px 15px 6px 0;
            border: none;
        }
        .list-services li:nth-child(2) figure {
            float: left;
            margin: 40px 15px 6px 0;
            border: none;
        }
        .list-services li:nth-child(3) figure {
            float: left;
            margin: 40px 15px 6px 0;
            border: none;
        }
        .list-services li:nth-child(4) figure {
            float: left;
            margin: 40px 15px 6px 0;
            border: none;
        }
        .list-services li:nth-child(5) figure {
            float: left;
            margin: 50px 15px 6px 0;
            border: none;
        }
        .ft14 {
            font-size: 14px;
        }
        .title {
            background: none;
            margin-top: 130px;
        }
        .title i {
            display: inline-block;
            width: 63px;
            height: 63px;
            background: url(img/index-title.png) no-repeat;
            background-size: 100%;
            float: left;
            margin-right: 15px;
            margin-top: 27px;
        }
        .title h4 {
            font-size: 36px;
            text-align: left;
        }
        .title h4 span {
            font-size: 28px;
            color: #8a8a8a
        }
        [class*=' imghvr-'], [class^=imghvr-]{
            background-color:rgba(78,179,247,.7)
        }
    </style>
</head>
<body class="home-page stretched">
    <div id="wrapper">
        <!--==============================header=================================-->
        <div id='head' class=" clearfix" style='height: 60px;
        background: #fff;
        z-index: 1000;
        position: absolute;
        width: 100%;'>
                <!-- Logo & Navigation -->
                <div class='header' style='height: 60px;background:#fff;' id='header'>
                    <div class="container">
                        <div class="row ">
                            <div class="span12" style='height: 60px;'>
                                <!-- Logo -->
                                <h1 class="brand brand_" style='margin-top:12px;'><a href="index.html"><img
                                            src="img/index_logo.png" alt=""></a></h1>
                                <!-- Navigation -->
                                <div class="navbar navbar_">
                                    <div class="container">
                                        <!--=========== menu ===============-->
                                        <div class="nav-collapse nav-collapse_ collapse">
                                            <ul class="nav sf-menu">
                                                <li class=" sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                                                    <a class="" href="javascript:;">解决方案</a>
                                                    <ul class="sub_sub_menu">
                                                        <li>
                                                            <a href="smart-office.html" class="sub_title"
                                                                img='img/ziyou.png'>智能办公</a>
                                                        </li>
                                                        <li>
                                                            <a href="office-se.html" class="sub_title"
                                                                img='img/jiaju.png'>共享空间</a>
                                                        </li>
                                                        <li>
                                                            <a href="shared-parking.html" class="sub_title"
                                                                img='img/gongyu.png'>共享停车</a>
                                                        </li>
                                                        <li>
                                                            <a href="shared-storage.html" class="sub_title"
                                                                img='img/shequ.png'>共享仓储</a>
                                                        </li>
                                                        <li>
                                                          <a href="cloud.html" class="sub_title"
                                                              img='img/shequ.png'>智能安防云</a>
                                                        </li>
                                                        <li>
                                                            <a href="baoguan.html" class="sub_title"
                                                                img='./img/gongxiang.png'>重要物品保管</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class=" sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                                                    <a class="" href="product-center.html" target="_blank">产品中心</a>
                                                </li>
                                                <li class="sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                                                    <a class="" href="customer-case.html">客户案例</a>
                                                </li>
                                                <li class="sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                                                    <a class="" href="news.html">新闻动态</a>
                                                </li>
                                                <li  class="sub-menu main-menu about" style='margin-right:15px;padding: 0 6px;'>
                                                    <a class="" href="about.html">关于智普信</a>
                                                    <ul class="sub_sub_menu">
                                                        <li>
                                                            <a href="about.html" class="sub_title"
                                                                img='img/ziyou.png'>公司介绍</a>
                                                        </li>
                                                        <li>
                                                            <a href="about.html#part4"  class="sub_title"
                                                                img='img/jiaju.png'>品牌理念</a>
                                                        </li>
                                                        <li>
                                                            <a href="about.html#part5" class="sub_title"
                                                                img='img/gongyu.png'>发展历程</a>
                                                        </li>
                                                        <li>
                                                            <a href="about.html#part7" class="sub_title"
                                                                img='img/shequ.png'>专利认证</a>
                                                        </li>
                                                        <li>
                                                            <a href="about.html#part9" class="sub_title"
                                                                img='./img/gongxiang.png'>联系我们</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!--==============================content=================================-->
        <img class='resp_show' src="./img/phone/images/office_02.png" alt="" style='width:100%;display:none;'>
        <section class='resp_noneimg' id="content" style='background:#fff;padding-bottom: 0;'>
            <!-- sfd_part1 -->
            <div class="part1" style='background:#f6f6f6'>
                <img src="./img/case_img_banner.png" alt="">
                <div class="prt1_text">
                    <h2 style='color:#fff;'>客户案例</h2>
                    <p style='font-size:36px;text-align: center;color:#fff;'>CUSTOMER CASE</p>
                </div>
            </div>
            <div class="part2" style='padding-top:30px;padding-bottom: 100px;background: #eee'>
                <div class="container">
                    <div class="cust-case" style="background: #fff;margin-top:80px;overflow: hidden;height: 430px;">
                        <div style='width:30%;float:left;height: 100%;'>
                            <img src="./img/case_img_museum.png" alt="" style='width:100%;height: 100%;'>
                        </div>
                        <div class="resp-custo" style='text-align: left;padding:60px;font-size:16px;box-sizing: border-box;width:70%;float:left;'>
                            <h2 style='text-align: left;font-size:40px;'>冬宫智慧博物馆</h2>
                            <p>通过识别技术，结合艺术品的特性以及独特的安全软硬件产品，为艺术品从<span style='font-weight: bold;'>防伪识别，出入库管理，保存环境管控，移动运输，展示管理，</span>到 <span style='font-weight: bold;'>流转增值</span>，最后成为数字化数据库，为艺术品保驾护航。</p>
                            <p>艺术品管控系统核心功能：自有知识产权安全软件结合全球唯一识别码，确保艺术品不被复制；远程网络控制电子锁，满足多数量级别统一管理；移动追溯系统，各安全级别实时预警；可定制软硬件将物品从运输到管理做联网实时监控；精确的可调式温湿度管控和防篡改功能。</p>
                        </div>
                    </div>
                    <div class="cust-case" style="background: #fff;margin-top:60px;overflow: hidden;height: 430px;">
                        <div style='width:30%;float:left;height: 430px;'>
                            <img src="./img/case_img_scenic.png" alt="" style='width:100%;height: 100%;'>
                        </div>
                        <div class="resp-custo" style='text-align: left;padding:60px;font-size:16px;box-sizing: border-box;width:70%;float:left;'>
                            <h2 style='text-align: left;font-size:40px;'>鸡公山智慧景区</h2>
                            <p>基于物联网和人工智能技术， 开发出了整套的端到端的景区安全与智能管控系统。通过信息的数据化和安全逻辑算法，减少了人在判断和执行过程中产生的失误，将传统安全的事后处理模式转变为事前预警模式。</p>
                            <p>通过覆盖四个景区的200多个高清摄像头，掌握到各个景区的实流人数。通过平台的数据分析，引导游客前往防空洞、报晓峰等景区进行游览，以确保不会出现人满为患的糟糕旅游体验。其不仅开启了智慧旅游的新时代，也推进了景区依托原有生态资源和历史底蕴实现立体发展、打造全域旅游的转型。</p>
                        </div>
                    </div>
                    <div class="cust-case" style="background: #fff;margin-top:60px;overflow: hidden;height: 430px;">
                        <div style='width:30%;float:left;height: 430px;'>
                            <img src="./img/case_img_bullet.png" alt="" style='width:100%;height: 100%;'>
                        </div>
                        <div class="resp-custo" style='text-align: left;padding:60px;font-size:16px;box-sizing: border-box;width:70%;float:left;'>
                            <h2 style='text-align: left;font-size:40px;'>枪弹智能管理</h2>
                            <p>智普信协助多个公安局完成枪支智能管理系统的部署，此套枪支智能管理系统完全符合并高于公安部2013年最新智能枪弹柜标准，以国家十二五规划重点建设的物联网技术为核心，开创了国内枪支远程可视化监控管理的物联网应用先河，使我国枪支管理迈入智能化管理时代。解决了人工管理方式下的种种管理难点，提高了枪支管理的安全性同时兼顾了枪支领用的效率要求。整套系统中高智能化、高可靠性、高安全性等多种高新技术的应用带来的管理方式变革为北京市乃至全国公安系统枪支管理树立了新的标准。
                            </p>
                        </div>
                    </div>
                    <div class="cust-case" style="background: #fff;margin-top:60px;overflow: hidden;height: 430px;">
                        <div style='width:30%;float:left;height: 430px;'>
                            <img src="./img/case_img_office.png" alt="" style='width:100%;height: 100%;'>
                        </div>
                        <div class="resp-custo" style='text-align: left;padding:60px;font-size:16px;box-sizing: border-box;width:70%;float:left;'>
                            <h2 style='text-align: left;font-size:40px;'>智慧办公</h2>
                            <p>智普信与“成功之旅”（广州成功之路国际旅行社有限公司）合作，安装了数十套轻量化办公套装。该套装内容包括 <span style='font-weight: bold;'>人脸门禁、指纹门锁、文件柜、摄像头、APP</span> 及<span style='font-weight: bold;'>WEB管理后台</span>，有效地解决了企业在人员管理、出入安全、访客邀请管理、会议室预订管理以及设备智能管控等方面的问题，帮助企业迈入智能办公行列。</p>
                        </div>
                    </div>
                </div>
            </div>  
    </div>
   </section>
    <!--==============================footer=================================-->
    <footer>
        <div id="footer" class="section-3 footer-dark" style='height:230px;'>
            <div class="container">
                <div style='display: flex;margin-top:80px;'>
                    <div style='width:650px;'>
                        <p style='color:#e0e0e0;font-size:22px;'>客服电话: <span style="font-weight: bold;font-size:32px">400-928-1122</span> </p>
                        <p  style='color:#e0e0e0;font-size:22px;'>服务时间:  周一到周五9:30-18:00</p>
                    </div>
                    <div style='width:650px;text-align:right;margin-top:-13px;'>
                        <p><img src="./img/logo_footer.png" alt=""></p>
                        <p style='color:#e0e0e0;font-size:22px;'>zps@zeepson.com</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer 2 -->
        <div id="copyrights" class="footer-2 footer-dark">
            <div class="container">
                <div class="row">
                    <div class="span12" style="font-size:14px;">
                        Copyright © 2012-2019. 智普信科技 ｜
                        <a href="http://www.beian.miit.gov.cn"> <span style="color:#c0c0c0;">京ICP备09017907</span> </a></div>
                </div>
            </div>
        </div>
    </footer>
    </div>
   
    <script  type="text/javascript" src='js/jquery.js'></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.sliderTabs.js"></script>
    <script type="text/javascript" src="js/jquery.ui.totop.js"></script>
    <script type="text/javascript" src="js/prettify.js"></script>
    <script type="text/javascript" src="js/tabs.js"></script>
    <!-- Sitemap  -->
    <script type="text/javascript" src="js/sitemap.js"></script>
    <!-- Navigation  -->
    <script type="text/javascript" src="js/nav-small.js"></script>
    <script type="text/javascript" src="js/jquery.mobilemenu.js"></script>
    <!-- Isotope  -->
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="js/jquery.mousewheel.js"></script>
    <!-- Elastislider  -->
    <script>
        $('.part1 .prt1_text').addClass('on');
        </script>
    <!-- Revolution Slider  -->
    <script>
    </script>
    <script type="text/javascript">
        $(function(){
            var winWidth, winHeight;
    var win_h = $(window).height() * 0.64;
    var win_height = $(window).height() * 1;
    function funHeight(n, c) {
      var F_high = $(window).scrollTop();
      var t = $(n).offset().top;
      if (F_high > t - win_h) {
        $(c).addClass("animated fadeInUp");
      }
      if (F_high == 0) {
        // $(c).removeClass("animated fadeInUp");
      }
    };

});
    </script>
</body>
</html>