<!DOCTYPE html>
<html lang="en">
<head>
    <title>智普信科技</title>
    <meta charset="utf-8">
    <link rel="icon" href="img/logo.png" type="image/x-icon">
    <link rel="shortcut icon" href="img/logo1.png" type="image/x-icon" />
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/inner.css" type="text/css" media="screen">
    <link rel="stylesheet" href="demo/switcher.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/es-carousel.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/footer-color.css" type="text/css" media="screen">
    <!-- CSS STYLE -->
    <link rel="stylesheet" href="css/rs-plugin/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/rs-plugin/preview.css" type="text/css" media="screen" />
    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" href="css/rs-plugin/settings.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/elements.css" type="text/css" media="screen">
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="css/docs.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
  <![endif]-->
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/keyframes.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/safirst.css">
    <link rel="stylesheet" href="css/hisssafe_function.css">
   <link rel="stylesheet" href="css/disney.css">
    <style>
        .ft16{
          font-size: 16px!important;
        }
        .list-services li:first-child figure { 
          float: left;
           margin: 60px 15px 6px 0; 
           border:none;
           }
           .list-services li:nth-child(2) figure { 
          float: left;
           margin: 40px 15px 6px 0; 
           border:none;
           }
             .list-services li:nth-child(3) figure { 
          float: left;
           margin: 40px 15px 6px 0;
           border:none; 
           }
             .list-services li:nth-child(4) figure { 
          float: left;
           margin: 40px 15px 6px 0;
           border:none; 
           }
              .list-services li:nth-child(5) figure { 
          float: left;
           margin: 50px 15px 6px 0;
           border:none; 
           }
           .ft14{
             font-size: 14px;
           }
           .title{
          background: none;
          margin-top:130px;
        }
        .title i{
          display: inline-block;
          width:63px;
          height: 63px;
          background: url(img/index-title.png) no-repeat;
          background-size:100%;
          float:left;
          margin-right:15px;
          margin-top: 27px;
        }
        .title h4{
          font-size:36px;
          text-align: left;
        }
        .title h4 span{
          font-size:28px;
          color:#8a8a8a
        }
        .breadcrumb-wrapper h2 i{
            left:73px;
        }
          </style>
</head>
<body class="home-page stretched">
    <div id="wrapper">
        <!--==============================header=================================-->
        <div id='head' class=" clearfix" style='height: 60px;
        background: #fff;
        z-index: 1000;
        width: 100%;'>
            <!-- Logo & Navigation -->
            <div class='header' style='height: 60px;' id='header'>
                <div class="container">
                    <div class="row ">
                        <div class="span12" style='height: 60px;'>
                            <!-- Logo -->
                            <h1 class="brand brand_" style='margin-top:12px;'><a href="index.html"><img
                                        src="img/index_logo.png" alt=""></a></h1>
                            <!-- Navigation -->
                            <div class="navbar navbar_">
                                <div class="container">
                                    <!--=========== menu ===============-->
                                    <div class="nav-collapse nav-collapse_ collapse">
                                        <ul class="nav sf-menu">
                                            <li class=" sub-menu main-menu" style='margin-right:15px;padding: 0 10px;'>
                                                <a class="" href="product-center.html">产品中心</a>
                                                <ul class="sub_sub_menu product" style='top:46px;'>
                                                    <a href="safirst.html">
                                                        <dl style='margin-left:30%;text-align: center;margin-top:40px;'>
                                                            <dt>
                                                                <img src="./img/_icon_product_safirst.png" alt="">
                                                            </dt>
                                                            <dd style='margin-left:-2px;font-size:14px;margin-top:16px;'>
                                                                Safirst</dd>
                                                            <dd style='margin-left:-2px;font-size:14px;'>初柜</dd>
                                                        </dl>
                                                    </a>
                                                    <a href="leBox.html">
                                                        <dl style='margin-left:3%;text-align: center;margin-top:40px;'>
                                                            <dt>
                                                                <img src="./img/_icon_product_le.png" alt="">
                                                            </dt>
                                                            <dd style='margin-left:-2px;font-size:14px;;margin-top:16px;'>
                                                                Le-Box</dd>
                                                            <dd style='margin-left:-2px;font-size:14px;'>乐盒</dd>
                                                        </dl>
                                                    </a>
                                                    <a href="O_S.summary.html">
                                                        <dl style='margin-left:3%;text-align: center;margin-top:40px;'>
                                                            <dt>
                                                                <img src="./img/_icon_product_os.png" alt="">
                                                            </dt>
                                                            <dd style='margin-left:-2px;font-size:14px;;margin-top:16px;'>
                                                                O.S Cabinet</dd>
                                                            <dd style='margin-left:-2px;font-size:14px;'>智能办公柜</dd>
                                                        </dl>
                                                    </a>
                                                    <a href="HISSSafe-summary.html">
                                                        <dl style='margin-left:3%;text-align: center;margin-top:40px;'>
                                                            <dt>
                                                                <img src="./img/_icon_product_safe.png" alt="">
                                                            </dt>
                                                            <dd style='margin-left:-2px;font-size:14px;;margin-top:16px;'>
                                                                Hiss Safe</dd>
                                                            <dd style='margin-left:-2px;font-size:14px;'>智能保险柜</dd>
                                                        </dl>
                                                    </a>
                                                    <a href="smart-access.html">
                                                        <dl style='margin-left:3%;text-align: center;margin-top:40px;'>
                                                            <dt>
                                                                <img src="./img/_icon_product_access.png" alt="">
                                                            </dt>
                                                            <dd style='margin-left:-2px;font-size:14px;;margin-top:16px;'>
                                                                Smart Access</dd>
                                                            <dd style='margin-left:-2px;font-size:14px;'>智能门禁</dd>
                                                        </dl>
                                                    </a>
                                                </ul>
                                            </li>
                                            <li class="sub-menu main-menu" style='margin-right:50px;padding: 0 10px;'>
                                                <a class="" href="download-app.html">技术服务</a>
                                                <ul class="sub_sub_menu" style='width:110px;'>
                                                    <li>
                                                        <a href="download-app.html" class="sub_title"
                                                            img='img/jiaju.png'>下载APP</a>
                                                    </li>
                                                    <li>
                                                        <a href="download-app.html#manual" class="sub_title"
                                                            img='img/gongyu.png'>下载使用手册</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="sub-menu main-menu" style='margin-right:15px;padding: 0 10px;'>
                                                <a data-toggle="modal" href="#myModal"
												style='color:#28a5fa!important'>在售商城</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	<!-- Modal -->
	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel"> <i class="sales"></i> 请选择在售商城</h3>
		</div>
		<div class="modal-body">
			<div style='display: flex;'>
				<div>
					<a href="https://mall.jd.com/index-900497.html" target="_blank"><img src="./img/img_code_j.png" alt=""></a>
					<p style='text-align: center;font-weight: bold;'>点击进入商城 或 <br>京东APP扫码进入</p>
				</div>
				<div>
					<a href="https://hissznsb.tmall.com/" target="_blank"><img src="./img/img_code_t.png" alt=""></a>
					<p style='text-align: center;font-weight: bold;'>点击进入商城 或 <br>淘宝APP扫码进入</p>
				</div>
				<div>
					<a href="http://mp.weixin.qq.com/bizmall/mallshelf?id=&t=mall/list&biz=MzA5NjIyODYyNQ==&shelf_id=1&showwxpaytitle=1#wechat_redirect" target="_blank"><img src="./img/img_code_w.png" alt=""></a>
					<p style='text-align: center;font-weight: bold;margin-top:16px'>微信扫码进入</p>
				</div>
			</div>
		</div>
	</div>
        <div id='leBox_info' class="breadcrumb-wrapper" style='height:47px;'>
            <div class="container">
              <div class="header" style='background:transparent;padding:0'>
                  <h2 style='color:#fff;font-size: 18px;'>
                        <img src="./img/le-box-logo@2x.png" style='margin-top: -6px;'>
                    </h2>
                    <ul class="breadcrumb fright sub_nav" style='line-height: 62px;margin-right:37px!important;'>
                        <li><a href="leBox.html">概述</a> &nbsp;&nbsp;&nbsp;&nbsp;</li>
                        <li><a href="disney.html" style='color:#28a5fa'>Disney</a> &nbsp;&nbsp;&nbsp;&nbsp;</li>
                        <li > <a href="Design.html" >设计</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                        <li ><a href="Function.html" >功能 &nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                        <li style='margin-right:5px;'> <a href="technical_specifications.html"  >技术规格</a></li>
                    </ul>
              </div>
            </div>
        </div>   
        <!--==============================content=================================-->
        <section id="content" >
            <div class="disney">
                <div class="disney_part1">
                </div>
                <div class="disney_part2">
                    <div class="disney_part2_title">
                        <p>
                            Le-Box 是HISS与Disney团队合作的结晶，集智能核心、超前的创新设计和丰富的功能体验为一体。独树一帜的设计风格，兼具实用和美观。目前Le-Box推出的英雄系列深受人们喜爱，艳丽的色彩搭配卡通英雄形象，使Le-Box更显时尚与精巧。除了英雄系列，HISS还将陆续推出不同主题的Le-Box，敬请期待。</p>
                        <a href="https://hissznsb.tmall.com/shop/view_shop.htm?spm=a220m.1000862.1000730.3.7594451bW0UVdg&amp;user_number_id=3165086729&amp;rn=8aa94eca3226d748fe1417a5f382dc65" target="_blank">立即购买 &gt;</a>
                    </div>
                </div>
                <!-- disney_part3 -->
                <div class="disney_part3 animate_p1">
                    <div class="hiss_header_content">
                        <div class="disney_t ">
                            <img src="./img/le-box-disney011.png" alt="">
                        </div>
                        <div class="disney_l delay05">
                            <img src="./img/le-box-disney012.png" alt="">
                        </div>
                        <div class="disney_r disney_r delay05" style="margin-top:35px;">
                            <h3>Iron Man</h3>
                            <p>朱红与明黄的搭配，与钢铁侠战衣的配色相同。现有Le-Box及Le-Box mini两款可供选择</p>
                        <span>标准 400x300x250 mm | <a href="https://hissznsb.tmall.com/shop/view_shop.htm?spm=a220m.1000862.1000730.3.7594451bW0UVdg&amp;user_number_id=3165086729&amp;rn=8aa94eca3226d748fe1417a5f382dc65" target="_blank"><i>立即购买 &gt;</i></a></span>
                            <span>mini 250x170x170 mm | <a href="https://hissznsb.tmall.com/shop/view_shop.htm?spm=a220m.1000862.1000730.3.7594451bW0UVdg&amp;user_number_id=3165086729&amp;rn=8aa94eca3226d748fe1417a5f382dc65" target="_blank"><i>立即购买 &gt;</i></a></span>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                </div>
                <!-- disney-part4 -->
                <div class="disney_part4 animate_p2">
                    <div class="hiss_header_content">
                        <div class="disney_b">
                            <img src="./img/le-box-disney_001.png" alt="">
                        </div>
                        <div class="disney_l">
                            <img src="./img/le-box-disney002.png" alt="">
                        </div>
                        <div class="disney_r disney_r" style="margin-top:50px;">
                            <h3>Captain America</h3>
                            <p>灵感源于美国队长第二十一代战衣，传承大众最熟悉与喜爱的美国队长配色方案。现有Le-Box及Le-Box mini两款可供选择。</p>
                            <span>标准 400x300x250 mm | <a href="https://hissznsb.tmall.com/shop/view_shop.htm?spm=a220m.1000862.1000730.3.7594451bW0UVdg&amp;user_number_id=3165086729&amp;rn=8aa94eca3226d748fe1417a5f382dc65" target="_blank"><i>立即购买 &gt;</i></a></span>
                            <span>mini 250x170x170 mm | <a href="https://hissznsb.tmall.com/shop/view_shop.htm?spm=a220m.1000862.1000730.3.7594451bW0UVdg&amp;user_number_id=3165086729&amp;rn=8aa94eca3226d748fe1417a5f382dc65" target="_blank"><i>立即购买 &gt;</i></a></span>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                </div>
                <!-- disney-part4结束 -->
                <!-- disney_part5 -->
                <div class="disney_part5 animate_p3">
                    <div class="hiss_header_content">
                        <div class="disney_t">
                            <img src="./img/le-box-disney_02.png" alt="">
                        </div>
                        <div class="disney_l">
                            <img src="./img/le-box-disney_06.png" alt="">
                        </div>
                        <div class="disney_r disney_r">
                            <div style='margin-bottom: 34px;color:#2b2b2b;font-size:32px;'>Black Widow</div>
                            <p>黑寡妇是英雄系列中唯一的女性角色，桃粉与浅粉的搭配，赋予这款Le-Box浪漫和幻想。现有Le-Box及Le-Box mini两款可供选择</p>
                            <span>标准 400x300x250 mm | <a href="https://hissznsb.tmall.com/shop/view_shop.htm?spm=a220m.1000862.1000730.3.7594451bW0UVdg&amp;user_number_id=3165086729&amp;rn=8aa94eca3226d748fe1417a5f382dc65" target="_blank"><i>立即购买 &gt;</i></a></span>
                            <span>mini 250x170x170 mm | <a href="https://hissznsb.tmall.com/shop/view_shop.htm?spm=a220m.1000862.1000730.3.7594451bW0UVdg&amp;user_number_id=3165086729&amp;rn=8aa94eca3226d748fe1417a5f382dc65" target="_blank"><i>立即购买 &gt;</i></a></span>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                </div>
                <!-- disney_part5结束 -->
                <!-- disney_part6 -->
                <div class="disney_part6 animate_p4">
                    <div class="hiss_header_content">
                        <div class="disney_b anther">
                            <img src="./img/le-box-disney_07.png" alt="">
                        </div>
                        <div class="disney_l">
                            <img src="./img/le-box-disney_03.png" alt="">
                        </div>
                        <div class="disney_r disney_r">
                            <h3>Hulk</h3>
                            <p>喷漆以标志性的草绿色为主，绿巨人刀枪不入的身体与Le-Box安全性能呼应，相得益彰。现有Le-Box及Le-Box mini两款可供选择</p>
                            <span>标准 400x300x250 mm | <a href="https://hissznsb.tmall.com/shop/view_shop.htm?spm=a220m.1000862.1000730.3.7594451bW0UVdg&amp;user_number_id=3165086729&amp;rn=8aa94eca3226d748fe1417a5f382dc65" target="_blank"><i>立即购买 &gt;</i></a></span>
                            <span>mini 250x170x170 mm | <a href="https://hissznsb.tmall.com/shop/view_shop.htm?spm=a220m.1000862.1000730.3.7594451bW0UVdg&amp;user_number_id=3165086729&amp;rn=8aa94eca3226d748fe1417a5f382dc65" target="_blank"><i>立即购买 &gt;</i></a></span>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                </div>
                <!-- disney_part6结束 -->
                <!-- disney_part7 -->
                <div class="disney_part7 ">
                    <div class="disney_part7_title">
                        <a href="javascript:void(0);">查看Disney授权 &gt;</a>
                    </div>
                </div>
                <!-- disney_part7结束 -->
                <div class="disney_part8">
                    <div class="hiss_header_content">
                        <div class="disney_img">
                            <img src="./img/le-box-disney03.png">
                        </div>
                        <div class="next_contect">
                            <span>下一步</span>
                            <p>Le-Box设计元素</p>
                            <h2 style='text-align: left;margin:0 0 20px 0;'>与众不同的Le-Box</h2>
                            <aside>了解Le-Box的设计</aside>
                            <a href="Design.html">下一章：设计 &gt;</a>
                        </div>
                    </div>
                </div>
            </div>
       </section>
         <!-- 视频播放 -->
         <div class="video_mess" style="height: 7042px; display: none;">
            <div class="video_tan"></div>
            <video id="video_tan" width="1000px;" controls="controls">
                <source src="http://o-website.oss-cn-shanghai.aliyuncs.com/osite/jd_zc.mp4" type="video/mp4">
                public1leBox.2
              </video>
        </div>
        <footer>
            <!-- footer 2 -->
            <div id="copyrights" class="footer-2 footer-dark">
                <div class="container">
                    <div class="row">
                        <div class="span12" style="font-size:14px;">
                            Copyright © 2012-2019. 智普信科技 ｜
                            <a href="http://www.beian.miit.gov.cn"> <span style="color:#c0c0c0;">京ICP备09017907</span> </a></div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src='js/jquery.js'></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.sliderTabs.js"></script>
    <!-- jQuery Slider  -->
    <script type="text/javascript" src="js/rs-plugin/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="js/rs-plugin/jquery.themepunch.revolution.min.js"></script>
    <!-- Elastislider  -->
    <script type="text/javascript" src="js/jquery.elastislide.js"></script>
    <script type="text/javascript" src="js/carousel.js"></script>
    <!-- totop  -->
    <script type="text/javascript" src="js/jquery.ui.totop.js"></script>
    <script type="text/javascript" src="js/prettify.js"></script>
    <script type="text/javascript" src="js/jquery.gridrotator.js"></script>
    <script type="text/javascript" src="js/jquery.mobile.customized.min.js"></script>
    <script type="text/javascript" src="js/tabs.js"></script>
    <!-- Sitemap  -->
    <script type="text/javascript" src="js/sitemap.js"></script>
    <!-- Navigation  -->
    <script type="text/javascript" src="js/nav-small.js"></script>
    <script type="text/javascript" src="js/jquery.mobilemenu.js"></script>
    <!-- Isotope  -->
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    <!-- Metro Style  -->
    <script type="text/javascript" src="js/boxgrid.js"></script>
    <script type='text/javascript' src='js/video.js'></script>
    <script type='text/javascript' src='js/swiper.min.js'></script>
    <!-- Elastislider  -->
    <script>
          $('.product').width($(window).width()+20);
	$('.suo_k').width($(window).width()+20);
	var leftpx=$('.product').parent().offset().left;
	console.log($('.product').parent().offset().left);
	$('.product').css('left',-leftpx-10);
       </script>
    <!-- Revolution Slider  -->
    <script>
       var api;
        jQuery(document).ready(function () {
            api = jQuery('.fullwidthabnner').revolution(
                {
                    delay: 2000,
                    startheight: 370,
                    startwidth: 960,
                    hideThumbs: 10,
                    thumbWidth: 100,							// Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
                    thumbHeight: 50,
                    thumbAmount: 5,
                    navigationType: "both",					//bullet, thumb, none, both		(No Thumbs In FullWidth Version !)
                    navigationArrows: "verticalcentered",		//nexttobullets, verticalcentered, none
                    navigationStyle: "round",				//round,square,navbar
                    touchenabled: "on",						// Enable Swipe Function : on/off
                    onHoverStop: "off",						// Stop Banner Timet at Hover on Slide on/off
                    navOffsetHorizontal: 0,
                    navOffsetVertical: 20,
                    stopAtSlide: -1,
                    stopAfterLoops: -1,
                    shadow: 1,								//0 = no Shadow, 1,2,3 = 3 Different Art of Shadows  (No Shadow in Fullwidth Version !)
                    fullWidth: "on"							// Turns On or Off the Fullwidth Image Centering in FullWidth Modus
                });
        });
    </script>
    <script type="text/javascript">
        
        var F_high;
	$(window).scroll(function(){
		F_high = $(window).scrollTop();
		if(F_high > 70){
			$("#leBox_info").addClass("on");
			$(".Experience_Center_menu").addClass("on")
			$(".leBox_fixed").addClass('on')
			$(".my_order_nav").addClass("on")
		}else{
			$("#leBox_info").removeClass("on")
			$(".Experience_Center_menu").removeClass("on")
			$(".leBox_fixed").removeClass("on")
			$(".my_order_nav").removeClass("on")
		}
    });
        var win_h =  $(window).height();
        var n = 0;
    $(function(){
	/*窗口大小*/
var winWidth,winHeight;
var win_h =  $(window).height()*0.6;
var win_height = $(window).height()*1;
	$(window).scroll(function(){
        funHeight(".animate_p3" , ".disney_part5 .disney_t");
		funHeight(".animate_p3" , ".disney_part5 .disney_l");
		funHeight(".animate_p3" , ".disney_part5 .disney_r");
		funHeight(".animate_p3" , ".pro_part8 .pro_part8_left_contect");
        funHeight(".animate_p2" , ".disney_part4 .disney_b");
		funHeight(".animate_p2" , ".disney_part4 .disney_l");
        funHeight(".animate_p2" , ".disney_part4 .disney_r");
        funHeight(".animate_p4" , ".disney_part6 .disney_b");
		funHeight(".animate_p4" , ".disney_part6 .disney_l");
		funHeight(".animate_p4" , ".disney_part6 .disney_r");
		funHeight(".animate_p1" , ".disney_part3 .disney_t");
		funHeight(".animate_p1" , ".disney_part3 .disney_l");
        funHeight(".animate_p1" , ".disney_part3 .disney_r");
	})
function funHeight(n , c){
		var F_high = $(window).scrollTop();
		var t = $(n).offset().top;
		if(F_high > t - win_h){
			$(c).addClass("on");
		}
		if(F_high == 0){
			$(c).removeClass("on");
		}
}
});
    </script>
</body>
</html>