<footer>
    <div id="footer" class="section-3 footer-dark" style='height:405px;'>
      <div class="container">
        <div class="row">
          <div class="span3" style='margin-top:60px'>
            <img src="./img/logo_footer.png" alt="" style='width:105px;height:40px;max-width: none;'>
            <div style='font-size:22px;margin-top:20px;margin-bottom: 45px;'>关于智普信</div>
            <ul>
              <li><a  href="about.html">公司介绍</a></li>
              <li><a href="about.html#part4">品牌理念</a></li>
              <li><a href="about.html#part5" >发展历程</a></li>
              <li><a href="about.html#part7">专利认证</a></li>
              <li><a href="about.html#part9">联系我们</a></li>
            </ul>
          </div>
          <div class="span3" style='margin-top:5%;'>
            <div> 
              <h2 style='text-align: left;color:#fff;margin-top:45px;font-size:20px;'>北京总部 </h2>
              <div>电话：010-8447-1877 400-928-1122</div>
              <div>邮箱：zps@zeepson.com</div>
              <div>地址：北京市 朝阳区 朝外大街乙6号 朝外SOHO B座0608室</div>
            </div>
            <div>
                <h2 style='font-size:14px;text-align: left;margin-top:35px;color:#fff;font-size:20px;'>无锡分部 </h2>
                <div>电话：0510-85678888</div>
                <div>邮箱：zps@zeepson.com</div>
                <div>地址：江苏省 无锡市 锡山区 翠山路488号锡东创谷C栋509</div>
            </div>
          </div>
          <div class="span3" style='margin-top:5.5%;' id='concact'>
              <h2 style='font-size:20px;text-align: left;color:#fff;'>关注智普信公众号</h2>
              <ul class="codeshow" style='margin-top:50px;'>
                <li class="codewx">
                    <a href="javascript:;" class="wx_gray"></a>
                    <img class="code_wx" src="./img/index_code_wx.png" alt="" style='display: none;'>
                </li>
                <li class="wbgray">
                    <a href="javascript:;" class="wb_gray"></a>
                    <img class="code_wb" src="./img/index_code_wb.png" alt="" style='display: none;'>
                </li>
              </ul>
          </div>
          <div class="span3" style='margin-top:5.5%;'>
            <h2 style='font-size:20px;text-align: left;color:#fff;'>微信扫描进入商城购买</h2>
            <ul style='margin-top:55px' >
                <li class="codewx" style='float:left;margin-right:50px;'>
                    
                    <img class="" src="./img/index_ewm_jd.png" alt="" >
                </li>
                <li class="wbgray" style='float:left'>
                    
                    <img class="" src="./img/index_ewm_tm.png" alt="">
                </li>
              </ul>
        </div>
        </div>
      </div>
    </div>
    <!-- footer 2 -->
    <div id="copyrights" class="footer-2 footer-dark">
      <div class="container">
        <div class="row">
          <div class="span12" style="font-size:14px;">
            Copyright © 2012-2019. 智普信科技 ｜
            <a href="http://www.beian.miit.gov.cn"> <span style="color:#c0c0c0;">京ICP备09017907</span> </a></div>
        </div>
      </div>
    </div>
  </footer>
 