<div class="header">
    <div class="container" style="z-index: 1000;margin-top:10px">
    <div class="row">
        <div class="span12">
           <a href="index.html"  class="logo" ><img
                                        src="img/index_ic_logo.png" alt=""></a>
           <div class="navbar navbar_">
            <ul class="sub_sub_menu">
                <li class=" sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                    <a class="home" href="index.html" >首页</a>
                </li>
                <li class=" sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                    <a class="" href="smart-office.html" >解决方案</a>
                </li>
                <li class=" sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                    <a class="" href="product-center.html" >产品中心</a>
                </li>
                <li class=" sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                    <a class="news" href="news.html" >新闻动态</a>
                </li>
                <li class=" sub-menu main-menu" style='margin-right:45px;padding: 0 14px;'>
                    <a class="about" href="about.html" >关于智普信</a>
                </li>
            </ul>
           </div>                         
        </div>
    </div>
</div>
</div>

<!-- <div id='' class=" " >
            <!-- Logo & Navigation -->
            <!-- <div class='' style='height: 60px;' >
                <div class="container">
                    <div class="row ">
                        <div class="span12"> -->
                            <!-- Logo -->
                            <!-- <h1 class="brand brand_" ><a href="index.html"><img
                                        src="img/index_logo.png" alt=""></a></h1> -->
                            <!-- Navigation -->
                            <!-- <div class="navbar navbar_">
                                <div class="container">
                                  
                                    <div class="nav-collapse nav-collapse_ collapse">
                                        <ul class="nav sf-menu">
                                            <li class=" sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                                                <a class="" href="javascript:;">解决方案</a>
                                                <ul class="sub_sub_menu">
                                                    <li>
                                                        <a href="smart-office.html" class="sub_title"
                                                            img='img/ziyou.png'>智能办公</a>
                                                    </li>
                                                    <li>
                                                        <a href="office-se.html" class="sub_title"
                                                            img='img/jiaju.png'>共享空间</a>
                                                    </li>
                                                    <li>
                                                        <a href="shared-parking.html" class="sub_title"
                                                            img='img/gongyu.png'>共享停车</a>
                                                    </li>
                                                    <li>
                                                        <a href="shared-storage.html" class="sub_title"
                                                            img='img/shequ.png'>共享仓储</a>
                                                    </li>
                                                    <li>
                                                      <a href="cloud.html" class="sub_title"
                                                          img='img/shequ.png'>智能安防云</a>
                                                    </li>
                                                    <li>
                                                        <a href="baoguan.html" class="sub_title"
                                                            img='./img/gongxiang.png'>重要物品保管</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class=" sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                                                <a class="" href="product-center.html" target="_blank">产品中心</a>
                                            </li>
                                            <li class="sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                                                <a class="" href="customer-case.html">客户案例</a>
                                            </li>
                                            <li class="sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                                                <a class="" href="news.html">新闻动态</a>
                                            </li>
                                            <li  class="sub-menu main-menu about" style='margin-right:15px;padding: 0 6px;'>
                                                <a class="" href="about.html">关于智普信</a>
                                                <ul class="sub_sub_menu">
                                                    <li>
                                                        <a href="about.html" class="sub_title"
                                                            img='img/ziyou.png'>公司介绍</a>
                                                    </li>
                                                    <li>
                                                        <a href="about.html#part4"  class="sub_title"
                                                            img='img/jiaju.png'>品牌理念</a>
                                                    </li>
                                                    <li>
                                                        <a href="about.html#part5" class="sub_title"
                                                            img='img/gongyu.png'>发展历程</a>
                                                    </li>
                                                    <li>
                                                        <a href="about.html#part7" class="sub_title"
                                                            img='img/shequ.png'>专利认证</a>
                                                    </li>
                                                    <li>
                                                        <a href="about.html#part9" class="sub_title"
                                                            img='./img/gongxiang.png'>联系我们</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> --> 