<!DOCTYPE html>
<html lang="en">
<head>
    <title>智普信科技</title>
    <meta charset="utf-8">
    <link rel="icon" href="img/logo.png" type="image/x-icon">
    <link rel="shortcut icon" href="img/logo1.png" type="image/x-icon" />
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/inner.css" type="text/css" media="screen">
    <link rel="stylesheet" href="demo/switcher.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/es-carousel.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/footer-color.css" type="text/css" media="screen">
    <!-- CSS STYLE -->
    <link rel="stylesheet" href="css/rs-plugin/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/rs-plugin/preview.css" type="text/css" media="screen" />
    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" href="css/rs-plugin/settings.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/elements.css" type="text/css" media="screen">
    <!--[if lt IE 9]>
    <link href='http//fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/docs.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
  <![endif]-->
    <link rel="stylesheet" href="css/keyframes.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/safirst.css">
    <link rel="stylesheet" href="css/safirst_technical.css">
    <style>
        .sf_part2_list strong {
            display: block;
            font-style: normal;
            opacity: 0;
            font-weight: 400;
            position: relative;
            left: -80px;
        }
        .sf_part3 {
            position: relative;
        }
        .sf_video_play {
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(0, 0, 0, .5);
            top: 0;
            text-align: center;
            z-index: 1000;
            color: #FFF;
        }
        .hiss_header_content {
            width: 1002px;
            height: 100%;
            margin: 0 auto;
            position: relative;
        }
        .sf_part3_content {
            width: 740px;
            margin: 0 auto;
            letter-spacing: 1px;
            position: relative;
            top: 50%;
            margin-top: -140px;
        }
        .sf_part3_content h1 {
            color: #fff;
            font-weight: 300;
            margin-bottom: 32px;
        }
        .sf_part3_content p {
            color: #FFF;
            line-height: 40px;
            font-weight: 300;
        }
        .tp-rightarrow.large,.tp-leftarrow.large{
            opacity: 0!important;;
        }
        .list-services li:first-child figure { 
          float: left;
           margin: 60px 15px 6px 0; 
           border:none;
           }
           .list-services li:nth-child(2) figure { 
          float: left;
           margin: 40px 15px 6px 0; 
           border:none;
           }
             .list-services li:nth-child(3) figure { 
          float: left;
           margin: 40px 15px 6px 0;
           border:none; 
           }
             .list-services li:nth-child(4) figure { 
          float: left;
           margin: 40px 15px 6px 0;
           border:none; 
           }
              .list-services li:nth-child(5) figure { 
          float: left;
           margin: 50px 15px 6px 0;
           border:none; 
           }
           .ft14{
             font-size: 14px;
           }
        .title i{
          display: inline-block;
          width:63px;
          height: 63px;
          background: url(img/index-title.png) no-repeat;
          background-size:100%;
          float:left;
          margin-right:15px;
          margin-top: 27px;
        }
        .title h4{
          font-size:36px;
          text-align: left;
        }
        .title h4 span{
          font-size:28px;
          color:#8a8a8a
        }
        .breadcrumb-wrapper h2 i{
            left:73px;
        }
    </style>
</head>
<body class="home-page stretched">
    <div id="wrapper">
        <!--==============================header=================================-->
        <div id='head' class=" clearfix" style='height: 60px;
        background: #fff;
        z-index: 1000;
        width: 100%;'>
            <!-- Logo & Navigation -->
            <div class='header' style='height: 60px;background:#fff;' id='header'>
                <div class="container">
                    <div class="row ">
                        <div class="span12" style='height: 60px;'>
                            <!-- Logo -->
                            <h1 class="brand brand_" style='margin-top:12px;'><a href="index.html"><img
                                        src="img/index_logo.png" alt=""></a></h1>
                            <!-- Navigation -->
                            <div class="navbar navbar_">
                                <div class="container">
                                    <!--=========== menu ===============-->
                                    <div class="nav-collapse nav-collapse_ collapse">
                                        <ul class="nav sf-menu">
                                            <li class=" sub-menu main-menu" style='margin-right:15px;padding: 0 10px;'>
                                                <a class="" href="product-center.html" >产品中心</a>
                                                <ul class="sub_sub_menu product" style='top:46px;'>
                                                    <a href="safirst.html">
                                                        <dl style='margin-left:30%;text-align: center;margin-top:40px;'>
                                                            <dt>
                                                                <img src="./img/_icon_product_safirst.png" alt="">
                                                            </dt>
                                                            <dd style='margin-left:-2px;font-size:14px;margin-top:16px;'>
                                                                Safirst</dd>
                                                            <dd style='margin-left:-2px;font-size:14px;'>初柜</dd>
                                                        </dl>
                                                    </a>
                                                    <a href="leBox.html">
                                                        <dl style='margin-left:3%;text-align: center;margin-top:40px;'>
                                                            <dt>
                                                                <img src="./img/_icon_product_le.png" alt="">
                                                            </dt>
                                                            <dd style='margin-left:-2px;font-size:14px;;margin-top:16px;'>
                                                                Le-Box</dd>
                                                            <dd style='margin-left:-2px;font-size:14px;'>乐盒</dd>
                                                        </dl>
                                                    </a>
                                                    <a href="O_S.summary.html">
                                                        <dl style='margin-left:3%;text-align: center;margin-top:40px;'>
                                                            <dt>
                                                                <img src="./img/_icon_product_os.png" alt="">
                                                            </dt>
                                                            <dd style='margin-left:-2px;font-size:14px;;margin-top:16px;'>
                                                                O.S Cabinet</dd>
                                                            <dd style='margin-left:-2px;font-size:14px;'>智能办公柜</dd>
                                                        </dl>
                                                    </a>
                                                    <a href="HISSSafe-summary.html">
                                                        <dl style='margin-left:3%;text-align: center;margin-top:40px;'>
                                                            <dt>
                                                                <img src="./img/_icon_product_safe.png" alt="">
                                                            </dt>
                                                            <dd style='margin-left:-2px;font-size:14px;;margin-top:16px;'>
                                                                Hiss Safe</dd>
                                                            <dd style='margin-left:-2px;font-size:14px;'>智能保险柜</dd>
                                                        </dl>
                                                    </a>
                                                    <a href="smart-access.html">
                                                        <dl style='margin-left:3%;text-align: center;margin-top:40px;'>
                                                            <dt>
                                                                <img src="./img/_icon_product_access.png" alt="">
                                                            </dt>
                                                            <dd style='margin-left:-2px;font-size:14px;;margin-top:16px;'>
                                                                Smart Access</dd>
                                                            <dd style='margin-left:-2px;font-size:14px;'>智能门禁</dd>
                                                        </dl>
                                                    </a>
                                                </ul>
                                            </li>
                                            <li class="sub-menu main-menu" style='margin-right:50px;padding: 0 10px;'>
                                                <a class="" href="download-app.html">技术服务</a>
                                                <ul class="sub_sub_menu" style='width:110px;'>
                                                    <li>
                                                        <a href="download-app.html" class="sub_title"
                                                            img='img/jiaju.png'>下载APP</a>
                                                    </li>
                                                    <li>
                                                        <a href="download-app.html#manual" class="sub_title"
                                                            img='img/gongyu.png'>下载使用手册</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="sub-menu main-menu" style='margin-right:0;padding: 0;'>
                                                <a data-toggle="modal" href="#myModal"
												style='color:#28a5fa!important'>在售商城</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	<!-- Modal -->
	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel"> <i class="sales"></i> 请选择在售商城</h3>
		</div>
		<div class="modal-body">
			<div style='display: flex;'>
				<div>
					<a href="https://mall.jd.com/index-900497.html" target="_blank"><img src="./img/img_code_j.png" alt=""></a>
					<p style='text-align: center;font-weight: bold;'>点击进入商城 或 <br>京东APP扫码进入</p>
				</div>
				<div>
					<a href="https://hissznsb.tmall.com/" target="_blank"><img src="./img/img_code_t.png" alt=""></a>
					<p style='text-align: center;font-weight: bold;'>点击进入商城 或 <br>淘宝APP扫码进入</p>
				</div>
				<div>
					<a href="http://mp.weixin.qq.com/bizmall/mallshelf?id=&t=mall/list&biz=MzA5NjIyODYyNQ==&shelf_id=1&showwxpaytitle=1#wechat_redirect" target="_blank"><img src="./img/img_code_w.png" alt=""></a>
					<p style='text-align: center;font-weight: bold;margin-top:16px'>微信扫码进入</p>
				</div>
			</div>
		</div>
	</div>
            <div id='leBox_info' class="breadcrumb-wrapper" style='height:44px;'>
                <div class="container">
                  <div class="header" style='background:transparent;padding:0'>
                      <h2 style='color:#fff;font-size: 18px;'>保险柜</h2>
                      <ul class="breadcrumb fright sub_nav">
                          <li><a href="HISSSafe-summary.html">概述</a> &nbsp;&nbsp;&nbsp;&nbsp;</li>
                          <li > <a href="HISSSafe_design.html" >设计 &nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                          <li ><a href="HISSSafe_Function.html" >功能 &nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                          <li style='margin-right:15px;'> <a href="HISSSafe_Tec.html" style='color:#28a5fa'>技术规格</a> </li>
                          <!-- <li ><a href="https://hissznsb.tmall.com/index.htm" target="_blank">购买</a> </li> -->
                      </ul>
                  </div>
                </div>
            </div>   
        <!--==============================content=================================-->
        <section id="content">
            <div class="container">
                <!-- part1 -->
                <div class="ts_container">
                    <div class="ts_caption O_S_caption">
                        <h2>HISS Safe</h2>
                    </div>
                    <div class="sf_part3 ts_caption" style='padding-bottom: 0'>
                        <div class="color fl">
                            <b>外观配色</b>
                        </div>
                        <div class="fullwidthbanner-container" style='overflow: visible;height:470px;'>
                            <!-- <div class="shadowdrop"></div> -->
                            <div class="fullwidthabnner" style='max-height: 830px;max-width:700px;margin:0 auto'>
                                <ul class="sf_part5_list">
                                    <li data-transition="fade" data-slotamount="7" data-masterspeed="0"><img
                                            src="img/HISS_Tec_001.png" alt="" ></li>
                                    <li data-transition="fade" data-slotamount="10" data-masterspeed="0"><img
                                            src="img/HISS_Tec_002.png" alt="" ></li>
                                    <li data-transition="fade" data-slotamount="10" data-masterspeed="300"><img
                                            src="img/HISS_Tec_003.png" alt="" ></li>
                                    <li data-transition="fade" data-slotamount="10" data-masterspeed="300"><img
                                            src="img/HISS_Tec_004.png" alt="" ></li>
                                    <div class="clearfix" style="display: none;"></div>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="ts_caption">
                        <div class="ts_cell ts_one">
                            <b>型号</b>
                        </div>
                        <div class="ts_cell ts_two">
                            <p>HBG HISS Safe - 保险柜</p>
                        </div>
                    </div>
                    <div class="ts_caption HISS_Tec_size">
                        <div class="ts_cell ts_one">
                            <b>容积与尺寸</b>
                        </div>
                        <div class="ts_cell ts_two">
                            <div class="">
                                <p>外部尺寸</p>
                                <p>495 * 510 * 650mm</p>
                            </div>
                            <div class="">
                                <p>容积</p>
                                <p>90L</p>
                            </div>
                            <div>
                                <p>重量</p>
                                <p>50kg</p>
                            </div>
                            <div>
                                <img src="img/HISS_Tec_005.png" alt="">
                            </div>
                        </div>
                        <div class="ts_cell ts_three">
                            <div class="">
                                <p>外部尺寸</p>
                                <p>495 * 510 * 900mm</p>
                            </div>
                            <div class="">
                                <p>容积</p>
                                <p>126L</p>
                            </div>
                            <div>
                                <p>重量</p>
                                <p>68kg</p>
                            </div>
                            <div>
                                <img src="img/HISS_Tec_006.png" alt="">
                            </div>
                        </div>
                        <div class="ts_cell ts_four">
                            <div class="">
                                <p>外部尺寸</p>
                                <p>560 * 510 * 1200mm</p>
                            </div>
                            <div class="">
                                <p>容积</p>
                                <p>200L</p>
                            </div>
                            <div>
                                <p>重量</p>
                                <p>83kg</p>
                            </div>
                            <div>
                                <img src="img/HISS_Tec_007.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="ts_caption">
                        <div class="ts_cell ts_one">
                            <b>内饰</b>
                        </div>
                        <div class="ts_cell ts_two">
                            <p>复合面料内饰 - 墨绿</p>
                        </div>
                    </div>
                    <div class="ts_caption">
                        <div class="ts_cell ts_one">
                            <b>材质</b>
                        </div>
                        <div class="ts_cell ts_two">
                            <p>2 mm / Q235</p>
                        </div>
                    </div>
                    <div class="ts_caption">
                        <div class="ts_cell ts_one">
                            <b>锁具</b>
                        </div>
                        <div class="ts_cell ts_two">
                            <div class="">
                                <p>Lagard定制电子锁</p>
                            </div>
                        </div>
                    </div>
                    <div class="ts_caption">
                        <div class="ts_cell ts_one">
                            <b>显示屏</b>
                        </div>
                        <div class="ts_cell ts_two">
                            <p>7英寸显示屏</p>
                            <p>PC / ABS</p>
                            <p>1280 x 800 像素 分辨率，160dpi</p>
                            <p>多点触控</p>
                            <p>支持多种语言</p>
                    </div>
                    </div>
                    <div class="ts_caption">
                        <div class="ts_cell ts_one">
                            <b>CPU</b>
                        </div>
                        <div class="ts_cell ts_two">
                            <p><b>1.3G 四核，32位，10G 内存容量</b></p>
                            <p>光线传感</p>
                            <p>加速传感</p>
                            <p>距离传感</p>
                            <p>重力传感</p>
                            <p>线性加速传感</p>
                            <p>旋转矢量传感</p>
                    </div>
                    </div>
                    <div class="ts_caption">
                        <div class="ts_cell ts_one">
                            <b>系统</b>
                        </div>
                        <div class="ts_cell">
                            <div>     
                                <p>HISS智能系统</p>
                                <p>基于 Android 5.1 建立的智能安防系统，拥有出色的智能安防功能，便捷且方便使用，带来非一般的操作感受。</p>
                                <p><a href="HISSSafe_Function.html">希望了解更多，请参照 HISS Safe 的功能 &gt;</a></p>
                                <ul>
                                    <li>智能报警</li>
                                    <li>智能云功能</li>
                                    <li>APP 远程管理</li>
                                    <li>指纹解锁</li>
                                    <li>使用信息记录</li>
                                    <li>密码修改</li>
                                    <li>用户管理</li>
                                    <li>多指纹用户登入</li>
                                    <li>固件更新</li>
                                </ul>
                                <div class="clearfix"></div>
                                <i>部分功能需要连接无线网络(收费标准请咨询所属网络服务商，由于合同到期或网络故障可能造成部分功能的使用异常)。</i>
                            </div>
                        </div>
                    </div>
                    <div class="ts_caption">
                        <div class="ts_cell ts_one">
                            <b>无线连接</b>
                        </div>
                        <div class="ts_cell">
                            <div>
                                <p>802.11 a/b/g/n 无线网络，支持 2.4 GHz 频段</p>
                            </div>
                        </div>
                    </div>
                    <div class="ts_caption">
                        <div class="ts_cell ts_one">
                            <b>蜂窝网络</b>
                        </div>
                        <div class="ts_cell">
                            <div>     
                                <p>联通（4G / 3G / 2G）</p>
                                <p>
                                    <small>
                                        FDD-LTE: B1 / B2 / B3 / B4 / B7 / B9 / B12 / B17<br>
                                        WCDMA: B1 / B2 / B4 / B5 / B6 / B8 / B9 / B19<br>
                                        GSM: B2 / B3 / B5 / B8
                                    </small>
                                </p>
                                <p>移动（4G / 3G / 2G）</p>
                                <p>
                                    <small>
                                        TDD-LTE: B38 / B39 / B40 / B41 ( 中国频段 )<br>
                                        TD-SCDMA: B34 / B39<br>
                                        GSM: B2 / B3 / B5 / B8
                                    </small>
                                </p>
                                <p style="margin: 20px 0 0 0 ;">电信（4G / 3G / 2G）</p>
                                <p>
                                    <small>
                                        FDD-LTE: B1 / B3 / B7<br>
                                        EVDO: BC0 / BC1<br>
                                        CDMA 1X: BC0 / BC1
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="ts_caption">
                        <div class="ts_cell ts_one">
                            <b>指纹解锁</b>
                        </div>
                        <div class="ts_cell">
                            <p>置于平板电脑内部的指纹识别传感器</p>
                        </div>
                    </div>
                    <div class="ts_caption">
                        <div class="ts_cell ts_one">
                            <b>电源及电池</b>
                        </div>
                        <div class="ts_cell ts_sp">
                            <div>
                                <p>电压  5V</p>
                                <p>内置14000 mA 锂电池，可为 HISS Safe 供电24小时保持正常使用</p>
                            </div>
                        </div>
                    </div>
                    <div class="ts_caption">
                        <div class="ts_cell ts_one">
                            <b>感应器</b>
                        </div>
                        <div class="ts_cell ts_sp">
                            <p>高敏感陀螺仪</p>
                        </div>
                    </div>
                    <div class="ts_caption">
                        <div class="ts_cell ts_one">
                            <b>箱体接口</b>
                        </div>
                        <div class="ts_cell ts_sp">
                            <p>复位孔</p>
                            <p>电源适配线</p>
                        </div>
                    </div>
                    <div class="ts_caption">
                        <div class="ts_cell ts_one">
                            <b>摄像头</b>
                        </div>
                        <div class="ts_cell ts_sp">
                            <p>190 万像素照片拍摄</p>
                            <p>光学图像防抖功能</p>
                            <p>110°广角</p>
                            <p>夜视识别</p>
                            <p>自动对焦</p>
                            <p>图像降噪</p>
                            <p>曝光控制</p>
                            <p>距离传感</p>
                            <p>拍摄时间自动捕捉</p>
                        </div>
                    </div>
                    <div class="ts_caption">
                        <div class="ts_cell ts_one">
                            <b>包装内容</b>  
                        </div>
                        <div class="ts_cell ts_sp">
                            <p>HISS Safe</p>
                            <p>产品说明书</p>
                            <p>复位针</p>
                            <p>5V 电源适配器</p>
                            <p>地脚螺栓*4</p>
                            <p>隔板支撑架</p>
                            <p>六角扳手</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--==============================footer=================================-->
        <footer>
                <!-- footer 2 -->
                <div id="copyrights" class="footer-2 footer-dark">
                    <div class="container">
                        <div class="row">
                            <div class="span12" style="font-size:14px;">
                                Copyright © 2012-2019. 智普信科技 ｜
                                <a href="http://www.beian.miit.gov.cn"> <span style="color:#c0c0c0;">京ICP备09017907</span> </a></div>
                        </div>
                    </div>
                </div>
            </footer>
    </div>
    <script src='js/jquery.js'></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.sliderTabs.js"></script>
    <!-- jQuery Slider  -->
    <script type="text/javascript" src="js/rs-plugin/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="js/rs-plugin/jquery.themepunch.revolution.min.js"></script>
    <!-- Elastislider  -->
    <script type="text/javascript" src="js/jquery.elastislide.js"></script>
    <script type="text/javascript" src="js/jquery.ui.totop.js"></script>
    <script type="text/javascript" src="js/jquery.mobile.customized.min.js"></script>
    <script type="text/javascript" src="js/tabs.js"></script>
    <!-- Sitemap  -->
    <script type="text/javascript" src="js/sitemap.js"></script>
    <!-- Navigation  -->
    <script type="text/javascript" src="js/nav-small.js"></script>
    <script type="text/javascript" src="js/jquery.mobilemenu.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    <!-- Metro Style  -->
    <script type="text/javascript" src="js/boxgrid.js"></script>
    <script type="text/javascript" src="demo/switcher.js"></script>
    <script type='text/javascript' src='js/scroll01.js'></script>
    <script type='text/javascript' src='js/prefixfree.js'></script>
    <script type="text/javascript" src="js/jquery.mousewheel.js"></script>
    <script>
         $('.product').width($(window).width()+20);
	$('.suo_k').width($(window).width()+20);
	var leftpx=$('.product').parent().offset().left;
	console.log($('.product').parent().offset().left);
	$('.product').css('left',-leftpx-10);
        jQuery("#carousel-blog").elastislide({
            imageW: 270,
            minItems: 2,
            speed: 600,
            easing: "easeOutQuart",
            margin: 30,
            border: 0,
            onClick: function () { }
        });</script>
    <!-- Revolution Slider  -->
    <script>
        var api;
        jQuery(document).ready(function () {
            api = jQuery('.fullwidthabnner').revolution(
                {
                    delay: 2000,
                    startheight: 370,
                    startwidth: 4000,
                    hideThumbs: 10,
                    thumbWidth: 100,							// Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
                    thumbHeight: 50,
                    thumbAmount: 5,
                    navigationType: "both",					//bullet, thumb, none, both		(No Thumbs In FullWidth Version !)
                    navigationArrows: "verticalcentered",		//nexttobullets, verticalcentered, none
                    navigationStyle: "round",				//round,square,navbar
                    touchenabled: "on",						// Enable Swipe Function : on/off
                    onHoverStop: "off",						// Stop Banner Timet at Hover on Slide on/off
                    navOffsetHorizontal: 0,
                    navOffsetVertical: 20,
                    stopAtSlide: -1,
                    stopAfterLoops: -1,
                    shadow: 1,								//0 = no Shadow, 1,2,3 = 3 Different Art of Shadows  (No Shadow in Fullwidth Version !)
                    fullWidth: "off"							// Turns On or Off the Fullwidth Image Centering in FullWidth Modus
                });
        });
    </script>
    <script type="text/javascript">
        $(window).scroll(function(){
		F_high = $(window).scrollTop();
		if(F_high > 70){
			$("#leBox_info").addClass("on");
			$(".Experience_Center_menu").addClass("on")
			$(".leBox_fixed").addClass('on')
			$(".my_order_nav").addClass("on")
		}else{
			$("#leBox_info").removeClass("on")
			$(".Experience_Center_menu").removeClass("on")
			$(".leBox_fixed").removeClass("on")
			$(".my_order_nav").removeClass("on")
		}
    });
    </script>
</body>
</html>