<!DOCTYPE html>
<html lang="en">
<head>
    <title>智普信科技</title>
    <meta charset="utf-8">
    <link rel="icon" href="img/logo.png" type="image/x-icon">
    <link rel="shortcut icon" href="img/logo1.png" type="image/x-icon" />
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/inner.css" type="text/css" media="screen">
    <link rel="stylesheet" href="demo/switcher.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/es-carousel.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/footer-color.css" type="text/css" media="screen">
    <!-- CSS STYLE -->
    <link rel="stylesheet" href="css/rs-plugin/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/rs-plugin/preview.css" type="text/css" media="screen" />
    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" href="css/rs-plugin/settings.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/elements.css" type="text/css" media="screen">
    <!--[if lt IE 9]>
    <link href='http//fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/docs.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
  <![endif]-->
    <link rel="stylesheet" href="css/keyframes.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/safirst.css">
    <link rel="stylesheet" href="css/hisssafe.css">
    <style>
        .ft16{
          font-size: 16px!important;
        }
        .list-services li:first-child figure { 
          float: left;
           margin: 60px 15px 6px 0; 
           border:none;
           }
           .list-services li:nth-child(2) figure { 
          float: left;
           margin: 40px 15px 6px 0; 
           border:none;
           }
             .list-services li:nth-child(3) figure { 
          float: left;
           margin: 40px 15px 6px 0;
           border:none; 
           }
             .list-services li:nth-child(4) figure { 
          float: left;
           margin: 40px 15px 6px 0;
           border:none; 
           }
              .list-services li:nth-child(5) figure { 
          float: left;
           margin: 50px 15px 6px 0;
           border:none; 
           }
           .ft14{
             font-size: 14px;
           }
           .title{
          background: none;
          margin-top:130px;
        }
        .title i{
          display: inline-block;
          width:63px;
          height: 63px;
          background: url(img/index-title.png) no-repeat;
          background-size:100%;
          float:left;
          margin-right:15px;
          margin-top: 27px;
        }
        .title h4{
          font-size:36px;
          text-align: left;
        }
        .title h4 span{
          font-size:28px;
          color:#8a8a8a
        }
        .breadcrumb-wrapper h2 i{
            left:73px;
        }
          </style>
</head>
<body class="home-page stretched">
    <div id="wrapper">
        <!--==============================header=================================-->
        <div id='head' class=" clearfix" style='height: 60px;
        background: #fff;
        z-index: 1000;
        width: 100%;'>
            <!-- Logo & Navigation -->
            <div class='header' style='height: 60px;background:#fff;' id='header'>
                <div class="container">
                    <div class="row ">
                        <div class="span12" style='height: 60px;'>
                            <!-- Logo -->
                            <h1 class="brand brand_" style='margin-top:12px;'><a href="index.html"><img
                                        src="img/index_logo.png" alt=""></a></h1>
                            <!-- Navigation -->
                            <div class="navbar navbar_">
                                <div class="container">
                                    <!--=========== menu ===============-->
                                    <div class="nav-collapse nav-collapse_ collapse">
                                        <ul class="nav sf-menu">
                                            <li class=" sub-menu main-menu" style='margin-right:15px;padding: 0 10px;'>
                                                <a class="" href="product-center.html" >产品中心</a>
                                                <ul class="sub_sub_menu product" style='top:46px;'>
                                                    <a href="safirst.html">
                                                        <dl style='margin-left:30%;text-align: center;margin-top:40px;'>
                                                            <dt>
                                                                <img src="./img/_icon_product_safirst.png" alt="">
                                                            </dt>
                                                            <dd style='margin-left:-2px;font-size:14px;margin-top:16px;'>
                                                                Safirst</dd>
                                                            <dd style='margin-left:-2px;font-size:14px;'>初柜</dd>
                                                        </dl>
                                                    </a>
                                                    <a href="leBox.html">
                                                        <dl style='margin-left:3%;text-align: center;margin-top:40px;'>
                                                            <dt>
                                                                <img src="./img/_icon_product_le.png" alt="">
                                                            </dt>
                                                            <dd style='margin-left:-2px;font-size:14px;;margin-top:16px;'>
                                                                Le-Box</dd>
                                                            <dd style='margin-left:-2px;font-size:14px;'>乐盒</dd>
                                                        </dl>
                                                    </a>
                                                    <a href="O_S.summary.html">
                                                        <dl style='margin-left:3%;text-align: center;margin-top:40px;'>
                                                            <dt>
                                                                <img src="./img/_icon_product_os.png" alt="">
                                                            </dt>
                                                            <dd style='margin-left:-2px;font-size:14px;;margin-top:16px;'>
                                                                O.S Cabinet</dd>
                                                            <dd style='margin-left:-2px;font-size:14px;'>智能办公柜</dd>
                                                        </dl>
                                                    </a>
                                                    <a href="HISSSafe-summary.html">
                                                        <dl style='margin-left:3%;text-align: center;margin-top:40px;'>
                                                            <dt>
                                                                <img src="./img/_icon_product_safe.png" alt="">
                                                            </dt>
                                                            <dd style='margin-left:-2px;font-size:14px;;margin-top:16px;'>
                                                                Hiss Safe</dd>
                                                            <dd style='margin-left:-2px;font-size:14px;'>智能保险柜</dd>
                                                        </dl>
                                                    </a>
                                                    <a href="smart-access.html">
                                                        <dl style='margin-left:3%;text-align: center;margin-top:40px;'>
                                                            <dt>
                                                                <img src="./img/_icon_product_access.png" alt="">
                                                            </dt>
                                                            <dd style='margin-left:-2px;font-size:14px;;margin-top:16px;'>
                                                                Smart Access</dd>
                                                            <dd style='margin-left:-2px;font-size:14px;'>智能门禁</dd>
                                                        </dl>
                                                    </a>
                                                </ul>
                                            </li>
                                            <li class="sub-menu main-menu" style='margin-right:50px;padding: 0 10px;'>
                                                <a class="" href="download-app.html">技术服务</a>
                                                <ul class="sub_sub_menu" style='width:110px;'>
                                                    <li>
                                                        <a href="download-app.html" class="sub_title"
                                                            img='img/jiaju.png'>下载APP</a>
                                                    </li>
                                                    <li>
                                                        <a href="download-app.html#manual" class="sub_title"
                                                            img='img/gongyu.png'>下载使用手册</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="sub-menu main-menu" style='margin-right:0;padding: 0;'>
                                                <a data-toggle="modal" href="#myModal"
												style='color:#28a5fa!important'>在售商城</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	<!-- Modal -->
	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel"> <i class="sales"></i> 请选择在售商城</h3>
		</div>
		<div class="modal-body">
			<div style='display: flex;'>
				<div>
					<a href="https://mall.jd.com/index-900497.html" target="_blank"><img src="./img/img_code_j.png" alt=""></a>
					<p style='text-align: center;font-weight: bold;'>点击进入商城 或 <br>京东APP扫码进入</p>
				</div>
				<div>
					<a href="https://hissznsb.tmall.com/" target="_blank"><img src="./img/img_code_t.png" alt=""></a>
					<p style='text-align: center;font-weight: bold;'>点击进入商城 或 <br>淘宝APP扫码进入</p>
				</div>
				<div>
					<a href="http://mp.weixin.qq.com/bizmall/mallshelf?id=&t=mall/list&biz=MzA5NjIyODYyNQ==&shelf_id=1&showwxpaytitle=1#wechat_redirect" target="_blank"><img src="./img/img_code_w.png" alt=""></a>
					<p style='text-align: center;font-weight: bold;margin-top:16px'>微信扫码进入</p>
				</div>
			</div>
		</div>
	</div>
        <div id='leBox_info' class="breadcrumb-wrapper" style='height:44px;'>
            <div class="container">
              <div class="header" style='background:transparent;padding:0'>
                  <h2 style='color:#fff;font-size: 18px;'>保险柜</h2>
                  <ul class="breadcrumb fright sub_nav">
                      <li><a href="HISSSafe.summary.html" style='color:#28a5fa'>概述</a> &nbsp;&nbsp;&nbsp;&nbsp;</li>
                      <li > <a href="HISSSafe_design.html">设计 &nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                      <li ><a href="HISSSafe_Function.html">功能 &nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                      <li style='margin-right:15px;'> <a href="HISSSafe_Tec.html">技术规格</a> </li>
                      <!-- <li ><a href="https://hissznsb.tmall.com/index.htm" target="_blank">购买</a> </li> -->
                  </ul>
              </div>
            </div>
        </div>   
        <!--==============================content=================================-->
        <section id="content" style='background:#f6f6f6;'>
          <div class="container">
               <!-- sfd_part1 -->
            <div class="HISS_Safe_part11 animate_p1">
                <div class="HISS_Safe_part1">
                    <div class="HISS_Safe_title">
                        <span style='font-size:16px'>HISS Safe</span>
                        <h1>遇强则强</h1>
                        <p style='font-size:16px'>全球第一台带平板电脑的智能保险柜</p>
                        <!-- <a href="http://localhost:8080/zplatform-web/web/property/HISSSafe_buy.html" target="">立即购买 &gt;</a> -->
                    </div>
                    <div class="HISS_Safe_title_img">
                        <img src="img/HISS_Safe_001.jpg" alt="">
                        <img src="img/HISS_Safe_002_03.jpg" alt="" class="">
                    </div>
                    <div class="HISS_Safe_title" style='padding-top:0'>
                           <p style='font-size:16px;color:#313131;'>
                            HISS Safe 的研发经历了600多个日夜</p>
                            <p >我们立志设计出一款符合现代用户需求，又有前瞻性的智能安防产品。在不断尝试中创新，尊重用户使用习惯，带给用</p>
                             <p>户更出色的性能与使用体验，HISSSafe在这样的环境下诞生，它与之前我们推出的产品截然不同。</p>
                        <p style='font-size:16px;color:#313131;'>
                            使用HISS Safe，你将看到智能安防生活的无尽可能。</p>
                    </div>
                </div>
            </div>
            <!-- part2 -->
            <div class="HISS_Safe_part3 animate_p2">
                    <div class="hiss_header_content">
                        <div class="HISS_Safe_threeImg fr "></div>
                        <div class="HISS_Safe_mess place01 ">
                            <span>65<sub>厘米</sub></span>
                            <p>90升，精致实用，<br>方便在房间放置。</p>
                        </div>
                        <div class="HISS_Safe_mess place02 ">
                            <span>90<sub>厘米</sub></span>
                            <p>126升，适应于各种使用存储需求。</p>
                        </div>
                        <div class="HISS_Safe_mess place03 ">
                            <span>120<sub>厘米</sub></span>
                            <p>200升，超大容量存储空间。</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
          </div>
          <div class="HISS_Safe_part4 animate_p3 animate_p101">
                <div class="HISS_Safe_bg">
                    <img src="img/HISS_Safe_004.jpg" alt="" >
                </div>
            </div>
            <!-- part5 -->
            <div class="HISS_Safe_part5">
                    <div class="hiss_header_content">
                        <p class="title_HISS_Safe" style='font-size:16px;'>Q345低合金钢，磨砂工艺，太空铝一体成型。</p>
                        <div class="HISS_info fl">
                            <h1>大有可为</h1>
                            <div class="HISS_info_mess">
                                <p>材料</p>
                                <span>
                                   HISS Safe 配备了一块7英寸职能平板电脑，柜身结构拥有多项专利设计。把手采用7075太空铝，全自动多功能数控机床一体成型，利用最新的阳极氧化工艺加工而成。柜体为6mm至12mm的Q345低合金钢，综合力学性能良好。</span>
                                <p>三款尺寸，四种颜色</p>
                                <span>
                                     HISS Safe 有95升、135升、210升三种尺寸规格，相携而来的是冰川白、魅惑红、辰砂绿、雪岩灰四种配色。更高级别的智能安全防护，更大容量存储，满足你日常及工作需求。</span>
                                <a href="HISSSafe_design.html">了解  HISS Safe 设计 &gt;</a>
                            </div>
                        </div>
                        <div class="HISS_Safe_num fl">
                            <div class="HISS_Safe_num_info">
                                <span>65<sub>cm</sub></span>
                                <p>495 * 510 * 650mm</p>
                                <p>95 L</p>
                                <p>50 kg</p>
                            </div>
                            <div class="HISS_Safe_num_info">
                                <span>90<sub>cm</sub></span>
                                <p>495 * 510 * 900mm</p>
                                <p>135 L</p>
                                <p>68 kg</p>
                            </div>
                             <div class="HISS_Safe_num_info">
                                <span>120<sub>cm</sub></span>
                                <p>560 * 510 * 1200mm </p>
                                <p>210 L</p>
                                <p>83 kg</p>
                            </div>
                    </div>
                </div>
            </div>  
        </section>  
         <div class="HISS_Safe_part7 animate_p4 animate_p202">
                <div class="HISS_Safe_box" style="transform: translateY(100px) scale(1);">
                	<img src="img/HISS_Safe_008.jpg" alt="">
                </div>
            </div>
         <!-- part8 -->
         <div class="HISS_Safe_part8">
                <div class="hiss_header_content">
                    <p style="font-size:16px;color:#313131;">精密、安全的门锁结构</p>
                    <div class="HISS_part8_content">
                        <div class="HISS_part8_fl fl">
                            <div class="HISS_part8_fl_info ">
                                <div>
                                    <p>50<sub>CM</sub></p>
                                    <span>周边感应</span>
                                </div>
                            </div>
                            <div class="HISS_part8_fl_info ">
                                <div>
                                    <p>4G</p>
                                    <span>全网支持</span>
                                </div>
                            </div>
                            <div class="HISS_part8_fl_info ">
                                <div>
                                    <p>30<sub>s</sub></p>
                                    <span>开柜报警</span>
                                </div>
                            </div>
                            <div class="HISS_part8_fl_info ">
                                <div>
                                    <p>20<sub>%</sub></p>
                                    <span>低电警示</span>
                                </div>
                            </div>
                        </div>
                       <div class="HISS_info fr">
                            <h1>殚智竭力</h1>
                            <div class="HISS_info_mess">
                                <p>系统</p>
                                <span>
                                 基于Android 5.1研发的HISS安防系统，能探知 HISS Safe 半径50厘米的人或物体异动，并持续记录取证。全网4G支持，让HISS Safe 在WIFI断连后也能及时发送安全预警提示。</span>
                                <p>无线掌控</p>
                                <span>
                                     HISS Safe 可以通过自带智能平板，以及HISS官方APP操控。强大的用户管理功能，让 HISS Safe 不在局限于单一的钥匙与指纹控制。HISS云将忠实的记录下每一次的使用记录以及图像资料。智慧控制，更显精进。</span>
                                <a href="HISSSafe_Function.html">了解 HISS Safe 功能 &gt;</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
         <!-- part9 -->
         <div class="HISS_Safe_part9">
                <div class="HISS_Safe_part9_bg"></div>
         </div>
         <!-- part10 -->
         <div class="HISS_Safe_part10">
                <div class="disney_part8">
                    <div class="hiss_header_content">
                        <div class="disney_img">
                            <img src="img/HISS_Sum.png">
                        </div>
                        <div class="next_contect">
                            <span>下一步</span>
                            <p>不一样的HISS Safe</p>
                            <h2 style='text-align: left;'>配备7英寸的智能平板</h2>
                            <aside>了解 HISS Safe 的设计</aside>
                            <a href="HISSSafe_design.html">下一章：设计 &gt;</a>
                        </div>
                    </div>
                </div>
            </div>
        <!--==============================footer=================================-->
        <footer>
            <!-- footer 2 -->
            <div id="copyrights" class="footer-2 footer-dark">
                <div class="container">
                    <div class="row">
                        <div class="span12" style="font-size:14px;">
                            Copyright © 2012-2019. 智普信科技 ｜
                            <a href="http://www.beian.miit.gov.cn"> <span style="color:#c0c0c0;">京ICP备09017907</span> </a></div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src='js/jquery.js'></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.sliderTabs.js"></script>
    <!-- jQuery Slider  -->
    <script type="text/javascript" src="js/rs-plugin/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="js/rs-plugin/jquery.themepunch.revolution.min.js"></script>
    <!-- Elastislider  -->
    <script type="text/javascript" src="js/jquery.elastislide.js"></script>
    <script type="text/javascript" src="js/jquery.ui.totop.js"></script>
    <script type="text/javascript" src="js/jquery.mobile.customized.min.js"></script>
    <script type="text/javascript" src="js/tabs.js"></script>
    <!-- Sitemap  -->
    <script type="text/javascript" src="js/sitemap.js"></script>
    <!-- Navigation  -->
    <script type="text/javascript" src="js/nav-small.js"></script>
    <script type="text/javascript" src="js/jquery.mobilemenu.js"></script>
    <!-- Isotope  -->
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    <!-- Metro Style  -->
    <script type="text/javascript" src="js/boxgrid.js"></script>
    <script type="text/javascript" src="demo/switcher.js"></script>
    <!-- Elastislider  -->
    <script>
      $('.product').width($(window).width()+20);
	$('.suo_k').width($(window).width()+20);
	var leftpx=$('.product').parent().offset().left;
	console.log($('.product').parent().offset().left);
	$('.product').css('left',-leftpx-10);
        </script>
    <script type="text/javascript">
        var F_high;
	$(window).scroll(function(){
		F_high = $(window).scrollTop();
		if(F_high > 70){
			$("#leBox_info").addClass("on");
			$(".Experience_Center_menu").addClass("on")
			$(".leBox_fixed").addClass('on')
			$(".my_order_nav").addClass("on")
		}else{
			$("#leBox_info").removeClass("on")
			$(".Experience_Center_menu").removeClass("on")
			$(".leBox_fixed").removeClass("on")
			$(".my_order_nav").removeClass("on")
		}
    });
        var win_h =  $(window).height();
        var n = 0;
        function moveAnimation(animate_p, name, scale){  //动画
    	$(window).mousewheel(function(event, delta) {
	    	var F_high = $(window).scrollTop();
	    	if (!$(animate_p).offset()) {
	    		return;
	    	}
			var t = $(animate_p).offset().top;
	        var t_height = $(name).height();
	       	 if (delta > -1) {
		        	// n = 200;
		        	if(F_high < t + t_height + win_h){
		        		n-=6;
		        		if(n <= 0){ 
			            	n = 0;
	                        $(name).css("transform", "translateY(0px) scale("+scale+")");
			            }else{
	                        $(name).css("transform", "translateY("+n+"px) scale("+scale+")");
			            }
		        	}
		        } else if(F_high > t - win_h){
		        		n+=6;
			        	if(n >= 100){
			        		n = 100;
	                        $(name).css("transform", "translateY(100px) scale("+scale+")");
			        	}else{
	                        $(name).css("transform", "translateY("+ n +"px) scale("+scale+")");
			        	}
		        	}
	    });
    }    
    moveAnimation(".animate_p101", ".HISS_Safe_part4 img", 1);
    moveAnimation(".animate_p202", ".HISS_Safe_part7 .HISS_Safe_box", 1);
    $(function(){
	/*窗口大小*/
var winWidth,winHeight;
var win_h =  $(window).height()*0.6;
var win_height = $(window).height()*1;
	$(window).scroll(function(){
        funHeight(".animate_p2" , ".HISS_Safe_threeImg");
		funHeight(".animate_p2" , ".place01");
		funHeight(".animate_p2" , ".place02");
		funHeight(".animate_p2" , ".place03");
	})
function funHeight(n , c){
		var F_high = $(window).scrollTop();
		var t = $(n).offset().top;
		if(F_high > t - win_h){
			$(c).addClass("on");
		}
		if(F_high == 0){
			$(c).removeClass("on");
		}
}
});
    </script>
</body>
</html>