<!DOCTYPE html>
<html lang="en">
<head>
    <title>智普信科技</title>
    <meta charset="utf-8">
    <link rel="icon" href="img/logo.png" type="image/x-icon">
    <link rel="shortcut icon" href="img/logo1.png" type="image/x-icon" />
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/inner.css" type="text/css" media="screen">
    <link rel="stylesheet" href="demo/switcher.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/es-carousel.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/footer-color.css" type="text/css" media="screen">
    <!-- CSS STYLE -->
    <link rel="stylesheet" href="css/rs-plugin/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/rs-plugin/preview.css" type="text/css" media="screen" />
    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" href="css/rs-plugin/settings.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/elements.css" type="text/css" media="screen">
    <!--[if lt IE 9]>
    <link href='http//fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/docs.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
  <![endif]-->
    <link rel="stylesheet" href="css/keyframes.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/safirst.css">
    <link rel="stylesheet" href="css/hisssafe_design.css">
    <style>
        .ft16{
          font-size: 16px!important;
        }
        .list-services li:first-child figure { 
          float: left;
           margin: 60px 15px 6px 0; 
           border:none;
           }
           .list-services li:nth-child(2) figure { 
          float: left;
           margin: 40px 15px 6px 0; 
           border:none;
           }
             .list-services li:nth-child(3) figure { 
          float: left;
           margin: 40px 15px 6px 0;
           border:none; 
           }
             .list-services li:nth-child(4) figure { 
          float: left;
           margin: 40px 15px 6px 0;
           border:none; 
           }
              .list-services li:nth-child(5) figure { 
          float: left;
           margin: 50px 15px 6px 0;
           border:none; 
           }
           .ft14{
             font-size: 14px;
           }
           .title{
          background: none;
          margin-top:130px;
        }
        .title i{
          display: inline-block;
          width:63px;
          height: 63px;
          background: url(img/index-title.png) no-repeat;
          background-size:100%;
          float:left;
          margin-right:15px;
          margin-top: 27px;
        }
        .title h4{
          font-size:36px;
          text-align: left;
        }
        .title h4 span{
          font-size:28px;
          color:#8a8a8a
        }
        .breadcrumb-wrapper h2 i{
            left:73px;
        }
          </style>
</head>
<body class="home-page stretched">
    <div id="wrapper">
        <!--==============================header=================================-->
        <div id='head' class=" clearfix" style='height: 60px;
        background: #fff;
        z-index: 1000;
        width: 100%;'>
            <!-- Logo & Navigation -->
            <div class='header' style='height: 60px;background:#fff;' id='header'>
                <div class="container">
                    <div class="row ">
                        <div class="span12" style='height: 60px;'>
                            <!-- Logo -->
                            <h1 class="brand brand_" style='margin-top:12px;'><a href="index.html"><img
                                        src="img/index_logo.png" alt=""></a></h1>
                            <!-- Navigation -->
                            <div class="navbar navbar_">
                                <div class="container">
                                    <!--=========== menu ===============-->
                                    <div class="nav-collapse nav-collapse_ collapse">
                                        <ul class="nav sf-menu">
                                            <li class=" sub-menu main-menu" style='margin-right:15px;padding: 0 10px;'>
                                                <a class="" href="product-center.html" >产品中心</a>
                                                <ul class="sub_sub_menu product" style='top:46px;'>
                                                    <a href="safirst.html">
                                                        <dl style='margin-left:30%;text-align: center;margin-top:40px;'>
                                                            <dt>
                                                                <img src="./img/_icon_product_safirst.png" alt="">
                                                            </dt>
                                                            <dd style='margin-left:-2px;font-size:14px;margin-top:16px;'>
                                                                Safirst</dd>
                                                            <dd style='margin-left:-2px;font-size:14px;'>初柜</dd>
                                                        </dl>
                                                    </a>
                                                    <a href="leBox.html">
                                                        <dl style='margin-left:3%;text-align: center;margin-top:40px;'>
                                                            <dt>
                                                                <img src="./img/_icon_product_le.png" alt="">
                                                            </dt>
                                                            <dd style='margin-left:-2px;font-size:14px;;margin-top:16px;'>
                                                                Le-Box</dd>
                                                            <dd style='margin-left:-2px;font-size:14px;'>乐盒</dd>
                                                        </dl>
                                                    </a>
                                                    <a href="O_S.summary.html">
                                                        <dl style='margin-left:3%;text-align: center;margin-top:40px;'>
                                                            <dt>
                                                                <img src="./img/_icon_product_os.png" alt="">
                                                            </dt>
                                                            <dd style='margin-left:-2px;font-size:14px;;margin-top:16px;'>
                                                                O.S Cabinet</dd>
                                                            <dd style='margin-left:-2px;font-size:14px;'>智能办公柜</dd>
                                                        </dl>
                                                    </a>
                                                    <a href="HISSSafe-summary.html">
                                                        <dl style='margin-left:3%;text-align: center;margin-top:40px;'>
                                                            <dt>
                                                                <img src="./img/_icon_product_safe.png" alt="">
                                                            </dt>
                                                            <dd style='margin-left:-2px;font-size:14px;;margin-top:16px;'>
                                                                Hiss Safe</dd>
                                                            <dd style='margin-left:-2px;font-size:14px;'>智能保险柜</dd>
                                                        </dl>
                                                    </a>
                                                    <a href="smart-access.html">
                                                        <dl style='margin-left:3%;text-align: center;margin-top:40px;'>
                                                            <dt>
                                                                <img src="./img/_icon_product_access.png" alt="">
                                                            </dt>
                                                            <dd style='margin-left:-2px;font-size:14px;;margin-top:16px;'>
                                                                Smart Access</dd>
                                                            <dd style='margin-left:-2px;font-size:14px;'>智能门禁</dd>
                                                        </dl>
                                                    </a>
                                                </ul>
                                            </li>
                                            <li class="sub-menu main-menu" style='margin-right:50px;padding: 0 10px;'>
                                                <a class="" href="download-app.html">技术服务</a>
                                                <ul class="sub_sub_menu" style='width:110px;'>
                                                    <li>
                                                        <a href="download-app.html" class="sub_title"
                                                            img='img/jiaju.png'>下载APP</a>
                                                    </li>
                                                    <li>
                                                        <a href="download-app.html#manual" class="sub_title"
                                                            img='img/gongyu.png'>下载使用手册</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="sub-menu main-menu" style='margin-right:0;padding: 0;'>
                                                <a data-toggle="modal" href="#myModal"
												style='color:#28a5fa!important'>在售商城</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	<!-- Modal -->
	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel"> <i class="sales"></i> 请选择在售商城</h3>
		</div>
		<div class="modal-body">
			<div style='display: flex;'>
				<div>
					<a href="https://mall.jd.com/index-900497.html" target="_blank"><img src="./img/img_code_j.png" alt=""></a>
					<p style='text-align: center;font-weight: bold;'>点击进入商城 或 <br>京东APP扫码进入</p>
				</div>
				<div>
					<a href="https://hissznsb.tmall.com/" target="_blank"><img src="./img/img_code_t.png" alt=""></a>
					<p style='text-align: center;font-weight: bold;'>点击进入商城 或 <br>淘宝APP扫码进入</p>
				</div>
				<div>
					<a href="http://mp.weixin.qq.com/bizmall/mallshelf?id=&t=mall/list&biz=MzA5NjIyODYyNQ==&shelf_id=1&showwxpaytitle=1#wechat_redirect" target="_blank"><img src="./img/img_code_w.png" alt=""></a>
					<p style='text-align: center;font-weight: bold;margin-top:16px'>微信扫码进入</p>
				</div>
			</div>
		</div>
	</div>
        <div id='leBox_info' class="breadcrumb-wrapper" style='height:44px;'>
            <div class="container">
              <div class="header" style='background:transparent;padding:0'>
                  <h2 style='color:#fff;font-size: 18px;'>保险柜</h2>
                  <ul class="breadcrumb fright sub_nav">
                      <li><a href="HISSSafe-summary.html">概述</a> &nbsp;&nbsp;&nbsp;&nbsp;</li>
                      <li > <a href="HISSSafe_design.html" style='color:#28a5fa'>设计 &nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                      <li ><a href="HISSSafe_Function.html">功能 &nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                      <li style='margin-right:15px;'> <a href="HISSSafe_Tec.html">技术规格</a> </li>
                      <!-- <li ><a href="https://hissznsb.tmall.com/index.htm" target="_blank">购买</a> </li> -->
                  </ul>
              </div>
            </div>
        </div>   
        <!--==============================content=================================-->
        <section id="content" style='background:#f6f6f6;'>
          <div class="container">
               <!-- sfd_part1 -->
               <div class="HISS_Design_part11 animate_p1">
                    <div class="HISS_Design_part1">
                        <div class="HISS_Safe_title1">
                            <h1>如此出众，又如此简约</h1>
                            <p>
                                HISS Safe 的设计风格与以往HISS产品有很大不同，你会惊叹于它的严谨与简洁。智能平板、门把、柜体，构造分明，尽然有序，使得整个 HISS Safe 的结构一目了然。</p>
                        </div>
                    </div>
                </div>
          </div>
            <!-- part2 -->
          <div class="HISS_Design_part41 animate_p2 animate_p303">
                <div class="HISS_Design_part4 " >
                    <!-- <img src="img/HISS_design002_02.jpg" alt=""> -->
                </div>
            </div>
            <!-- part3 -->
            <div class="HISS_Design_part5">
                    <div class="HISS_Design_part2">
                        <h1>前端科技，科技驱动生活</h1>
                        <p>
                            HISS Safe 最大的科技突破来源于这款7英寸智能平板，32位四核心处理器，性能格外强劲。内置190万像素摄像头、光线传感器、加速传感器、距离传感器、重力传感器、线性加速传感器、旋转矢量传感器、陀螺仪等多项技术核心。配合HISS智能安防系统，探索智能安防生活无尽可能。</p>
                        <div class="HISS_Design_info clearfix">
                            <div class="HISS_Design_pos">
                                <div class="HISS_Design_mess">
                                    <p>7 <sub>in</sub></p>
                                    <span>平板尺寸</span>
                                </div>
                                <div class="HISS_Design_mess">
                                    <p>1280*800</p>
                                    <span>分辨率</span>
                                </div>
                                <div class="HISS_Design_mess">
                                    <p>4 <sub>核</sub></p>
                                    <span>CPU核心数</span>
                                </div>
                                <div class="clearfix"></div>                                 
                            </div>
                        </div>
                        <div class="HISS_Design_info">
                            <div class="HISS_Design_pos1">
                                <div class="HISS_Design_mess">
                                    <p>1.3 <sub>G</sub></p>
                                    <span>CPU主频</span>
                                </div>
                                <div class="HISS_Design_mess">
                                    <p>32 <sub>位</sub></p>
                                    <span>寄存器宽度</span>
                                </div>
                                <div class="HISS_Design_mess">
                                    <p>10 <sub>G</sub></p>
                                    <span>内置储存</span>
                                </div>
                                <div class="clearfix"></div>                                 
                            </div>
                        </div>
                    </div>
                </div>
            <!-- part4 -->
            <div class="HISS_Design_part3">
                    <div  class="fullwidthbanner-container" style='overflow: visible'>
                        <div class="shadowdrop"></div>
                        <div class="fullwidthabnner" style='max-height: 830px;'>
                         <ul class="HISS_Design_part3_list_img">
                            <li>
                                <img src="img/HISS_white_02.jpg" alt="">
                            </li>  
                            <li >
                                <img src="img/HISS_red_02.jpg" alt="">
                            </li>
                            <li>
                                <img src="img/HISS_green_02.jpg" alt="">
                            </li>
                            <li>
                                <img src="img/HISS_black_02.jpg" alt="">
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
            <!-- part5 -->
                <div class="HISS_Design_part2" style='margin-top:60px;'>
                    <img src="img/HSD_010_03.jpg" alt="">
                    <h1>匠心之作</h1>
                    <p>
                        HISS Safe 的门把由采用7075太空铝，全自动多功能数控机床一体成型，利用最新的阳极氧化工艺加工而成，它硬度强度很高，承重也很高，可以承受2000°以上的高温。而柜体则使用6mm~12mm厚的Q345低合金钢，有着优秀的耐腐蚀性，以及韧性和强度。</p>
                    <p>
                          这正是 HISS Safe 拥有超强性能，又安全强大的诸多原因之一。</p>
                    <div class="HISS_Design_info clearfix">
                        <div class="HISS_Design_pos">
                            <div class="HISS_Design_mess">
                                <p>6 <sub>mm</sub></p>
                                <span>柜体壁厚</span>
                            </div>
                            <div class="HISS_Design_mess">
                                <p>12 <sub>mm</sub></p>
                                <span>柜门壁厚</span>
                            </div>
                            <div class="HISS_Design_mess">
                                <p>PC/ABS</p>
                                <span>平板材质</span>
                            </div>
                            <div class="HISS_Design_mess">
                                <p>Lagard</p>
                                <span>定制电子锁</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <img src="img/HISS_design_100.jpg" alt="">
                    <p>HISS Safe 的指纹验证模块内嵌在太空铝把手上，美观、且方便用户使用。</p>
                </div>
          <!-- part6 -->
          <div class="HISS_Design_part61 animate_p3 animate_p101" >
                <div class="HISS_Design_part6" ></div>
            </div>
        <!-- part7 -->
        <div class="HISS_Design_part7">
                <p>完美符合家居环境</p>
                <div class="HISS_Design_title">
                    <h1>一体化设计，精工细作</h1>
                    <p>
                      在智能安防技术上，HISS Safe 严防死守的同时，不愿放过任何细节，HISS 工程师与设计师同心协力，精心为你带来了 HISS Safe 每一个部分。对于一件智能安防产品来说，细节极为重要，HISS Safe 的柜体采用一体折弯铸造，减少不必要的缝隙，杜绝撬点。每一个细节都经过深思熟虑，无数次测试，确保没有任何遗漏。</p>
                </div>
                <div class="HISS_Design_part7_video">
                   <video id="myVideo" width="100%" autoplay="autoplay">
                        <source src="img/HISS.mp4" type="video/mp4">
                        您的浏览器不支持 HTML5 video 标签。</video>
                    <div class="loadingV" style="display: none;">视频加载中...</div>
                </div>
                <div class="replay">
                    <a href="javascript:void(0)">重放</a>
                </div>
            </div>
        <!-- part8 -->
        <div class="HISS_Design_part81 animate_p4 animate_p202">
                <div class="HISS_Design_part8" style="transform: translateY(94px) scale(1.2);"></div>
            </div>
        <!-- part9 -->
        <div class="HISS_Design_part9">
                <div class="disney_part8">
                    <div class="hiss_header_content">
                        <div class="disney_img">
                            <img src="img/HISS_design_006.png">
                        </div>
                        <div class="next_contect">
                            <span>下一步</span>
                            <p>智能生活的无限可能</p>
                            <h2 style='text-align: left;'>意想不到的强大HISS Safe</h2>
                            <aside>了解 HISS Safe 的功能</aside>
                            <a href="HISSSafe_Function.html">下一章：功能 &gt;</a>
                        </div>
                    </div>
                </div>
            </div>
       </section>
        <!--==============================footer=================================-->
        <footer>
            <!-- footer 2 -->
            <div id="copyrights" class="footer-2 footer-dark">
                <div class="container">
                    <div class="row">
                        <div class="span12" style="font-size:14px;">
                            Copyright © 2012-2019. 智普信科技 ｜
                            <a href="http://www.beian.miit.gov.cn"> <span style="color:#c0c0c0;">京ICP备09017907</span> </a></div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src='js/jquery.js'></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.sliderTabs.js"></script>
    <!-- jQuery Slider  -->
    <script type="text/javascript" src="js/rs-plugin/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="js/rs-plugin/jquery.themepunch.revolution.min.js"></script>
    <!-- Elastislider  -->
    <script type="text/javascript" src="js/jquery.elastislide.js"></script>
    <script type="text/javascript" src="js/jquery.ui.totop.js"></script>
    <script type="text/javascript" src="js/jquery.mobile.customized.min.js"></script>
    <script type="text/javascript" src="js/tabs.js"></script>
    <!-- Sitemap  -->
    <script type="text/javascript" src="js/sitemap.js"></script>
    <!-- Navigation  -->
    <script type="text/javascript" src="js/nav-small.js"></script>
    <script type="text/javascript" src="js/jquery.mobilemenu.js"></script>
    <!-- Isotope  -->
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    <!-- Metro Style  -->
    <script type="text/javascript" src="js/boxgrid.js"></script>
    <script type="text/javascript" src="demo/switcher.js"></script>
    <!-- Elastislider  -->
    <script>
         $('.product').width($(window).width()+20);
	$('.suo_k').width($(window).width()+20);
	var leftpx=$('.product').parent().offset().left;
	console.log($('.product').parent().offset().left);
	$('.product').css('left',-leftpx-10);
        jQuery("#carousel-blog").elastislide({
            imageW: 270,
            minItems: 2,
            speed: 600,
            easing: "easeOutQuart",
            margin: 30,
            border: 0,
            onClick: function () { }
        });</script>
    <!-- Revolution Slider  -->
    <script>
       var api;
        jQuery(document).ready(function () {
            api = jQuery('.fullwidthabnner').revolution(
                {
                    delay: 2000,
                    startheight: 370,
                    startwidth: 960,
                    hideThumbs: 10,
                    thumbWidth: 100,							// Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
                    thumbHeight: 50,
                    thumbAmount: 5,
                    navigationType: "both",					//bullet, thumb, none, both		(No Thumbs In FullWidth Version !)
                    navigationArrows: "verticalcentered",		//nexttobullets, verticalcentered, none
                    navigationStyle: "round",				//round,square,navbar
                    touchenabled: "on",						// Enable Swipe Function : on/off
                    onHoverStop: "off",						// Stop Banner Timet at Hover on Slide on/off
                    navOffsetHorizontal: 0,
                    navOffsetVertical: 20,
                    stopAtSlide: -1,
                    stopAfterLoops: -1,
                    shadow: 1,								//0 = no Shadow, 1,2,3 = 3 Different Art of Shadows  (No Shadow in Fullwidth Version !)
                    fullWidth: "on"							// Turns On or Off the Fullwidth Image Centering in FullWidth Modus
                });
        });
    </script>
    <script type="text/javascript">
        var F_high;
	$(window).scroll(function(){
		F_high = $(window).scrollTop();
		if(F_high > 70){
			$("#leBox_info").addClass("on");
			$(".Experience_Center_menu").addClass("on")
			$(".leBox_fixed").addClass('on')
			$(".my_order_nav").addClass("on")
		}else{
			$("#leBox_info").removeClass("on")
			$(".Experience_Center_menu").removeClass("on")
			$(".leBox_fixed").removeClass("on")
			$(".my_order_nav").removeClass("on")
		}
    });
        var win_h =  $(window).height();
        var n = 0;
        function moveAnimation(animate_p, name, scale){  //动画
    	$(window).mousewheel(function(event, delta) {
	    	var F_high = $(window).scrollTop();
	    	if (!$(animate_p).offset()) {
	    		return;
	    	}
			var t = $(animate_p).offset().top;
	        var t_height = $(name).height();
	       	 if (delta > -1) {
		        	// n = 200;
		        	if(F_high < t + t_height + win_h){
		        		n-=6;
		        		if(n <= 0){ 
			            	n = 0;
	                        $(name).css("transform", "translateY(0px) scale("+scale+")");
			            }else{
	                        $(name).css("transform", "translateY("+n+"px) scale("+scale+")");
			            }
		        	}
		        } else if(F_high > t - win_h){
		        		n+=6;
			        	if(n >= 100){
			        		n = 100;
	                        $(name).css("transform", "translateY(100px) scale("+scale+")");
			        	}else{
	                        $(name).css("transform", "translateY("+ n +"px) scale("+scale+")");
			        	}
		        	}
	    });
    }    
    moveAnimation(".animate_p101", ".HISS_Safe_part4 img", 1);
    moveAnimation(".animate_p202", ".HISS_Safe_part7 .HISS_Safe_box", 1);
    moveAnimation(".animate_p303", ".HISS_Design_part4", 1);
    moveAnimation(".animate_p101", ".HISS_Design_part6", 1.2);
    moveAnimation(".animate_p202", ".HISS_Design_part8", 1.2);
    $(function(){
	/*窗口大小*/
var winWidth,winHeight;
var win_h =  $(window).height()*0.6;
var win_height = $(window).height()*1;
	$(window).scroll(function(){
        funHeight(".animate_p2" , ".HISS_Safe_threeImg");
		funHeight(".animate_p2" , ".place01");
		funHeight(".animate_p2" , ".place02");
		funHeight(".animate_p2" , ".place03");
		if($(".HISS_Fun_part3 video").hasClass("on")){
			document.getElementById('myVideo').play();
		}
		funHeight(".animate_p2" , ".HISS_Fun_part4 .HISS_Fun_cabinet");
		funHeight(".animate_p2" , ".HISS_Fun_part4 .HISS_Fun_info");
        if($(".HISS_Fun_part6 video").hasClass("on")){
			document.getElementById('myVideo1').play();
		}   
	})
function funHeight(n , c){
		var F_high = $(window).scrollTop();
		var t = $(n).offset().top;
		if(F_high > t - win_h){
			$(c).addClass("on");
		}
		if(F_high == 0){
			$(c).removeClass("on");
		}
}
});
    </script>
</body>
</html>