<div class="part2" style='margin-bottom: 185px;padding-top:48px'>
    <div class="container">
            <h2 style="font-size: 36px;margin-top:85px;">  <img src="./img/s_wis_ic_of1.png" alt=""> 系统组成</h2>
            <p style='font-size:20px;text-align: center'>部署简单 &nbsp;&nbsp;  构筑安全 &nbsp;&nbsp;   贴近工作 &nbsp;&nbsp;  方便使用  &nbsp;&nbsp;  快速扩展 </p>
        <div style='display:flex'>
            <div class="prt2_txt one">
                <img src="./img/s_wis_img_sys_1.png" alt="">
                <p style='margin-top:18px;'><span style="font-size: 35px;">3</span> 类关键智能设备</p>
            </div>
            <div class="prt2_txt two" style="line-height: 175px;">
                <img src="./img/s_wis_ic_sys.png" alt="" >
                <!-- <p>租用权限自动转移使用信息完整追溯</p> -->
            </div>
            <div class="prt2_txt three">
                <img src="./img/s_wis_img_sys_2.png" alt="">
                <p style='margin-top:18px;'><span style="font-size: 35px;">2</span> 个移动控制接口</p>
            </div>
            <div class="prt2_txt four" style="line-height: 175px;">
                <img src="./img/s_wis_ic_sys.png" alt="">
                <!-- <p>平台接入客源共享移动办公场所易寻</p> -->
            </div>
            <div class="prt2_txt five" style='margin-right:0'>
                <img src="./img/s_wis_img_sys_3.png" alt="">
                <p style='margin-top:18px;'><span style="font-size: 35px;">1</span> 个后台管理平台</p>
            </div>
        </div>
    </div>
</div>
<!-- part4 -->
<div class="part4 " style='padding-top:40px;'>
    <div class="container">
        <h2 class="animate_p2 anpt1"><img src="./img/s_wis_ic_of2.png" alt=""> 核心功能</h2>
        <div  style='display: flex;margin-top:65px;' >
            <div class="smarto1" style='background: #fff;width:388px;text-align: center;margin-right:15px;'>
                <img src="./img/s_wis_img_fea_1.png" alt="">
                <div style='padding:35px;'> <h3>轻量智能远程监控</h3> 
                    安全策略触发的实时图像截取 <br>
                    支持移动的监视能力</div>
            </div>
            <div  class="smarto1" style='background: #fff;width:388px;text-align: center;margin-right: 15px;'>
                <img src="./img/s_wis_img_fea_2.png" alt="">
                <div style='padding:35px;'> <h3>多种出入控制手段的互备</h3> 动态人脸识别（在线+离线）<br>
                    手机APP远程 <br>
                    本地管理员密码
                  </div>
            </div>
            <div  class="smarto1" style='background: #fff;width:388px;text-align: center'>
                <img src="./img/s_wis_img_fea_3.png" alt="">
                <div style='padding:35px;'> <h3>私人化控制和企业化管理</h3> 无钥匙无把手 <br>
                    指纹或手机远程开启 <br>
                    丰富的线上权限控制 <br>
                    外置摄像头联动 <br>
                    分抽屉独立控制更方便</div>
            </div>
        </div>
        <div style='display: flex;margin-top:60px;' >
            <div  class="smarto1" style='background: #fff;width:388px;text-align: center;margin-right:15px;'>
                <img src="./img/s_wis_img_fea_4.png" alt="">
                <div style='padding:35px;'> <h3>空间资源的有效管理</h3> 专属权限/共享权限的申请及分配 <br>
                    预定与结算 <br>
                    使用时限及访客管理 <br>运营状态统计</div>
            </div>
            <div  class="smarto1" style='background: #fff;width:388px;text-align: center;margin-right: 15px;'>
                <img src="./img/s_wis_img_fea_5.png" alt="">
                <div style='padding:35px;'> <h3>强弱安全策略的动态组织</h3> 后台一键授权/撤权，立即生效<br>
                    出入记录全在线，随时可查可导出 <br>
                    非工作时间安全策略
                   </div>
            </div>
            <div  class="smarto1" style='background: #fff;width:388px;text-align: center'>
                <img src="./img/s_wis_img_fea_6.png" alt="">
                <div style='padding:35px;'> <h3>轻量级企业OA云端管理</h3> 基于门禁的快速考勤 <br>
                    设备管控/操作记录/状态查询 <br>
                    支持会议室在线预订及通知 <br>
                    访客流引导管理 <br>
                    员工一键入离职</div>
            </div>
        </div>
    </div>
</div>
<!-- part3 -->
<div class="part3 animate_p1" style='margin-bottom: 130px;'>
    <div class="container">
        <h2 class='OS_part2' style='margin-top:65px;'><img src="./img/s_wis_ic_of3.png" alt="">适用场景</h2>
        <div style='display:flex;margin-top:60px;' class="OS_part3">
            <div >
                <figure class="imghvr-zoom-in" style='border:none;margin:15px;'>
                    <img src="./img/s_wis_img_sence_1.png">
                    <figcaption style='text-align: center;font-size:16px;line-height: 36px;padding-top:60px'>
                        <!-- <a href="javascript:;" style='color:#fff;display: inline-block;width:130px;height:50px;border-bottom: 1px solid #fff'>楼宇</a> -->
                        <p class="restxt_20" style='font-size:28px;border-bottom: 1px solid #fff;width:140px;margin:10px auto;padding-bottom: 20px;'>楼宇</p>   <p>独立院落多层办公楼</p> 
                        <p>双开自动控制楼宇门</p>
                        <p>车位使用权限分配/长短租</p>
                        <p>固定开放时间</p>
                        <p>自动人脸记录  </p>
                    </figcaption>
                    <a href="#"></a>
                </figure>
            </div>
            <div >
                <figure class="imghvr-zoom-in" style='border:none;margin:15px;'>
                    <img src="./img/s_wis_img_sence_2.png">
                    <figcaption style='text-align: center;font-size:16px;line-height: 36px;padding-top:60px'>
                        <p class="restxt_20" style='font-size:28px;border-bottom: 1px solid #fff;width:140px;margin:10px auto;padding-bottom: 20px;'>开放办公区</p>   <p>独立院落多层办公楼</p> 
                        <p>开放大区域办公场地</p>
                        <p>自动控制大门</p>
                        <p>身份识别进入</p>
                        <p>访客自动识别</p>
                    </figcaption>
                    <a href="#"></a>
                </figure>
            </div>
            <div >
                <figure class="imghvr-zoom-in" style='border:none;margin:15px;'>
                    <img src="./img/s_wis_img_sence_3.png">
                    <figcaption style='text-align: center;font-size:16px;line-height: 36px;padding-top:60px'>
                        <p class="restxt_20" style='font-size:28px;border-bottom: 1px solid #fff;width:140px;margin:10px auto;padding-bottom: 20px;'>独立办公室</p>   <p>独立院落多层办公楼</p> 
                        <p>经理室/财务室/档案室</p>
                        <p>玻璃门/木门</p>
                        <p>身份识别进入</p>
                        <p>私密物品保管</p>
                    </figcaption>
                    <a href="#"></a>
                </figure>
            </div>
        </div>
        <div style='display: flex;' class="OS_part4">
            <div >
                <figure class="imghvr-zoom-in" style='border:none;margin:15px;'>
                    <img src="./img/s_wis_img_sence_4.png">
                    <figcaption style='text-align: center;font-size:16px;line-height: 36px;padding-top:60px'>
                        <p class="restxt_20" style='font-size:28px;border-bottom: 1px solid #fff;width:140px;margin:10px auto;padding-bottom: 20px;'>会议室</p>   <p>独立院落多层办公楼</p> 
                        <p>电控玻璃门</p>
                        <p>支持预约和占用管理</p>
                        <p>自动会议通知</p>
                    </figcaption>
                    <a href="#"></a>
                </figure>
            </div>
            <div >
                <figure class="imghvr-zoom-in" style='border:none;margin:15px;'>
                    <img src="./img/s_wis_img_sence_5.png">
                    <figcaption style='text-align: center;font-size:16px;line-height: 36px;padding-top:60px'>
                        <p class="restxt_20" style='font-size:28px;border-bottom: 1px solid #fff;width:140px;margin:10px auto;padding-bottom: 20px;'>机房</p>   <p>独立院落多层办公楼</p> 
                        <p>电控铁门/木门</p>
                        <p>仅管理员可进</p>
                        <p>出入/维保记录</p>
                    </figcaption>
                    <a href="#"></a>
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="animate_p3 anpt4" style='padding-bottom: 185px;padding-top:48px'>
    <div class="container" >
            <h2  style="font-size: 36px;margin-top:85px;">  <img src="./img/solu_ic_of4.png" alt=""> 客户案例</h2>
            <div style='display: flex;background: #fff;margin-top:40px;'>
                <div style='flex:2'>
                    <img src="./img/case_img_office1.png" alt="" >
                </div>
                
                <div style='flex:3;padding:90px 20px;font-size: 18px;line-height: 34px;'>
                    <p>智普信与“成功之旅”（广州成功之路国际旅行社有限公司）合作，安装了数十套轻量化办公套装。该套装内容包括人脸门禁、指纹门锁、文件柜、摄像头、APP及WEB管理后台，有效地解决了企业在人员管理、出入安全、访客邀请管理、会议室预订管理以及设备智能管控等方面的问题，帮助企业迈入智能办公行列。</p>
                </div>
            </div>
           
    </div>
</div>
