<!DOCTYPE html>
<html lang="en">
<head>
    <title>智普信科技</title>
    <meta charset="utf-8">
    <link rel="icon" href="img/logo.png" type="image/x-icon">
    <link rel="shortcut icon" href="img/logo1.png" type="image/x-icon" />
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/inner.css" type="text/css" media="screen">
    <link rel="stylesheet" href="demo/switcher.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/es-carousel.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/prettyphoto.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/footer-color.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/color1.css" type="text/css" id="theme" />
    <link rel="stylesheet" href="css/footer-color.css" type="text/css" media="screen">
    <!-- CSS STYLE -->
    <link rel="stylesheet" href="css/rs-plugin/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/rs-plugin/preview.css" type="text/css" media="screen" />
    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" href="css/rs-plugin/settings.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/rs-plugin/captions.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/portfolio.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/portfolio-shape.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/elements.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/animate.min.css" type='text/css'>
    <!--[if lt IE 9]>
    <link href='http//fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/docs.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
  <![endif]-->
    <link rel="stylesheet" href="css/keyframes.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/safirst.css">
    <link rel="stylesheet" href="css/imagehover.min.css">
    <link rel="stylesheet" href="css/office-se.css">
    <style>
        .ft16 {
            font-size: 16px !important;
        }
        .list-services li:first-child figure {
            float: left;
            margin: 60px 15px 6px 0;
            border: none;
        }
        .list-services li:nth-child(2) figure {
            float: left;
            margin: 40px 15px 6px 0;
            border: none;
        }
        .list-services li:nth-child(3) figure {
            float: left;
            margin: 40px 15px 6px 0;
            border: none;
        }
        .list-services li:nth-child(4) figure {
            float: left;
            margin: 40px 15px 6px 0;
            border: none;
        }
        .list-services li:nth-child(5) figure {
            float: left;
            margin: 50px 15px 6px 0;
            border: none;
        }
        .ft14 {
            font-size: 14px;
        }
        .title {
            background: none;
            margin-top: 130px;
        }
        .title i {
            display: inline-block;
            width: 63px;
            height: 63px;
            background: url(img/index-title.png) no-repeat;
            background-size: 100%;
            float: left;
            margin-right: 15px;
            margin-top: 27px;
        }
        .title h4 {
            font-size: 36px;
            text-align: left;
        }
        .title h4 span {
            font-size: 28px;
            color: #8a8a8a
        }
        [class*=' imghvr-'],
        [class^=imghvr-] {
            background-color: rgba(78, 179, 247, .7)
        }
        main{width:100%important;}
        main.cloud_wrap {width:100%important;}
        strong{font-style: normal;}
        .cloud_wrap{width:100%;}
        .part2 h2{font-size:40px;}
        body{font-family: Georgia, 'Times New Roman', Times, serif;}
        table{
            width:100%!important;
            margin:0!important;
        }
        em,i{
            font-style: normal!important;
        }
    </style>
</head>
<body class="home-page stretched">
    <div id="wrapper">
        <!--==============================header=================================-->
        <div id='head' class=" clearfix" style='height: 60px;
        background: #fff;
        z-index: 1000;
        position: absolute;
        width: 100%;'>
            <!-- Logo & Navigation -->
            <div class='header' style='height: 60px;background:#fff;' id='header'>
                <div class="container">
                    <div class="row ">
                        <div class="span12" style='height: 60px;'>
                            <!-- Logo -->
                            <h1 class="brand brand_" style='margin-top:12px;'><a href="index.html"><img
                                        src="img/index_logo.png" alt=""></a></h1>
                            <!-- Navigation -->
                            <div class="navbar navbar_">
                                <div class="container">
                                    <!--=========== menu ===============-->
                                    <div class="nav-collapse nav-collapse_ collapse">
                                        <ul class="nav sf-menu">
                                            <!-- <li class="sub-menu main-menu" style='margin-right:15px;padding: 0 10px;'>
                                                    <a class="" href="customer.html">核心技术</a>
                                                </li> -->
                                            <li class=" sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                                                <a class="" href="javascript:;">解决方案</a>
                                                <ul class="sub_sub_menu">
                                                    <li>
                                                        <a href="smart-office.html" class="sub_title"
                                                            img='img/ziyou.png'>智能办公</a>
                                                    </li>
                                                    <li>
                                                        <a href="office-se.html" class="sub_title"
                                                            img='img/jiaju.png'>共享空间</a>
                                                    </li>
                                                    <li>
                                                        <a href="shared-parking.html" class="sub_title"
                                                            img='img/gongyu.png'>共享停车</a>
                                                    </li>
                                                    <li>
                                                        <a href="shared-storage.html" class="sub_title"
                                                            img='img/shequ.png'>共享仓储</a>
                                                    </li>
                                                    <li>
                                                        <a href="cloud.html" class="sub_title"
                                                            img='img/shequ.png'>智能安防云</a>
                                                    </li>
                                                    <li>
                                                        <a href="baoguan.html" class="sub_title"
                                                            img='./img/gongxiang.png'>重要物品保管</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class=" sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                                                <a class="" href="product-center.html" target="_blank">产品中心</a>
                                            </li>
                                            <li class="sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                                                <a class="" href="customer-case.html">客户案例</a>
                                            </li>
                                            <li class="sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                                                <a class="" href="news.html">新闻动态</a>
                                            </li>
                                            <li class="sub-menu main-menu about"
                                                style='margin-right:15px;padding: 0 6px;'>
                                                <a class="" href="about.html">关于智普信</a>
                                                <ul class="sub_sub_menu">
                                                    <li>
                                                        <a href="about.html" class="sub_title"
                                                            img='img/ziyou.png'>公司介绍</a>
                                                    </li>
                                                    <li>
                                                        <a href="about.html#part4" class="sub_title"
                                                            img='img/jiaju.png'>品牌理念</a>
                                                    </li>
                                                    <li>
                                                        <a href="about.html#part5" class="sub_title"
                                                            img='img/gongyu.png'>发展历程</a>
                                                    </li>
                                                    <li>
                                                        <a href="about.html#part7" class="sub_title"
                                                            img='img/shequ.png'>专利认证</a>
                                                    </li>
                                                    <li>
                                                        <a href="about.html#part9" class="sub_title"
                                                            img='./img/gongxiang.png'>联系我们</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--==============================content=================================-->
        <img class='resp_show' src="./img/phone/images/office_02.png" alt="" style='width:100%;display:none;'>
        <section class='resp_noneimg' id="content" style='background:#fff;padding-bottom: 0;'>
            <!-- sfd_part1 -->
            <div class="part1" style='background:#f6f6f6'>
                <img src="./img/news_img_banner.png" alt="">
                <div class="prt1_text">
                    <h2 style='color:#fff;'>新闻动态</h2>
                    <p style='font-size:36px;text-align: center;color:#fff;'>N E W S</p>
                </div>
            </div>
            <div class="part2" style='padding-top:70px;padding-bottom: 185px;background: #eee'>
                <div class="container">
                    <div style='font-size:20px;'>
                        << &nbsp;新闻列表</div> 
                        <div class="newdetails" style='background: #fff;padding:70px 50px;text-align: center'>
                    </div>
                </div>
            </div>
    </div>
    </section>
    <!--==============================footer=================================-->
    <footer>
        <!-- footer 2 -->
        <div id="copyrights" class="footer-2 footer-dark">
            <div class="container">
                <div class="row">
                    <div class="span12" style="font-size:14px;">
                        Copyright © 2012-2019. 智普信科技 ｜
                        <a href="http://www.beian.miit.gov.cn"> <span style="color:#c0c0c0;">京ICP备09017907</span> </a></div>
                </div>
            </div>
        </div>
    </footer>
    </div>
    <script type="text/javascript" src='js/jquery.js'></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.sliderTabs.js"></script>
    <!-- jQuery Slider  -->
    <script type="text/javascript" src="js/rs-plugin/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="js/rs-plugin/jquery.themepunch.revolution.min.js"></script>
    <!-- Elastislider  -->
    <script type="text/javascript" src="js/jquery.elastislide.js"></script>
    <script type="text/javascript" src="js/jquery.ui.totop.js"></script>
    <script type="text/javascript" src="js/jquery.mobile.customized.min.js"></script>
    <script type="text/javascript" src="js/tabs.js"></script>
    <!-- Sitemap  -->
    <script type="text/javascript" src="js/sitemap.js"></script>
    <!-- Navigation  -->
    <script type="text/javascript" src="js/nav-small.js"></script>
    <script type="text/javascript" src="js/jquery.mobilemenu.js"></script>
    <!-- Isotope  -->
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    <!-- Metro Style  -->
    <script type="text/javascript" src="js/boxgrid.js"></script>
    <script type="text/javascript" src="demo/switcher.js"></script>
    <script type="text/javascript" src="js/jquery.mousewheel.js"></script>
    <script>
        $('.part1 .prt1_text').addClass('on');
        var newid = window.sessionStorage.getItem('newid');
        console.log(newid);
        function newdetails() {
            $.ajax({
                type: "POST",
                url: 'https://zp.zeepson.com:8099/zeepson/advertisementDetail',
                data: JSON.stringify({
                    data: {
                        listId: newid,
                    }
                }),
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    console.log(data.data);
                    var details=data.data.html;
                    console.log(details);
                    $('.newdetails').append(details);
                }
            });
        }
        newdetails();
    </script>
</body>
</html>