<!DOCTYPE html>
<html lang="en">
<head>
    <title>智普信科技</title>
    <meta charset="utf-8">
    <link rel="icon" href="img/logo.png" type="image/x-icon">
    <link rel="shortcut icon" href="img/logo1.png" type="image/x-icon" />
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/inner.css" type="text/css" media="screen">
    <link rel="stylesheet" href="demo/switcher.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/es-carousel.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/footer-color.css" type="text/css" media="screen">
    <!-- CSS STYLE -->
    <link rel="stylesheet" href="css/rs-plugin/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/rs-plugin/preview.css" type="text/css" media="screen" />
    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" href="css/rs-plugin/settings.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/elements.css" type="text/css" media="screen">
    <!--[if lt IE 9]>
    <link href='http//fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/docs.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
  <![endif]-->
    <link rel="stylesheet" href="css/keyframes.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/safirst.css">
    <link rel="stylesheet" href="css/O_S.summary.css">
    <style>
        .list-services li:first-child figure { 
          float: left;
           margin: 60px 15px 6px 0; 
           border:none;
           }
           .list-services li:nth-child(2) figure { 
          float: left;
           margin: 40px 15px 6px 0; 
           border:none;
           }
             .list-services li:nth-child(3) figure { 
          float: left;
           margin: 40px 15px 6px 0;
           border:none; 
           }
             .list-services li:nth-child(4) figure { 
          float: left;
           margin: 40px 15px 6px 0;
           border:none; 
           }
              .list-services li:nth-child(5) figure { 
          float: left;
           margin: 50px 15px 6px 0;
           border:none; 
           }
           .ft14{
             font-size: 14px;
           }
           .title{
          background: none;
          margin-top:130px;
        }
        .title i{
          display: inline-block;
          width:63px;
          height: 63px;
          background: url(img/index-title.png) no-repeat;
          background-size:100%;
          float:left;
          margin-right:15px;
          margin-top: 27px;
        }
        .title h4{
          font-size:36px;
          text-align: left;
        }
        .title h4 span{
          font-size:28px;
          color:#8a8a8a
        }
          </style>
</head>
<body class="home-page stretched">
    <div id="wrapper">
        <!--==============================header=================================-->
        <div id='head' class=" clearfix" style='height: 60px;
        background: #fff;
        z-index: 1000;
        width: 100%;'>
            <!-- Logo & Navigation -->
            <div class='header' style='height: 60px;background:#fff;' id='header'>
                <div class="container">
                    <div class="row ">
                        <div class="span12" style='height: 60px;'>
                            <!-- Logo -->
                            <h1 class="brand brand_" style='margin-top:12px;'><a href="index.html"><img
                                        src="img/index_logo.png" alt=""></a></h1>
                            <!-- Navigation -->
                            <div class="navbar navbar_">
                                <div class="container">
                                    <!--=========== menu ===============-->
                                    <div class="nav-collapse nav-collapse_ collapse">
                                        <ul class="nav sf-menu">
                                                <li class=" sub-menu main-menu" style='margin-right:15px;padding: 0 10px;'>
                                                    <a class="" href="product-center.html">产品中心</a>
                                                    <ul class="sub_sub_menu product" style='top:46px;'>
                                                        <a href="safirst.html">
                                                            <dl style='margin-left:30%;text-align: center;margin-top:40px;'>
                                                                <dt>
                                                                    <img src="./img/_icon_product_safirst.png" alt="">
                                                                </dt>
                                                                <dd style='margin-left:-2px;font-size:14px;margin-top:16px;'>
                                                                    Safirst</dd>
                                                                <dd style='margin-left:-2px;font-size:14px;'>初柜</dd>
                                                            </dl>
                                                        </a>
                                                        <a href="leBox.html">
                                                            <dl style='margin-left:3%;text-align: center;margin-top:40px;'>
                                                                <dt>
                                                                    <img src="./img/_icon_product_le.png" alt="">
                                                                </dt>
                                                                <dd style='margin-left:-2px;font-size:14px;;margin-top:16px;'>
                                                                    Le-Box</dd>
                                                                <dd style='margin-left:-2px;font-size:14px;'>乐盒</dd>
                                                            </dl>
                                                        </a>
                                                        <a href="O_S.summary.html">
                                                            <dl style='margin-left:3%;text-align: center;margin-top:40px;'>
                                                                <dt>
                                                                    <img src="./img/_icon_product_os.png" alt="">
                                                                </dt>
                                                                <dd style='margin-left:-2px;font-size:14px;;margin-top:16px;'>
                                                                    O.S Cabinet</dd>
                                                                <dd style='margin-left:-2px;font-size:14px;'>智能办公柜</dd>
                                                            </dl>
                                                        </a>
                                                        <a href="HISSSafe-summary.html">
                                                            <dl style='margin-left:3%;text-align: center;margin-top:40px;'>
                                                                <dt>
                                                                    <img src="./img/_icon_product_safe.png" alt="">
                                                                </dt>
                                                                <dd style='margin-left:-2px;font-size:14px;;margin-top:16px;'>
                                                                    Hiss Safe</dd>
                                                                <dd style='margin-left:-2px;font-size:14px;'>智能保险柜</dd>
                                                            </dl>
                                                        </a>
                                                        <a href="smart-access.html">
                                                            <dl style='margin-left:3%;text-align: center;margin-top:40px;'>
                                                                <dt>
                                                                    <img src="./img/_icon_product_access.png" alt="">
                                                                </dt>
                                                                <dd style='margin-left:-2px;font-size:14px;;margin-top:16px;'>
                                                                    Smart Access</dd>
                                                                <dd style='margin-left:-2px;font-size:14px;'>智能门禁</dd>
                                                            </dl>
                                                        </a>
                                                    </ul>
                                                </li>
                                                <li class="sub-menu main-menu" style='margin-right:50px;padding: 0 10px;'>
                                                    <a class="" href="download-app.html">技术服务</a>
                                                    <ul class="sub_sub_menu" style='width:110px;'>
                                                        <li>
                                                            <a href="download-app.html" class="sub_title"
                                                                img='img/jiaju.png'>下载APP</a>
                                                        </li>
                                                        <li>
                                                            <a href="download-app.html#manual" class="sub_title"
                                                                img='img/gongyu.png'>下载使用手册</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            <li class="sub-menu main-menu" style='margin-right:0;padding: 0;'>
                                                <a data-toggle="modal" href="#myModal"
												style='color:#28a5fa!important'>在售商城</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	<!-- Modal -->
	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel"> <i class="sales"></i> 请选择在售商城</h3>
		</div>
		<div class="modal-body">
			<div style='display: flex;'>
				<div>
					<a href="https://mall.jd.com/index-900497.html" target="_blank"><img src="./img/img_code_j.png" alt=""></a>
					<p style='text-align: center;font-weight: bold;'>点击进入商城 或 <br>京东APP扫码进入</p>
				</div>
				<div>
					<a href="https://hissznsb.tmall.com/" target="_blank"><img src="./img/img_code_t.png" alt=""></a>
					<p style='text-align: center;font-weight: bold;'>点击进入商城 或 <br>淘宝APP扫码进入</p>
				</div>
				<div>
					<a href="http://mp.weixin.qq.com/bizmall/mallshelf?id=&t=mall/list&biz=MzA5NjIyODYyNQ==&shelf_id=1&showwxpaytitle=1#wechat_redirect" target="_blank"><img src="./img/img_code_w.png" alt=""></a>
					<p style='text-align: center;font-weight: bold;margin-top:16px'>微信扫码进入</p>
				</div>
			</div>
		</div>
	</div>
                <div id='leBox_info' class="breadcrumb-wrapper" style='height:44px;'>
                      <div class="container">
                        <div class="header" style='background:transparent;padding:0'>
                            <h2 style='color:#fff;font-size: 18px;'>办公柜</h2>
                            <ul class="breadcrumb fright sub_nav" style='padding-bottom: 0'>
                                  <li><a href="O_S.summary.html"  class='sub_active'>概述</a> &nbsp;&nbsp;&nbsp;&nbsp;</li>
                                  <li > <a href="O.S.design.html">设计 &nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                                  <li ><a href="O.S.Function.html">功能 &nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                                  <li style='margin-right:15px;'><a href="O.S.technical_specifications.html">技术规格</a> </li>
                                  <!-- <li ><a href="https://hissznsb.tmall.com/index.htm" target="_blank">购买</a> </li> -->
                              </ul>
                        </div>
                      </div>
                  </div>    
        <!--==============================content=================================-->
        <section id="content" style='background:#fff;border-bottom: none'>
          <div class="container">
               <!-- sfd_part1 -->
               <div class="OS_part1 animate_p1">
                <div class="os_tilte on">
                    <h1>O.S <span>Cabinet</span></h1>
                    <p>跨时代的智能办公柜</p>
                </div>
                <div class="OS_part1_inner on">
                    <img src="img/OS_001_03.png" alt="">
                </div>
                <div class="hiss_header_content OS_mess ">
                    <p>O.S Cabinet 拥有先进的HISS智能芯片，我们致力于打造一个适用于办公环境的智能柜：要求有大容量空间，方便日常办公物品储存；更加优秀的性能，还要实用且简单易用。最终呈现出来的 O.S Cabinet，超脱了传统办公柜的认知，O.S Cabinet 是我们对智能办公超前体验的第一步。</p>
                </div>
                <div class="hiss_header_content">
                    <div class="OS_num">
                        <div class="OS_cell delay03">
                            <p>1.5 <sub>毫米</sub></p>
                            <span>壁厚</span>
                        </div>
                        <div class="OS_cell delay04">
                            <p>100 <sub>升</sub></p>
                            <span>超大容积</span>
                        </div>
                        <div class="OS_cell delay05">  
                            <p>30 <sub>千克</sub></p>
                            <span>负重致远</span>
                        </div>
                        <div class="OS_cell delay06">  
                            <p>24 <sub>小时</sub></p>
                            <span>昼夜监控</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>           
          </div>
          <!-- part2 -->
          <div class="OS_part2 animate_p2 animate_p101">
            <div class="OS_animation">
                <div class="OS_part2_over" style="transform: translateY(34px) scale(1);"></div>
            </div>
        </div>
        <!-- part3 -->
            <div class="OS_part3">
                <div class="topic_con">
                    <div class="OS_title">
                        <p>现有两抽屉和三抽屉2种选择。</p>
                    </div>
                    <div class="OS_inner">
                        <div class="img_bg">
                            <img src="img/OS_01_03.png" alt="">
                        </div>
                        <div class="img_bg pos_img">
                            <img src="img/OS_02_03.png" alt="">
                        </div>
                    </div>
                    <div class="pos_info_mess">
                        <div class="info_mess ">
                            <h1>创新前沿</h1>
                            <h1>大储存，精工艺</h1>
                            <p>来自 HISS 的前沿科技，无把手弹出柜门设计，更有三层柜与两层柜可供选择，适合不同办公储存需求。我们对 O.S Cabinet 整个设计和工艺进行重新构想，尺寸、构造都为了贴合办公生活。</p>
                            <a href="O.S.design.html">了解 O.S Cabinet 设计＞</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>      
          </div>
            <!-- part4 -->
            <div class="OS_part4">
                <div class="hiss_header_content">
                    <div class="OS_equally">
                        <div class="OS_img_one">
                            <img src="img/OS_04_03.png" alt="">
                            <img src="img/OS_03_03.png" alt="" style='display: none'>
                        </div>
                        <!-- <div class="OS_img_two">
                        </div> -->
                    </div>
                    <div class="title_mess">
                        <div class="info_mess ">
                            <h1>精密结构，智慧结晶</h1>
                            <p>在工艺上我们提升了 O.S Cabinet 的创新和精准度，经过多次试验、精心打造，呈现更加简洁大方的 O.S Cabinet。壁厚1.5毫米，结构紧密，给文件更好的保护。</p>
                            <a href="O.S.design.html">了解 O.S Cabinet 设计＞</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
              <!-- part5  -->
              <div class="OS_part5 animate_p3 animate_p202">
                <div class="OS_animation animation2">
                    <!-- <img src="images/OS_04_02.jpg" alt=""> -->
                    <div class="OS_part5_over" style="transform: translateY(100px) scale(1);"></div>
                </div>
            </div>
        </section>
            <!-- part6 -->
            <div class="OS_part6 animate_p4">
                <div class="inner">
                    <div class="OS_part6_img">
                        <img src="img/OS_05.png" alt="">
                    </div>
                    <div class="hiss_header_content">
                        <div class="title_mess  on">
                            <div class="info_mess ">
                                <h1>极简面板，为你而生</h1>
                                <p>O.S Cabinet 顶部面板集成了 HISS 智能芯片，你可以通过面板内嵌的高敏指纹模块和柜门控制按钮，轻松控制 O.S Cabinet。O.S Cabinet 的指纹模块敏感度高、容错率小，有别于市面常规智能设备上的指纹模块。轻松点、扫、按，带你进入智能办公新模式。</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="OS_part6_b">
                        <a class="a_part6 on" href="O.S.Function.html">了解 O.S Cabinet 功能＞</a>
                        <div class="fingerprint delay01 on">
                            <p><img src="img/OS_06.png" alt=""></p>
                            <p>指纹验证</p>
                        </div>
                        <div class="fingerprint delay02 on">
                            <p><img src="img/OS_07.png" alt=""></p>
                            <p>弹出柜门</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
         <!-- sf_part7 -->    
         <div class="OS_part7 animate_p5">
            <div class="inner">
                <div class="hiss_header_content">
                    <div class="title_mess on">
                        <div class="info_mess ">
                            <h1>24小时无线控制</h1>
                            <p>O.S Cabinet 内置 HISS云 模块，通过个人移动设备，安装HISS官方APP及微信客户端，现在更支持 Touch ID 关联解锁，轻松几步完成设置，既可以远程操控 O.S Cabinet。</p>
                            <a href="O.S.Function.html">了解 O.S Cabinet 功能＞</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="OS_part7_img on">
                    <img src="img/OS_08_03.png" alt="">
                </div>
            </div>
        </div>
         <!-- part8 -->
         <div class="OS_part8 ">
            <div class="part8_inner">
                <div class="part8_mess_l">
                    <div class="part8_img">
                        <img src="img/OS_09.png" alt="">
                    </div>
                    <div class="part8_title">
                        <p>Your Office Security</p>
                        <p>你的办公安全卫士</p>
                        <a href="O.S.Function.html">了解 HISS Office＞</a>
                    </div>
                </div>
                <div class="part8_mess_r">
                    <div class="part8_img">
                        <img src="img/OS_10.png" alt="">
                    </div>
                    <div class="part8_title">
                        <h1>宜租宜买</h1>
                        <p>
                            O.S Cabinet 采用了新式的商务合作模式，方便企业通过服务器对O.S Cabinet做统一规划、管理，最大限度保护企业机密和个人隐私。</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
         <!-- part9 -->
         <div class="HISS_Safe_part9">
                <div class="HISS_Safe_part9_bg"></div>
         </div>
         <!-- part10 -->
         <div class="D_part10 ">
            <div class="disney_part8">
                <div class="hiss_header_content">
                    <div class="disney_img">
                        <img src="img/next_03.png">
                    </div>
                    <div class="next_contect">
                        <span>下一步</span>
                        <p>极简主义</p>
                        <h2>一切为了更加贴合商务办公环境</h2>
                        <aside>了解 O.S Cabinet 的设计</aside>
                        <a href="O.S.design.html">下一章：设计 &gt;</a>
                    </div>
                </div>
            </div>
        </div>
        <!--==============================footer=================================-->
        <footer>
            <!-- footer 2 -->
            <div id="copyrights" class="footer-2 footer-dark">
                <div class="container">
                    <div class="row">
                        <div class="span12" style="font-size:14px;">
                            Copyright © 2012-2019. 智普信科技 ｜
                            <a href="http://www.beian.miit.gov.cn"> <span style="color:#c0c0c0;">京ICP备09017907</span> </a></div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src='js/jquery.js'></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.sliderTabs.js"></script>
    <!-- jQuery Slider  -->
    <script type="text/javascript" src="js/rs-plugin/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="js/rs-plugin/jquery.themepunch.revolution.min.js"></script>
    <!-- Elastislider  -->
    <script type="text/javascript" src="js/jquery.elastislide.js"></script>
    <script type="text/javascript" src="js/carousel.js"></script>
    <!-- totop  -->
    <script type="text/javascript" src="js/jquery.ui.totop.js"></script>
    <script type="text/javascript" src="js/prettify.js"></script>
    <script type="text/javascript" src="js/jquery.gridrotator.js"></script>
    <script type="text/javascript" src="js/jquery.mobile.customized.min.js"></script>
    <script type="text/javascript" src="js/tabs.js"></script>
    <!-- Sitemap  -->
    <script type="text/javascript" src="js/sitemap.js"></script>
    <!-- Navigation  -->
    <script type="text/javascript" src="js/nav-small.js"></script>
    <script type="text/javascript" src="js/jquery.mobilemenu.js"></script>
    <!-- Isotope  -->
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    <!-- Metro Style  -->
    <script type="text/javascript" src="js/boxgrid.js"></script>
    <script type='text/javascript' src='js/video.js'></script>
    <script type='text/javascript' src='js/swiper.min.js'></script>
    <!-- Elastislider  -->
    <script>
          $('.product').width($(window).width()+20);
	$('.suo_k').width($(window).width()+20);
	var leftpx=$('.product').parent().offset().left;
	console.log($('.product').parent().offset().left);
	$('.product').css('left',-leftpx-10);
       </script>
    <!-- Revolution Slider  -->
    <script>
    </script>
    <script type="text/javascript">
        var F_high;
	$(window).scroll(function(){
		F_high = $(window).scrollTop();
		if(F_high > 70){
			$("#leBox_info").addClass("on");
			$(".Experience_Center_menu").addClass("on")
			$(".leBox_fixed").addClass('on')
			$(".my_order_nav").addClass("on")
		}else{
			$("#leBox_info").removeClass("on")
			$(".Experience_Center_menu").removeClass("on")
			$(".leBox_fixed").removeClass("on")
			$(".my_order_nav").removeClass("on")
		}
    });
        var win_h =  $(window).height();
        var n = 0;
        function moveAnimation(animate_p, name, scale){  //动画
    	$(window).mousewheel(function(event, delta) {
	    	var F_high = $(window).scrollTop();
	    	if (!$(animate_p).offset()) {
	    		return;
	    	}
			var t = $(animate_p).offset().top;
	        var t_height = $(name).height();
	       	 if (delta > -1) {
		        	// n = 200;
		        	if(F_high < t + t_height + win_h){
		        		n-=6;
		        		if(n <= 0){ 
			            	n = 0;
	                        $(name).css("transform", "translateY(0px) scale("+scale+")");
			            }else{
	                        $(name).css("transform", "translateY("+n+"px) scale("+scale+")");
			            }
		        	}
		        } else if(F_high > t - win_h){
		        		n+=6;
			        	if(n >= 100){
			        		n = 100;
	                        $(name).css("transform", "translateY(100px) scale("+scale+")");
			        	}else{
	                        $(name).css("transform", "translateY("+ n +"px) scale("+scale+")");
			        	}
		        	}
	    });
    }    
    moveAnimation(".animate_p101", ".OS_part2 .OS_part2_over", 1);
    moveAnimation(".animate_p202", ".OS_part5 .OS_part5_over", 1);
    moveAnimation(".animate_p101", ".OSD_part4 img", 1);
    $(function(){
	/*窗口大小*/
var winWidth,winHeight;
var win_h =  $(window).height()*0.6;
var win_height = $(window).height()*1;
	$(window).scroll(function(){
		funHeight(".animate_p1" , ".OS_part1 .OS_mess")
		funHeight(".animate_p1" , ".OS_part1 .OS_cell")
		funHeight(".animate_p2" , ".OSD_part2 .OSD2_title")
		funHeight(".animate_p2" , ".OSD_part2 .delay01")
		funHeight(".animate_p2" , ".OSD_part2 .delay02")
		funHeight(".animate_p1" , ".OSF_part2 .OS_num .delay03")
		funHeight(".animate_p1" , ".OSF_part2 .OS_num .delay04")
		funHeight(".animate_p1" , ".OSF_part2 .OS_num .delay05")
		funHeight(".animate_p1" , ".OSF_part2 .OSF_title")
		funHeight(".animate_p2" , ".OSF_part4 .OSF_part4_liOne img")
		funHeight(".animate_p2" , ".OSF_part4 .OSF_part4_liOne p")
		funHeight(".animate_p2" , ".OSF_part4 .OSF_part4_liTwo img")
		funHeight(".animate_p2" , ".OSF_part4 .OSF_part4_liTwo p")
		funHeight(".animate_p2" , ".OSF_part4 .OSF_part4_liThree img")
		funHeight(".animate_p2" , ".OSF_part4 .OSF_part4_liThree p")
	})
function funHeight(n , c){
		var F_high = $(window).scrollTop();
		var t = $(n).offset().top;
		if(F_high > t - win_h){
			$(c).addClass("on");
		}
		if(F_high == 0){
			$(c).removeClass("on");
		}
}
});
    $('.OS_part4 .OS_img_one img').hover(function(){
        $('.OS_part4 .OS_img_one img:first').hide();
        $('.OS_part4 .OS_img_one img:last').show();
    },function(){
        $('.OS_part4 .OS_img_one img:first').show();
        $('.OS_part4 .OS_img_one img:last').hide();
    })
    </script>
</body>
</html>