<!DOCTYPE html>
<html lang="en">

<head>
    <title>智普信科技</title>
    <meta charset="utf-8">

    <link rel="icon" href="img/logo.png" type="image/x-icon">
    <link rel="shortcut icon" href="img/logo1.png" type="image/x-icon" />
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/inner.css" type="text/css" media="screen">
    <link rel="stylesheet" href="demo/switcher.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/es-carousel.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/prettyphoto.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/footer-color.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/color1.css" type="text/css" id="theme" />
    <link rel="stylesheet" href="css/footer-color.css" type="text/css" media="screen">
    <!-- CSS STYLE -->
    <link rel="stylesheet" href="css/rs-plugin/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/rs-plugin/preview.css" type="text/css" media="screen" />
    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" href="css/rs-plugin/settings.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/rs-plugin/captions.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/portfolio.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/portfolio-shape.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/elements.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/animate.min.css" type='text/css'>
   
   
    <!--[if lt IE 9]>
    <link href='http//fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/docs.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
  <![endif]-->
    <link rel="stylesheet" href="css/keyframes.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/safirst.css">
    <link rel="stylesheet" href="css/imagehover.min.css">
    <link rel="stylesheet" href="css/office-se.css">
    <style>
        .ft16 {
            font-size: 16px !important;
        }

        .list-services li:first-child figure {
            float: left;
            margin: 60px 15px 6px 0;
            border: none;
        }

        .list-services li:nth-child(2) figure {
            float: left;
            margin: 40px 15px 6px 0;
            border: none;
        }

        .list-services li:nth-child(3) figure {
            float: left;
            margin: 40px 15px 6px 0;
            border: none;
        }

        .list-services li:nth-child(4) figure {
            float: left;
            margin: 40px 15px 6px 0;
            border: none;
        }

        .list-services li:nth-child(5) figure {
            float: left;
            margin: 50px 15px 6px 0;
            border: none;
        }

        .ft14 {
            font-size: 14px;
        }


        .title {
            background: none;
            margin-top: 130px;
        }

        .title i {
            display: inline-block;
            width: 63px;
            height: 63px;
            background: url(img/index-title.png) no-repeat;
            background-size: 100%;
            float: left;
            margin-right: 15px;
            margin-top: 27px;
        }

        .title h4 {
            font-size: 36px;
            text-align: left;
        }

        .title h4 span {
            font-size: 28px;
            color: #8a8a8a
        }
        [class*=' imghvr-'], [class^=imghvr-]{
            background-color:rgba(115,113,114,.7)
        }
        .animate_p1,.animate_p2,.animate_p3,.animate_p4,.animate_p5,.anipt8,.anipt9{
  /* display: none; */
  visibility:hidden;
  position: relative;
}
    </style>

</head>

<body class="home-page stretched">
    <div id="wrapper" class="office-se">
        <!--==============================header=================================-->
        <div id='head' class=" clearfix" style='height: 60px;
        background: #fff;
        z-index: 1000;
        position: absolute;
        width: 100%;'>
    
                <!-- Logo & Navigation -->
                <div class='header' style='height: 60px;background:#fff;' id='header'>
                    <div class="container">
                        <div class="row ">
                            <div class="span12" style='height: 60px;'>
                                <!-- Logo -->
                                <h1 class="brand brand_" style='margin-top:12px;'><a href="index.html"><img
                                            src="img/index_logo.png" alt=""></a></h1>
                                <!-- Navigation -->
                                <div class="navbar navbar_">
                                    <div class="container">
                                        <!--=========== menu ===============-->
                                        <div class="nav-collapse nav-collapse_ collapse">
                                            <ul class="nav sf-menu">
                                                <!-- <li class="sub-menu main-menu" style='margin-right:15px;padding: 0 10px;'>
                                                    <a class="" href="customer.html">核心技术</a>
    
                                                </li> -->
                                                <li class=" sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                                                    <a class="" href="javascript:;">解决方案</a>
                                                    <ul class="sub_sub_menu">
                                                        <li>
                                                            <a href="smart-office.html" class="sub_title"
                                                                img='img/ziyou.png'>智能办公</a>
                                                        </li>
                                                        <li>
                                                            <a href="office-se.html" class="sub_title"
                                                                img='img/jiaju.png'>共享空间</a>
                                                        </li>
                                                        <li>
                                                            <a href="shared-parking.html" class="sub_title"
                                                                img='img/gongyu.png'>共享停车</a>
                                                        </li>
                                                        <li>
                                                            <a href="shared-storage.html" class="sub_title"
                                                                img='img/shequ.png'>共享仓储</a>
                                                        </li>
                                                        <li>
                                                          <a href="cloud.html" class="sub_title"
                                                              img='img/shequ.png'>智能安防云</a>
                                                        </li>
                                                        <li>
                                                            <a href="baoguan.html" class="sub_title"
                                                                img='./img/gongxiang.png'>重要物品保管</a>
                                                        </li>
    
    
                                                    </ul>
                                                </li>
                                                <li class=" sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                                                    <a class="" href="product-center.html" target="_blank">产品中心</a>
    
                                                </li>
    
                                                <li class="sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                                                    <a class="" href="customer-case.html">客户案例</a>
    
                                                </li>
                                                <li class="sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                                                    <a class="" href="news.html">新闻动态</a>
    
                                                </li>
                                                <li  class="sub-menu main-menu about" style='margin-right:15px;padding: 0 6px;'>
                                                    <a class="" href="about.html">关于智普信</a>
                                                    <ul class="sub_sub_menu">
                                                        <li>
                                                            <a href="about.html" class="sub_title"
                                                                img='img/ziyou.png'>公司介绍</a>
                                                        </li>
                                                        <li>
                                                            <a href="about.html#part4"  class="sub_title"
                                                                img='img/jiaju.png'>品牌理念</a>
                                                        </li>
                                                        <li>
                                                            <a href="about.html#part5" class="sub_title"
                                                                img='img/gongyu.png'>发展历程</a>
                                                        </li>
                                                        <li>
                                                            <a href="about.html#part7" class="sub_title"
                                                                img='img/shequ.png'>专利认证</a>
                                                        </li>
                                                      
                                                        <li>
                                                            <a href="about.html#part9" class="sub_title"
                                                                img='./img/gongxiang.png'>联系我们</a>
                                                        </li>
    
                                                    </ul>
                                                    <!-- <ul class="sub_sub_menu" style='width:115px;'>
                                  <li>
                                      <a href="home-se.html" class="sub_title" img='img/jiaju.png'>公司简介</a>
                                  </li>
                                  <li>
                                      <a href="partment.html" class="sub_title" img='img/gongyu.png'>发展历程</a>
                                  </li>
                                  <li>
                                      <a href="community.html" class="sub_title" img='img/shequ.png'>公司文化</a>
                                  </li>
                                 
                                 
                                </ul> -->
    
                                                </li>
    
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       


        <!--==============================content=================================-->
        <img class='resp_show' src="./img/phone/images/office_02.png" alt="" style='width:100%;display:none;'>
        <section class='resp_noneimg' id="content" style='background:#fff;padding-bottom: 0;'>


            <!-- sfd_part1 -->
            <div class="part1" style='background:#f6f6f6'>
                <img src="./img/s_office_img_banner(1).png" alt="">
                <div class="prt1_text">
                    <h2>共享办公解决方案</h2>
                    <p style='font-size:36px;text-align: center'>SHARED OFFICE SOLUTION </p>
                </div>
            </div>


            <div class="part2" style='margin-top:55px;margin-bottom: 65px;'>
                <div class="container">
                    <div style='display:flex'>
                        <div class="prt2_txt one">
                            <img src="./img/s_office_ic_1_1.png" alt="">
                            <p>空置房源化整为零租客租用门槛降低</p>
                        </div>
                        <div class="prt2_txt two">
                            <img src="./img/s_office_ic_1_2.png" alt="">
                            <p>租用权限自动转移使用信息完整追溯</p>
                        </div>
                        <div class="prt2_txt three">
                            <img src="./img/s_office_ic_1_3.png" alt="">
                            <p>无人常驻管控运营减少人力成本支出</p>
                        </div>
                        <div class="prt2_txt four">
                            <img src="./img/s_office_ic_1_4.png" alt="">
                            <p>平台接入客源共享移动办公场所易寻</p>
                        </div>
                        <div class="prt2_txt five" style='margin-right:0'>
                            <img src="./img/s_office_ic_1_5.png" alt="">
                            <p>无缝对接三方服务服务过程安全可控 </p>
                        </div>
                    </div>

                </div>

            </div>
            <!-- part3 -->
            <div class="part3 animate_p1 officese">
                <div class="container">
                    <h2 class='OS_part2'>灵活办公</h2>
                    <p style='font-size:20px;text-align: center;' class='OS_part3'>
                        
                        支持多种类型，灵活办公，满足各种规模的团队</p>
                    </p>
                    <div style='display:flex;margin-top:60px;' class="OS_part4">
                        <div>
                            <div >
                                <!-- <img src="./img/s_office_img_mstation.png" alt=""> -->
                                <figure class="imghvr-zoom-in" style='border:none;margin:15px;'>
                                    <img src="./img/s_office_img_mstation.png">
                                    <figcaption style='text-align: center;font-size:22px;line-height: 210px;'>
                                        移动工位
                                    </figcaption>
                                    <a href="#"></a>
                                </figure>
                            </div>
                            <div >
                                <!-- <img src="./img/s_office_img_fstation.png" alt=""> -->
                                <figure class="imghvr-zoom-in" style='border:none;margin:-5px 15px;'>
                                    <img src="./img/s_office_img_fstation.png">
                                    <figcaption style='text-align: center;font-size:22px;line-height: 210px;'>
                                        固定工位
                                    </figcaption>
                                    <a href="#"></a>
                                </figure>
                            </div>
                        </div>
                        <div  >
                            <!-- <img src="./img/s_office_img_office.png" alt=""> -->
                            <figure class="imghvr-zoom-in" style='border:none;margin:15px 15px 15px 0;'>
                                <img src="./img/s_office_img_office.png">
                                <figcaption id="officeduli" style='text-align: center;font-size:22px;line-height: 510px;'>
                                    独立办公室
                                </figcaption>
                                <a href="#"></a>
                            </figure>
                        </div>
                        <div>
                            <div>
                                <!-- <img src="./img/s_office_img_meet.png" alt=""> -->
                                <figure class="imghvr-zoom-in" style='border:none;margin:15px 0 15px 0;'>
                                    <img src="./img/s_office_img_meet.png">
                                    <figcaption style='text-align: center;font-size:22px;line-height: 210px;'>
                                       会议室
                                    </figcaption>
                                    <a href="#"></a>
                                </figure>
                            </div>
                            <div >
                                <!-- <img src="./img/s_office_img_home.png" alt=""> -->
                                <figure class="imghvr-zoom-in" style='border:none;margin-top:-5px;'>
                                    <img src="./img/s_office_img_home.png">
                                    <figcaption style='text-align: center;font-size:22px;line-height: 210px;'>
                                        家 庭
                                    </figcaption>
                                    <a href="#"></a>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- part4 -->
            <div class="part4 " >
                <div class="container">
                    <h2 class="animate_p2 anpt1">真正的“短租”</h2>
                    <p style='font-size:20px;text-align: center;' class="animate_p2 anpt2">
                        工位和房间租期低至1天，会议室租期低至30分钟，低押金，高弹性，支持提前退款</p>
                    </p>
                    <div style='display: flex;margin-top:125px;' >
                        <div>
                            <img src="./img/s_office_img_cal.png" alt="">
                        </div>
                        <div style='width:310px;text-align: center'>
                            <img style='margin-top:36%;' src="./img/s_office_img_direct.png" alt="">
                        </div>
                        <div>
                           
                            <img src="./img/s_office_img_rent.png" alt="">
                        </div>
                    </div>
                    <div style='display: flex;margin-top:40px' class="prt4_clock">
                        <div><img src="./img/s_office_img_d1.png" alt=""></div>
                        <div><img src="./img/s_office_img_d2.png" alt=""></div>
                        <div><img src="./img/s_office_img_d3.png" alt=""></div>
                        <div><img src="./img/s_office_img_d4.png" alt=""></div>
                        <div><img src="./img/s_office_img_d5.png" alt=""></div>
                        <div><img src="./img/s_office_img_d6.png" alt=""></div>
                        <div style='margin-right:0px;'><img src="./img/s_office_img_d7.png" alt=""></div>
                    </div>
                </div>
            </div>

             <!-- part5 -->
    <div class="part5" style='margin-bottom: 20px;'>
       <img src="./img/s_office_img_ipone.png" alt="" style='width:100%;'> 
       <div class="animate_p3">
           <h2 class="OS_part5" style='color:#fff;'>自由分配 安全可溯</h2>
           <p  class="OS_part51" style='color:#fff;font-size:20px;margin-bottom: 10px;'>访客及预约看房功能由系统用户主动发起，杜绝假冒,</p>
           <p  class="OS_part52" style='color:#fff;font-size:20px;'>自动分配出入权限，记录云存储，安全可溯</p>
       </div>
    </div>
    <!-- part6 -->
    <div class="part6" style='margin-bottom: 0;'>
        <img src="./img/s_office_img_map.png" alt="" style='width:100%;'> 
        <div class="animate_p4" style='margin-top:100px;'>
            <h2 class="OS_part6" style='color:#fff;'>实时更新 定期上传</h2>
            <p class="OS_part61" style='color:#fff;font-size:20px;margin-bottom: 10px;'>实时更新全球位置各空间的工位、会议室和房间的使用状态，定期生成数据统计报表给业主</p>
           
        </div>
     </div>
    <!-- part7 -->
    <div class="part7">
        <div  class="animate_p5">
            <h2 class="OS_part7" style='margin-top:0'>无缝对接</h2>
            <p class="OS_part71" style='font-size:20px;margin-bottom: 10px;text-align:center;'>实时更新全球位置各空间的工位、会议室和房间的使用状态，定期生成数据统计报表给业主</p>
            <div class="container OS_part72">
                <div class="prt7img" style='display: flex;margin-top:110px;'>
                <div><img src="./img/s_office_ic_2_1.png" alt=""> <p style='text-align: center;font-size:18px;margin-top:15px'>网络服务商</p> </div>
                <div><img src="./img/s_office_ic_2_2.png" alt=""> <p style='text-align: center;font-size:18px;margin-top:15px'>信用评估系统</p></div>
                <div><img src="./img/s_office_ic_2_3.png" alt=""> <p style='text-align: center;font-size:18px;margin-top:15px'>消防系统</p></div>
                <div><img src="./img/s_office_ic_2_4.png" alt=""> <p style='text-align: center;font-size:18px;margin-top:15px'>维修系统</p></div>
                <div ><img src="./img/s_office_ic_2_5.png" alt=""> <p style='text-align: center;font-size:18px;margin-top:15px'>安保系统</p></div>
                <div style='margin-right: 0'><img src="./img/s_office_ic_2_6.png" alt=""><p style='text-align: center;font-size:18px;margin-top:15px'>保洁系统</p></div>
            </div>
            </div>
            
        </div>
    </div>
    <!-- part8 -->
    <div class="part8" style='margin-top:70px;'>
        <div class="container">
            <h2 class="anipt8" style='margin-top:0;margin-bottom: 75px;'>应用场景</h2>
            <div style='display: flex'>
                <div>
                    <figure class="imghvr-zoom-in" style='border:none;margin:15px 15px 15px 0;'>
                        <img src="./img/s_office_img_scene1.png">
                        <figcaption style='text-align: center;font-size:22px;line-height: 510px;'>
                            繁华地段租金太高 &nbsp;
                            导致空置的写字楼
                        </figcaption>
                        <a href="#"></a>
                    </figure>
                </div>
                <div>
                    <div>
                         <figure class="imghvr-zoom-in" style='border:none;margin:15px 15px 15px 0;'>
                        <img src="./img/s_office_img_scene2.png">
                        <figcaption class="office-lineh" style='text-align: center;font-size:22px;line-height: 220px;'>
                                想要将闲置房产&nbsp;
                                运营增值的中小业主
                        </figcaption>
                        <a href="#"></a>
                    </figure>
                    </div>
                    <div>
                            <figure class="imghvr-zoom-in" style='border:none;margin:0px 15px 15px 0;'>
                                    <img src="./img/s_office_img_scene3.png">
                                    <figcaption class="office-lineh" style='text-align: center;font-size:22px;line-height: 220px;'>
                                            希望减少人力成本&nbsp;
                                            支出的共享空间业主
                                    </figcaption>
                                    <a href="#"></a>
                                </figure>
                    </div>
                   
              
                </div>
            </div>
        </div>
    </div>
    <!-- part9 -->
    <div class="part9" style='margin-bottom:110px;position: relative'>
         <div class="container">
                <h2 class="anipt9" style='margin-top:60px;'>功能模块</h2>
                <!-- <div id="carousel1" class="carousel-content">
                            <ul class="carousel">
                                <li><a href="javascript:;"><img src="./img/s_office_img_office_l.png"></a></li>
                                <li><a href="/ams-page/3dprint"><img src="./img/s_office_img_station_l.png"></a></li>
                                <li><a href="#"><img src="./img/s_office_img_door_l.png"></a></li>
                    
                            </ul>
                            <ul class="carousel-index"></ul>
                            <div class="carousel-prev"><img src="image/index/icons/left_btn1.png"></div>
                            <div class="carousel-next"><img src="image/index/icons/right_btn1.png"></div>
                        </div> -->
                    <div id="mask"></div>

                    <div id="carousel">
                        <img src="./img/s_office_img_office_l.png" alt="会议室管理">
                        <img src="./img/s_office_img_station_l.png" alt="工位租赁管理">
                        <img src="./img/s_office_img_door_l.png" alt="门禁管理">
                        <img src="./img/s_office_img_data_l.png" alt="活动管理">
                        <img src="./img/s_office_img_activity_l.png" alt="数据与运营方案对接">
                      
                    </div>
                    <div id='prt9text' style='margin-top:10%;text-align:center;font-size:24px;font-weight: bold;color:#1c9cf4'>会议室管理</div>
         </div>
    </div>
    </div>

   </section>
  



   

    <!--==============================footer=================================-->
    <footer>
        <div id="footer" class="section-3 footer-dark" style='height:230px;'>
            <div class="container">
                <div style='display: flex;margin-top:80px;'>
                    <div style='width:650px;'>
                        <p style='color:#e0e0e0;font-size:22px;'>客服电话: <span style="font-weight: bold;font-size:32px">400-928-1122</span> </p>
                        <p  style='color:#e0e0e0;font-size:22px;'>服务时间:  周一到周五9:30-18:00</p>
                    </div>
                    <div style='width:650px;text-align:right;margin-top:-13px;'>
                        <p><img src="./img/logo_footer.png" alt=""></p>
                        <p style='color:#e0e0e0;font-size:22px;'>zps@zeepson.com</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer 2 -->
        <div id="copyrights" class="footer-2 footer-dark">
            <div class="container">
                <div class="row">
                    <div class="span12">Copyright &copy; 2012-2019. 智普信科技 ｜ 京ICP备09017907</div>
                </div>
            </div>
        </div>
    </footer>
    </div>

    <!-- <script src="http://www.jq22.com/jquery/jquery-1.7.1.js"></script> -->
    <script  type="text/javascript" src='js/jquery.js'></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.sliderTabs.js"></script>
    <!-- jQuery Slider  -->
    <script type="text/javascript" src="js/rs-plugin/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="js/rs-plugin/jquery.themepunch.revolution.min.js"></script>
    <!-- Elastislider  -->
    <script type="text/javascript" src="js/jquery.elastislide.js"></script>
    <!-- Pretty photo  -->
    <script type="text/javascript" src="js/jquery.prettyphoto.js"></script>
    <!-- Carousel  -->
    <script type="text/javascript" src="demo/carousel.js"></script>
    <!-- totop  -->
    <script type="text/javascript" src="js/jquery.ui.totop.js"></script>
    <script type="text/javascript" src="js/prettify.js"></script>
    <script type="text/javascript" src="js/application.js"></script>
    <script type="text/javascript" src="js/jquery.cookie.js"></script>
    <!-- Quicksand  -->
    <script type="text/javascript" src="js/jquery.quicksand.js"></script>
    <!-- Image animated Style  -->
    <script type="text/javascript" src="js/jquery.gridrotator.js"></script>
    <script type="text/javascript" src="js/jquery.mobile.customized.min.js"></script>
    <!-- Accordion  -->
    <script type="text/javascript" src="js/accordion.js"></script>
    <!-- Tabs  -->
    <script type="text/javascript" src="js/tabs.js"></script>
    <!-- Sitemap  -->
    <script type="text/javascript" src="js/sitemap.js"></script>
    <!-- Navigation  -->
    <script type="text/javascript" src="js/nav-small.js"></script>
    <script type="text/javascript" src="js/jquery.mobilemenu.js"></script>
    <!-- Isotope  -->
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    <!-- Metro Style  -->
    <script type="text/javascript" src="js/boxgrid.js"></script>
    <script type="text/javascript" src="demo/switcher.js"></script>
    <script type="text/javascript" src="js/jquery.mousewheel.js"></script>
    <!-- <script type='text/javascript' src='js/scroll02.js'></script> -->
    <!-- <script type='text/javascript' src='js/scroll01.js'></script> -->
    <!-- Elastislider  -->
    <script>
        $('.part1 .prt1_text').addClass('on');
        $('.part2 .one').addClass('on')
        $('.part2 .two').addClass('on')
        $('.part2 .three').addClass('on');
        $('.part2 .four').addClass('on');
        $('.part2 .five').addClass('on')
        jQuery("#carousel-blog").elastislide({
            imageW: 270,
            minItems: 2,
            speed: 600,
            easing: "easeOutQuart",
            margin: 30,
            border: 0,
            onClick: function () { }
        });
        
        $(function () {
      $('#carousel').carousel({curDisplay: 0, autoPlay: true, interval: 3000});
    });
   
        </script>
    <!-- Image animated Style  -->
    <script type="text/javascript">
        $(function () {

            $('#ri-grid').gridrotator({
                rows: 4,
                columns: 8,
                maxStep: 2,
                interval: 2000,
                w1024: {
                    rows: 5,
                    columns: 6
                },
                w768: {
                    rows: 5,
                    columns: 5
                },
                w480: {
                    rows: 6,
                    columns: 4
                },
                w320: {
                    rows: 7,
                    columns: 4
                },
                w240: {
                    rows: 7,
                    columns: 3
                },
            });

        });
    </script>
    <!-- Metro Style  -->

    <!-- Revolution Slider  -->
    <script>

    </script>
    <script type="text/javascript">
        // initialise plugins
        jQuery(function () {
            // Banners button
            jQuery('ul.banners_cycle li').mouseenter(function () {
                jQuery(this).find('.button').stop(false, true).fadeIn();
            })
            jQuery('ul.banners_cycle li').mouseleave(function () {
                jQuery(this).find('.button').stop(false, true).fadeOut();
            });

            // Banners
            jQuery('ul.banners_cycle li:not(.style-1)').mouseenter(function () {
                jQuery(this).css('z-index', '6');
                jQuery(this).stop(false, true).animate({ right: '-64px' }, { easing: "swing", duration: 300 });
                jQuery(this).animate({ right: '0' });
            });
            jQuery('ul.banners_cycle li:not(.style-1)').mouseleave(function () {
                jQuery(this).stop(false, true).animate({ right: '-64px' });
                jQuery(this).stop(false, true).animate({ right: '0' }, 'slow');
            });

            // Banner #2
            jQuery('ul.banners_cycle li.style-2').mouseleave(function () {
                jQuery(this).css('z-index', '5');
            });
            // Banner #3
            jQuery('ul.banners_cycle li.style-3').mouseleave(function () {
                jQuery(this).css('z-index', '4');
            });
            // Banner #4
            jQuery('ul.banners_cycle li.style-4').mouseleave(function () {
                jQuery(this).css('z-index', '3');
            });
            // Banner #5
            jQuery('ul.banners_cycle li.style-5').mouseleave(function () {
                jQuery(this).css('z-index', '2');
            });
            // Banner #6
            jQuery('ul.banners_cycle li.style-6').mouseenter(function () {
                jQuery('body').css('overflow-x', 'hidden');
            });
            jQuery('ul.banners_cycle li.style-6').mouseleave(function () {
                jQuery(this).css('z-index', '1');
                jQuery('body').css('overflow-x', 'hidden');
            });
        });

        $(function(){
            var winWidth, winHeight;
    var win_h = $(window).height() * 0.64;
    var win_height = $(window).height() * 1;
    function funHeight(n, c) {
      var F_high = $(window).scrollTop();
      var t = $(n).offset().top;
      if (F_high > t - win_h) {
        $(c).addClass("animated fadeInUp");
      }
      if (F_high == 0) {
        // $(c).removeClass("animated fadeInUp");
      }
    };


	$(window).scroll(function(){
      funHeight(".animate_p1", ".OS_part2");
      funHeight(".animate_p1", ".OS_part3");
      funHeight(".animate_p1", ".OS_part4");
      funHeight(".animate_p2", ".anpt1");
      funHeight(".animate_p2", ".anpt2");
      funHeight(".animate_p2", ".anpt3");
     
      funHeight(".animate_p3", ".OS_part5");
      funHeight(".animate_p3", ".OS_part51");
      funHeight(".animate_p3", ".OS_part52");
      funHeight(".animate_p4", ".OS_part6");
      funHeight(".animate_p4", ".OS_part61");
      funHeight(".animate_p5", ".OS_part7");
      funHeight(".animate_p5", ".OS_part71");
      funHeight(".animate_p5", ".OS_part72");
      funHeight(".anipt8",'.anipt8');
      funHeight(".anipt9",'.anipt9');
       
		if($(".pro_part5  .video_li > li:nth-of-type(1) > video").hasClass("on")){
			document.getElementById('one').play();
		}
	})


});



    </script>


</body>

</html>