<!DOCTYPE html>
<html lang="en">
<head>
    <title>智普信科技</title>
    <meta charset="utf-8">
    <link rel="icon" href="img/logo.png" type="image/x-icon">
    <link rel="shortcut icon" href="img/logo1.png" type="image/x-icon" />
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/inner.css" type="text/css" media="screen">
    <link rel="stylesheet" href="demo/switcher.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/es-carousel.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/prettyphoto.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/footer-color.css" type="text/css" media="screen">
    <!-- CSS STYLE -->
    <link rel="stylesheet" href="css/rs-plugin/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/rs-plugin/preview.css" type="text/css" media="screen" />
    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" href="css/rs-plugin/settings.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/rs-plugin/captions.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/portfolio.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/elements.css" type="text/css" media="screen">
    <!--[if lt IE 9]>
    <link href='http//fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/docs.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
  <![endif]-->
    <link rel="stylesheet" href="css/keyframes.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/safirst.css">
    <link rel="stylesheet" href="css/safirst_function.css">
    <style>
        .sf_part2_list strong {
    display: block;
    font-style: normal;
    opacity: 0;
    font-weight: 400;
    position: relative;
    left: -80px;
}
.sf_part3 {
    position: relative;
}
.sf_video_play {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,.5);
    top: 0;
    text-align: center;
    z-index: 1000;
    color: #FFF;
}
.hiss_header_content {
    width: 1002px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.sf_part3_content {
    width: 740px;
    margin: 0 auto;
    letter-spacing: 1px;
    position: relative;
    top: 50%;
    margin-top: -140px;
}
.sf_part3_content h1 {
    color: #fff;
    font-weight: 300;
    margin-bottom: 32px;
}
.sf_part3_content p {
    color: #FFF;
    line-height: 40px;
    font-weight: 300;
}
.ft16{
  font-size: 16px!important;
}
.list-services li:first-child figure { 
  float: left;
   margin: 60px 15px 6px 0; 
   border:none;
   }
   .list-services li:nth-child(2) figure { 
  float: left;
   margin: 40px 15px 6px 0; 
   border:none;
   }
     .list-services li:nth-child(3) figure { 
  float: left;
   margin: 40px 15px 6px 0;
   border:none; 
   }
     .list-services li:nth-child(4) figure { 
  float: left;
   margin: 40px 15px 6px 0;
   border:none; 
   }
      .list-services li:nth-child(5) figure { 
  float: left;
   margin: 50px 15px 6px 0;
   border:none; 
   }
   .ft14{
     font-size: 14px;
   }
   .title{
  background: none;
  margin-top:130px;
}
.title i{
  display: inline-block;
  width:63px;
  height: 63px;
  background: url(img/index-title.png) no-repeat;
  background-size:100%;
  float:left;
  margin-right:15px;
  margin-top: 27px;
}
.title h4{
  font-size:36px;
  text-align: left;
}
.title h4 span{
  font-size:28px;
  color:#8a8a8a
}
    </style>
</head>
<body class="home-page stretched">
    <div id="wrapper">
        <!--==============================header=================================-->
        <div id='head' class=" clearfix" style='height: 60px;
        background: #fff;
        z-index: 1000;
        width: 100%;'>
            <!-- Logo & Navigation -->
            <div class='header' style='height: 60px;background:#fff;' id='header'>
                <div class="container">
                    <div class="row ">
                        <div class="span12" style='height: 60px;'>
                            <!-- Logo -->
                            <h1 class="brand brand_" style='margin-top:12px;'><a href="index.html"><img
                                        src="img/index_logo.png" alt=""></a></h1>
                            <!-- Navigation -->
                            <div class="navbar navbar_">
                                <div class="container">
                                    <!--=========== menu ===============-->
                                    <div class="nav-collapse nav-collapse_ collapse">
                                        <ul class="nav sf-menu">
                                                <li class=" sub-menu main-menu" style='margin-right:15px;padding: 0 10px;'>
                                                    <a class="" href="product-center.html" >产品中心</a>
                                                    <ul class="sub_sub_menu product" style='top:46px;'>
                                                        <a href="safirst.html">
                                                            <dl style='margin-left:30%;text-align: center;margin-top:40px;'>
                                                                <dt>
                                                                    <img src="./img/_icon_product_safirst.png" alt="">
                                                                </dt>
                                                                <dd style='margin-left:-2px;font-size:14px;margin-top:16px;'>
                                                                    Safirst</dd>
                                                                <dd style='margin-left:-2px;font-size:14px;'>初柜</dd>
                                                            </dl>
                                                        </a>
                                                        <a href="leBox.html">
                                                            <dl style='margin-left:3%;text-align: center;margin-top:40px;'>
                                                                <dt>
                                                                    <img src="./img/_icon_product_le.png" alt="">
                                                                </dt>
                                                                <dd style='margin-left:-2px;font-size:14px;;margin-top:16px;'>
                                                                    Le-Box</dd>
                                                                <dd style='margin-left:-2px;font-size:14px;'>乐盒</dd>
                                                            </dl>
                                                        </a>
                                                        <a href="O_S.summary.html">
                                                            <dl style='margin-left:3%;text-align: center;margin-top:40px;'>
                                                                <dt>
                                                                    <img src="./img/_icon_product_os.png" alt="">
                                                                </dt>
                                                                <dd style='margin-left:-2px;font-size:14px;;margin-top:16px;'>
                                                                    O.S Cabinet</dd>
                                                                <dd style='margin-left:-2px;font-size:14px;'>智能办公柜</dd>
                                                            </dl>
                                                        </a>
                                                        <a href="HISSSafe-summary.html">
                                                            <dl style='margin-left:3%;text-align: center;margin-top:40px;'>
                                                                <dt>
                                                                    <img src="./img/_icon_product_safe.png" alt="">
                                                                </dt>
                                                                <dd style='margin-left:-2px;font-size:14px;;margin-top:16px;'>
                                                                    Hiss Safe</dd>
                                                                <dd style='margin-left:-2px;font-size:14px;'>智能保险柜</dd>
                                                            </dl>
                                                        </a>
                                                        <a href="smart-access.html">
                                                            <dl style='margin-left:3%;text-align: center;margin-top:40px;'>
                                                                <dt>
                                                                    <img src="./img/_icon_product_access.png" alt="">
                                                                </dt>
                                                                <dd style='margin-left:-2px;font-size:14px;;margin-top:16px;'>
                                                                    Smart Access</dd>
                                                                <dd style='margin-left:-2px;font-size:14px;'>智能门禁</dd>
                                                            </dl>
                                                        </a>
                                                    </ul>
                                                </li>
                                                <li class="sub-menu main-menu" style='margin-right:50px;padding: 0 10px;'>
                                                    <a class="" href="download-app.html">技术服务</a>
                                                    <ul class="sub_sub_menu" style='width:110px;'>
                                                        <li>
                                                            <a href="download-app.html" class="sub_title"
                                                                img='img/jiaju.png'>下载APP</a>
                                                        </li>
                                                        <li>
                                                            <a href="download-app.html#manual" class="sub_title"
                                                                img='img/gongyu.png'>下载使用手册</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            <li class="sub-menu main-menu" style='margin-right:0;padding: 0 '>
                                                <a data-toggle="modal" href="#myModal"
												style='color:#28a5fa!important'>在售商城</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	<!-- Modal -->
	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel"> <i class="sales"></i> 请选择在售商城</h3>
		</div>
		<div class="modal-body">
			<div style='display: flex;'>
				<div>
					<a href="https://mall.jd.com/index-900497.html" target="_blank"><img src="./img/img_code_j.png" alt=""></a>
					<p style='text-align: center;font-weight: bold;'>点击进入商城 或 <br>京东APP扫码进入</p>
				</div>
				<div>
					<a href="https://hissznsb.tmall.com/" target="_blank"><img src="./img/img_code_t.png" alt=""></a>
					<p style='text-align: center;font-weight: bold;'>点击进入商城 或 <br>淘宝APP扫码进入</p>
				</div>
				<div>
					<a href="http://mp.weixin.qq.com/bizmall/mallshelf?id=&t=mall/list&biz=MzA5NjIyODYyNQ==&shelf_id=1&showwxpaytitle=1#wechat_redirect" target="_blank"><img src="./img/img_code_w.png" alt=""></a>
					<p style='text-align: center;font-weight: bold;margin-top:16px'>微信扫码进入</p>
				</div>
			</div>
		</div>
	</div>
                <div id='leBox_info' class="breadcrumb-wrapper" style='height:44px;'>
                      <div class="container">
                        <div class="header" style='background:transparent;padding:0'>
                            <h2 style='color:#fff;font-size: 18px;'>初柜</h2>
                            <ul class="breadcrumb fright sub_nav" style='padding-bottom: 0'>
                                  <li><a href="safirst.html">概述</a> &nbsp;&nbsp;&nbsp;&nbsp;</li>
                                  <li > <a href="safirst.design.html">设计 &nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                                  <li ><a href="safirst_function.html" class='sub_active'>功能 &nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                                  <li style='margin-right:15px;'><a href="safirstt_technical.html">技术规格</a> </li>
                                  <!-- <li ><a href="https://mall.jd.com/index-900497.html" target="_blank">购买</a> </li> -->
                              </ul>
                        </div>
                      </div>
                  </div>    
        <!--==============================content=================================-->
        <section id="content">
           <!-- sfd_part1 -->
           <div class="sff_part1 ">
                <div class="sff_title">
                    <h1>智能可以这样</h1>
                    <p>
                        Safirst初柜内置HISS云模块、高敏度陀螺仪，24小时监控柜体安全。通过简单的步骤，绑定你的Safirst初柜，利用微信、官方APP实现远程解锁及控制。</p>
                </div>
            </div>
          <!-- sfd_part2 -->
          <div class="sff_part2 animate_p4">
                <div class="sff_video">
                    <div class="sff_video_play">
                        <video id="myVideo" src="http://o-website.oss-cn-shanghai.aliyuncs.com/osite/sff_video.mp4" autoplay="autoplay"></video>
                        <!-- <video id='myVideo' src="./img/sff_video.mp4" autoplay="autoplay"></video> -->
                        <div class="replay">
                            <!-- <a href="javascript:void(0)">重放</a> -->
                        </div>
                        <div class="loadingV" style="display: none;">视频加载中...</div>
                    </div>
                    <div class="sff_part2_title">
                        <h1>轻轻一触</h1>
                        <p>
                            Safirst初柜顶部的指纹识别器，比目前市场上常见设备使用的更加优秀，10倍卓越性能。电子、机械一体化门锁，只需在验证后轻触顶部柜门控制钮，即可弹出柜门，强大智能安防，尽可抓在手中。</p>
                    </div>
                </div>
            </div>
        <!-- sf_part3 -->
        <div class="sff_part3 animate_p1">
                <div class="sff_content">
                    <div class="sff_part3_title">
                        <h1>享受一次安心的外出旅行</h1>
                        <p>Safirst初柜内置HISS云功能，远程报警、24小时管控，让你安心出门走走。</p>
                    </div>
                    <div class="overHidden animate_p101">
                        <div class="sff_part3_bg " style="transform: translateY(78px) scale(1.2);"></div>
                    </div>
                </div>
            </div>  
        <!-- sf_part4 -->
        <div class="sff_part4">
                <div class="sff_content">
                    <div class="sff_part3_title">
                        <h1>你想要的我都有</h1>
                        <p>
                            HISS云与每一台 Safirst初柜连接，并架起与你的手机联系的桥梁，通过APP和微信，你可以在任何时间、地点掌握并控制你想知道的Safirst初柜信息。</p>
                    </div>
                    <div class="sff_part4_list">
                        <div class="sff_part4_li">
                            <p>
                                <img src="img/sff_li_007.png" alt="">
                            </p>
                            <p>状态实时监控</p>
                        </div>
                        <div class="sff_part4_li">
                            <p>
                                <img src="img/sff_li_004.png" alt="">
                            </p>
                            <p>个性化设置</p>
                        </div>
                        <div class="sff_part4_li">
                            <p>
                                <img src="img/sff_li_005.png" alt="">
                            </p>
                            <p>超强用户管理</p>
                        </div>
                        <div class="sff_part4_li">
                            <p>
                                <img src="img/sff_li_006.png" alt="">
                            </p>
                            <p>我的设备管理</p>
                        </div>
                        <div class="sff_part4_li">
                            <p>
                                <img src="img/sff_li_009.png" alt="">
                            </p>
                            <p>柜体使用记录</p>
                        </div>
                        <div class="sff_part4_li">
                            <p>
                                <img src="img/sff_li_010.png" alt="">
                            </p>
                            <p>异常报警记录</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        <!-- sf_part5 -->
        <div class="container">
            <div class="sff_part5 animate_p2">
                <div class="sff_part5_img_list">
                    <img id="box_one" src="img/balck.png" alt="" >
                    <img id="box_two" src="img/white.png" alt="" >
                    <img id="box_three" src="img/metal.png" alt="" >
                </div>
                <div class="sff_part5_title">
                    <h1>低能耗断电保护</h1>
                    <p>
                        遭遇断电，Safirst初柜仍可以依靠4节AA电池维持基础功能。经过多次测试，我们把能耗降到最低，正常4节AA电池可以使用200天。</p>
                    <div class="battery">
                        <img src="img/Battery.png" alt="" >
                        <img src="img/Battery.png" alt="" >
                        <img src="img/Battery.png" alt="" >
                        <img src="img/Battery.png" alt="" >
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
         <!-- sf_part6 -->
         <div class="sff_part6">
                <div class="sff_part6_contnet">
                    <div class="sff_img"></div>
                </div>
                <div class="sff_part6_title">
                    <h1>安全是我们的核心</h1>
                    <p>
                        从硬件到软件，我们贯彻安全于产品之中。我们希望做到从外观设计、材料选择到智能系统开发，都能给你最棒的用户体验。</p>
                </div>
            </div> 
         <!-- sf_part7 --> 
         <div class="sff_part7">
                <div class="f_part10 ">
                    <div class="hiss_header_content">
                        <img src="img/sff_tc.png">
                        <div class="next_contect">
                            <span>下一步</span>
                            <p>多种色彩，无线网络支持</p>
                            <h2 style='text-align: left;'>「我所需要的智能柜是……」</h2>
                            <aside>了解 Safirst初柜 的参数信息。</aside>
                            <a href="safirstt_technical.html">下一章：技术规格 &gt;</a>
                        </div>
                    </div>
                </div>
            </div>         
        </section>
        <!--==============================footer=================================-->
        <footer>
                <!-- footer 2 -->
                <div id="copyrights" class="footer-2 footer-dark">
                    <div class="container">
                        <div class="row">
                            <div class="span12">Copyright &copy; 2012-2019. 智普信科技 ｜ 京ICP备09017907</div>
                        </div>
                    </div>
                </div>
            </footer>
    </div>
    <script src='js/jquery.js'></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.sliderTabs.js"></script>
    <!-- jQuery Slider  -->
    <script type="text/javascript" src="js/rs-plugin/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="js/rs-plugin/jquery.themepunch.revolution.min.js"></script>
    <!-- Elastislider  -->
    <script type="text/javascript" src="js/jquery.elastislide.js"></script>
    <!-- Pretty photo  -->
    <script type="text/javascript" src="js/jquery.prettyphoto.js"></script>
    <!-- Carousel  -->
    <script type="text/javascript" src="js/carousel.js"></script>
    <!-- totop  -->
    <script type="text/javascript" src="js/jquery.ui.totop.js"></script>
    <script type="text/javascript" src="js/prettify.js"></script>
    <script type="text/javascript" src="js/application.js"></script>
    <script type="text/javascript" src="js/jquery.cookie.js"></script>
    <!-- Quicksand  -->
    <script type="text/javascript" src="js/jquery.quicksand.js"></script>
    <!-- Image animated Style  -->
    <script type="text/javascript" src="js/jquery.gridrotator.js"></script>
    <script type="text/javascript" src="js/jquery.mobile.customized.min.js"></script>
    <!-- Accordion  -->
    <script type="text/javascript" src="js/accordion.js"></script>
    <!-- Tabs  -->
    <script type="text/javascript" src="js/tabs.js"></script>
    <!-- Sitemap  -->
    <script type="text/javascript" src="js/sitemap.js"></script>
    <!-- Navigation  -->
    <script type="text/javascript" src="js/nav-small.js"></script>
    <script type="text/javascript" src="js/jquery.mobilemenu.js"></script>
    <!-- Isotope  -->
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    <!-- Metro Style  -->
    <script type="text/javascript" src="js/boxgrid.js"></script>
    <script type="text/javascript" src="demo/switcher.js"></script>
    <!-- Elastislider  -->
    <script>
          $('.product').width($(window).width()+20);
	$('.suo_k').width($(window).width()+20);
	var leftpx=$('.product').parent().offset().left;
	console.log($('.product').parent().offset().left);
	$('.product').css('left',-leftpx-10);
        jQuery("#carousel-blog").elastislide({
            imageW: 270,
            minItems: 2,
            speed: 600,
            easing: "easeOutQuart",
            margin: 30,
            border: 0,
            onClick: function () { }
        });</script>
    <script type="text/javascript">
       
        var F_high;
	$(window).scroll(function(){
		F_high = $(window).scrollTop();
		if(F_high > 70){
			$("#leBox_info").addClass("on");
			$(".Experience_Center_menu").addClass("on")
			$(".leBox_fixed").addClass('on')
			$(".my_order_nav").addClass("on")
		}else{
			$("#leBox_info").removeClass("on")
			$(".Experience_Center_menu").removeClass("on")
			$(".leBox_fixed").removeClass("on")
			$(".my_order_nav").removeClass("on")
		}
    });
    if($(".sfd_part2  video").hasClass("on")){ //自动播放
			document.getElementById('myVideo').play();
        }
        var win_h =  $(window).height();
        var n = 0;
        function moveAnimation(animate_p, name, scale){  //动画
    	$(window).mousewheel(function(event, delta) {
	    	var F_high = $(window).scrollTop();
	    	if (!$(animate_p).offset()) {
	    		return;
	    	}
			var t = $(animate_p).offset().top;
	        var t_height = $(name).height();
	       	 if (delta > -1) {
		        	// n = 200;
		        	if(F_high < t + t_height + win_h){
		        		n-=6;
		        		if(n <= 0){ 
			            	n = 0;
	                        $(name).css("transform", "translateY(0px) scale("+scale+")");
			            }else{
	                        $(name).css("transform", "translateY("+n+"px) scale("+scale+")");
			            }
		        	}
		        } else if(F_high > t - win_h){
		        		n+=6;
			        	if(n >= 100){
			        		n = 100;
	                        $(name).css("transform", "translateY(100px) scale("+scale+")");
			        	}else{
	                        $(name).css("transform", "translateY("+ n +"px) scale("+scale+")");
			        	}
		        	}
	    });
    }    
    moveAnimation(".animate_p101", ".sff_part3_bg", 1.2);
    $(function(){
	/*窗口大小*/
var winWidth,winHeight;
var win_h =  $(window).height()*0.6;
var win_height = $(window).height()*1;
	$(window).scroll(function(){
		funHeight(".animate_p4" , ".sff_video  video");
		if($(".sff_video  video").hasClass("on")){
			document.getElementById('myVideo').play();
		}
		funHeight(".animate_p2" , "#box_one");
		funHeight(".animate_p2" , "#box_two");
		funHeight(".animate_p2" , "#box_three");
		funHeight(".animate_p2" , ".sff_part5 .battery img:nth-of-type(1)");
		funHeight(".animate_p2" , ".sff_part5 .battery img:nth-of-type(2)");
		funHeight(".animate_p2" , ".sff_part5 .battery img:nth-of-type(3)");
		funHeight(".animate_p2" , ".sff_part5 .battery img:nth-of-type(4)");
	})
function funHeight(n , c){
		var F_high = $(window).scrollTop();
		var t = $(n).offset().top;
		if(F_high > t - win_h){
			$(c).addClass("on");
		}
		if(F_high == 0){
			$(c).removeClass("on");
		}
}
})
    </script>
</body>
</html>