<!DOCTYPE html>
<html lang="en">
<head>
    <title>智普信科技</title>
    <meta charset="utf-8">
    <link rel="icon" href="img/logo.png" type="image/x-icon">
    <link rel="shortcut icon" href="img/logo1.png" type="image/x-icon" />
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/inner.css" type="text/css" media="screen">
    <link rel="stylesheet" href="demo/switcher.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/es-carousel.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/prettyphoto.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/footer-color.css" type="text/css" media="screen">
    <!-- CSS STYLE -->
    <link rel="stylesheet" href="css/rs-plugin/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/rs-plugin/preview.css" type="text/css" media="screen" />
    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" href="css/rs-plugin/settings.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/rs-plugin/captions.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/portfolio.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/elements.css" type="text/css" media="screen">
    <!--[if lt IE 9]>
    <link href='http//fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/docs.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
  <![endif]-->
    <link rel="stylesheet" href="css/keyframes.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/safirst.css">
    <style>
    </style>
</head>
<body class="home-page stretched">
    <div id="wrapper">
        <!--==============================header=================================-->
        <div id='head' class=" clearfix" style='height: 60px;
        background: #fff;
        z-index: 1000;
        width: 100%;'>
            <!-- Logo & Navigation -->
            <div class='header' style='height: 60px;background:#fff;' id='header'>
                <div class="container">
                    <div class="row ">
                        <div class="span12" style='height: 60px;'>
                            <!-- Logo -->
                            <h1 class="brand brand_" style='margin-top:12px;'><a href="index.html"><img
                                        src="img/index_logo.png" alt=""></a></h1>
                            <!-- Navigation -->
                            <div class="navbar navbar_">
                                <div class="container">
                                    <!--=========== menu ===============-->
                                    <div class="nav-collapse nav-collapse_ collapse">
                                        <ul class="nav sf-menu">
                                                <li class=" sub-menu main-menu" style='margin-right:15px;padding: 0 10px;'>
                                                    <a class="" href="product-center.html" >产品中心</a>
                                                    <ul class="sub_sub_menu product" style='top:46px;'>
                                                        <a href="safirst.html">
                                                            <dl style='margin-left:30%;text-align: center;margin-top:40px;'>
                                                                <dt>
                                                                    <img src="./img/_icon_product_safirst.png" alt="">
                                                                </dt>
                                                                <dd style='margin-left:-2px;font-size:14px;margin-top:16px;'>
                                                                    Safirst</dd>
                                                                <dd style='margin-left:-2px;font-size:14px;'>初柜</dd>
                                                            </dl>
                                                        </a>
                                                        <a href="leBox.html">
                                                            <dl style='margin-left:3%;text-align: center;margin-top:40px;'>
                                                                <dt>
                                                                    <img src="./img/_icon_product_le.png" alt="">
                                                                </dt>
                                                                <dd style='margin-left:-2px;font-size:14px;;margin-top:16px;'>
                                                                    Le-Box</dd>
                                                                <dd style='margin-left:-2px;font-size:14px;'>乐盒</dd>
                                                            </dl>
                                                        </a>
                                                        <a href="O_S.summary.html">
                                                            <dl style='margin-left:3%;text-align: center;margin-top:40px;'>
                                                                <dt>
                                                                    <img src="./img/_icon_product_os.png" alt="">
                                                                </dt>
                                                                <dd style='margin-left:-2px;font-size:14px;;margin-top:16px;'>
                                                                    O.S Cabinet</dd>
                                                                <dd style='margin-left:-2px;font-size:14px;'>智能办公柜</dd>
                                                            </dl>
                                                        </a>
                                                        <a href="HISSSafe-summary.html">
                                                            <dl style='margin-left:3%;text-align: center;margin-top:40px;'>
                                                                <dt>
                                                                    <img src="./img/_icon_product_safe.png" alt="">
                                                                </dt>
                                                                <dd style='margin-left:-2px;font-size:14px;;margin-top:16px;'>
                                                                    Hiss Safe</dd>
                                                                <dd style='margin-left:-2px;font-size:14px;'>智能保险柜</dd>
                                                            </dl>
                                                        </a>
                                                        <a href="smart-access.html">
                                                            <dl style='margin-left:3%;text-align: center;margin-top:40px;'>
                                                                <dt>
                                                                    <img src="./img/_icon_product_access.png" alt="">
                                                                </dt>
                                                                <dd style='margin-left:-2px;font-size:14px;;margin-top:16px;'>
                                                                    Smart Access</dd>
                                                                <dd style='margin-left:-2px;font-size:14px;'>智能门禁</dd>
                                                            </dl>
                                                        </a>
                                                    </ul>
                                                </li>
                                                <li class="sub-menu main-menu" style='margin-right:50px;padding: 0 10px;'>
                                                    <a class="" href="download-app.html">技术服务</a>
                                                    <ul class="sub_sub_menu" style='width:110px;'>
                                                        <li>
                                                            <a href="download-app.html" class="sub_title"
                                                                img='img/jiaju.png'>下载APP</a>
                                                        </li>
                                                        <li>
                                                            <a href="download-app.html#manual" class="sub_title"
                                                                img='img/gongyu.png'>下载使用手册</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            <li class="sub-menu main-menu" style='margin-right:0;padding: 0;'>
                                                <a data-toggle="modal" href="#myModal"
												style='color:#28a5fa!important'>在售商城</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	<!-- Modal -->
	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel"> <i class="sales"></i> 请选择在售商城</h3>
		</div>
		<div class="modal-body">
			<div style='display: flex;'>
				<div>
					<a href="https://mall.jd.com/index-900497.html" target="_blank"><img src="./img/img_code_j.png" alt=""></a>
					<p style='text-align: center;font-weight: bold;'>点击进入商城 或 <br>京东APP扫码进入</p>
				</div>
				<div>
					<a href="https://hissznsb.tmall.com/" target="_blank"><img src="./img/img_code_t.png" alt=""></a>
					<p style='text-align: center;font-weight: bold;'>点击进入商城 或 <br>淘宝APP扫码进入</p>
				</div>
				<div>
					<a href="http://mp.weixin.qq.com/bizmall/mallshelf?id=&t=mall/list&biz=MzA5NjIyODYyNQ==&shelf_id=1&showwxpaytitle=1#wechat_redirect" target="_blank"><img src="./img/img_code_w.png" alt=""></a>
					<p style='text-align: center;font-weight: bold;margin-top:16px'>微信扫码进入</p>
				</div>
			</div>
		</div>
	</div>
              <div id='leBox_info' class="breadcrumb-wrapper" style='height:44px;'>
                    <div class="container">
                      <div class="header" style='background:transparent;padding:0'>
                          <h2 style='color:#fff;font-size: 18px;'>初柜</h2>
                          <ul class="breadcrumb fright sub_nav" style='padding-bottom: 0'>
                                <li><a href="safirst.html"  class='sub_active'>概述</a> &nbsp;&nbsp;&nbsp;&nbsp; </li>
                                <li > <a href="safirst.design.html">设计 &nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                                <li ><a href="safirst_function.html">功能 &nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                                <li style='margin-right:15px;'><a href="safirstt_technical.html">技术规格</a> </li>
                            </ul>
                      </div>
                    </div>
                </div>      
        <!--============================== Slider =================================-->
        <div class="fullwidthbanner-container" style='max-height: 1000px'>
            <div class="shadowdrop"></div>
            <div class="fullwi dthabnner">
                <ul>
                    <!-- THE 1 SLIDE -->
                    <li>
                        <img src="img/sf_001_02.jpg.png" >
                    </li>
                </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </div>
        <!--==============================content=================================-->
        <section id="content">
            <div class="container">
                <div class="row clearfix sf_part2 animate_p1">
                    <ul class="holder" style='margin-top:40px;'>
                        <!-- 1 -->
                        <li class="span4" data-id="id-1" data-type="business" style='text-align: center'>
                            <div class="sf_part2_list">
                                <strong class="delay01 center" style='font-size:18px;color:#313131;'>昼夜监控</strong>
                                <p >
                                    <img src="img/sf_002_03.jpg" alt="">
                                </p>
                                <span style='color:#313131' >
                                    内置HISS云服务，帮助你昼夜监控柜体状况，成为你24小时强力后援</span>
                            </div>
                        </li>
                        <!-- 2 -->
                        <li class="span4" data-id="id-2" data-type="graphics" style='text-align: center'>
                            <div class="sf_part2_list">
                                <strong class="delay02 " style='font-size:18px;color:#313131;'>移动报警</strong>
                                <p>
                                    <img src="img/sf_003.jpg" alt="">
                                </p>
                                <span style='color:#313131'>
                                    受到异常冲击、移动、倾斜，柜体都将通过客户端通知用户。</span>
                            </div>
                        </li>
                        <!-- 3 -->
                        <li class="span4" data-id="id-3" data-type="business" style='text-align: center'>
                            <div class="sf_part2_list">
                                <strong class="delay03 " style='font-size:18px;color:#313131;'>远程控制</strong>
                                <p>
                                    <img src="img/sf_004.jpg" alt="">
                                </p>
                                <span style='color:#313131'>
                                    会上网的 Safirst初柜，让你通过联网无论何时何地，都能远程控制 Safirst初柜。</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- sf_part3 -->
        <div class="sf_part3">
                <div class="sf_video img_fontsize">
                     <video src="img/safirst-video.mp4" autoplay="autoplay" loop="loop" type="" ></video>
                </div>
                <div class="sf_video_play">
                    <div class="hiss_header_content">
                        <div class="sf_part3_content" style='margin:230px auto;'>
                            <h1>智慧核心，一目了然</h1>
                            <p>
                                Safirst初柜使用方便，入手即可使用。柜体顶部的控制面板是整个Safirst初柜的智慧核心，单键加上高敏指纹模块，帮助你完成设置和功能操作。欢迎使用会上网、会报警的 Safirst初柜。</p>
                        </div>
                    </div>
                </div>
            </div>
        <!-- sf_part4 -->
        <div class="sf_part4 animate_p2">
                <div class="hiss_header_content">
                    <div class="sf-part4_content">
                        <div class="sf_part4_title">
                            <h1>前沿设计，只为初心</h1>
                            <p>
                                </p><h3>彩色版本需单独定制</h3>
                            <p></p>
                            <p>
                                自始至终我们的设计理念未变，只为带给你更好、更简便的用户体验。Safirst初柜摒弃传统柜子繁复的设计元素，将互联网连接、HISS安防系统与智能芯片，全部融入到小巧的柜体中。</p>
                            <span>
                                <a href="safirst.design.html">
                                    了解 Safirst初柜 设计 &gt;</a>
                            </span>
                        </div>
                        <div class="sf_part4_img img_fontsize ">
                            <img src="img/sf_006.png" alt="">
                        </div>
                        <div class="sf_part4_info animate_p3">
                            <div class="sf_part4_mess delay01 ">
                                <p>3.0 <sub>毫米</sub></p>
                                <span style='color:#313131;'>门板厚度</span>
                            </div>
                            <div class="sf_part4_mess delay02 ">
                                <p>1.5 <sub>毫米</sub></p>
                                <span style='color:#313131;'>柜体壁厚</span>
                            </div>
                            <div class="sf_part4_mess delay03 ">
                                <p>29.1 <sub>升</sub></p>
                                <span style='color:#313131;'>柜体容积</span>
                            </div>
                            <div class="sf_part4_mess delay04 ">
                                <p>10.8 <sub>千克</sub></p>
                                <span style='color:#313131;'>柜体重量</span>
                            </div>
                            <div class="clearfix">	</div>
                        </div>
                    </div>
                </div>
            </div>  
        <!-- sf_part5 -->
        <div class="sf_part5" style='position: relative;'>
                <div class=" img_fontsize">
                        <div class="fullwidthbanner-container" style='overflow: visible'>
                                <div class="shadowdrop"></div>
                                <div class="fullwidthabnner" style='max-height: 830px;'>
                                    <ul class="sf_part5_list">
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="0"  ><img src="img/summ_001.jpg" alt=""></li>
                        <li  data-transition="fade" data-slotamount="10" data-masterspeed="0"><img src="img/summ_002.jpg" alt=""></li>
                        <li data-transition="fade" data-slotamount="10" data-masterspeed="300"><img src="img/summ_003.jpg" alt=""></li>
                        <li data-transition="fade" data-slotamount="10" data-masterspeed="300"><img src="img/summ_004.jpg" alt=""></li>
                        <li data-transition="fade" data-slotamount="10" data-masterspeed="300"><img src="img/summ_005.jpg" alt=""></li>
                        <li data-transition="fade" data-slotamount="10" data-masterspeed="300"><img src="img/summ_006.jpg" alt=""></li>
                        <div class="clearfix" style="display: none;"></div>
                    </ul>
                                </div>    
                        </div>
                </div>
                <div class="sf_part5_title" style='z-index: 100;'>
                    <h1>百变搭配，多彩人生</h1>
                    <p>
                        除了精辟的设计风格，Safirst初柜更是拥有众多颜色搭配，配合不同家装风格。Safirst初柜不单单只是一台智能柜，更是一件家私。</p>
                </div>
            </div>  
        <!-- sf_part6 -->
        <div class="sf_part6 animate_p4 animate_p101" style='margin-top:160px;'>
                <div class="overHidden">
                    <div class="figure_bg img_fontsize" style="transform: translateY(76px) scale(1.2);">
                    </div>
                </div>
                <div class="sf_part6_title">
                    <h1>超强适应力</h1>
                    <p>
                        Safirst初柜的体积精巧，适合个人藏品及重要文件收纳。方便置于桌面，轻易融合在家居环境之中，柜体用料上低碳环保，降低对健康、环境的不良影响。</p>
                </div>
            </div>   
        <!-- sf_part7 -->
        <div class="sf_part7">
                <div class="hiss_header_content ">
                    <div class="sf_part7_bg img_fontsize fr">
                        <img src="img/Screen.jpg" alt="">
                    </div>
                    <div class="sf_part7_info fl" style='left:13%;'>
                        <h1>远程遥控<br>
                        双系统支持</h1>
                        <p>
                            Safirst初柜融入最新的 HISS云技术，通过随身客户端实现远程控制。HISS APP更支持IOS、安卓双系统，满足你更多的需求。</p>
                        <a href="safirst_function.html">了解  Safirst初柜 功能 &gt;</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        <!-- sf_part8 -->
        <div class="sf_part8">
                <div class="sf_part8_img img_fontsize">
                    <img src="img/sf_010_02.jpg" alt="">
                </div>
                <div class="OSF_part8_title">
                    <h1>轻轻一点，实现更多</h1>
                    <p>
                        表面看上来Safirst初柜只是一个柜子，实际上它融合了HISS众多智能安全技术，无论是联网功能，还是信息反馈、远程控制，都是为了尽力实现高能效。</p>
                </div>
                <div class="small_img_list">
                    <ul>
                        <li>
                            <img src="img/OSF_part8_002.png" alt="">
                            <p>WIFI连接</p>
                        </li>
                        <li>
                            <img src="img/OSF_part8_003.png" alt="">
                            <p>指纹解锁</p>
                        </li>
                        <li>
                            <img src="img/OSF_part8_004.png" alt="">
                            <p>IOS支持</p>
                        </li>
                        <li>
                            <img src="img/OSF_part8_005.png" alt="">
                            <p>安卓支持</p>
                        </li>
                        <li>
                            <img src="img/OSF_part8_006.png" alt="">
                            <p>微信控制</p>
                        </li>
                        <li>
                            <img src="img/OSF_part8_008.png" alt="">
                            <p>低电保护</p>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
            </div> 
        <!-- sf_part9 -->
        <div class="sf_part9">
                <div class="D_part10 ">
                    <div class="disney_part8">
                        <div class="hiss_header_content">
                            <div class="disney_img">
                                <img src="img/sf_011.png">
                            </div>
                            <div class="next_contect">
                                <span>下一步</span>
                                <p>只如初见</p>
                                <h2 style='text-align:left;'>「我所收藏的是心中的回忆。」</h2>
                                <aside>了解  Safirst初柜 的设计。</aside>
                                <a href="safirst.design.html">下一章：设计 &gt;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                
        <!--==============================footer=================================-->
        <footer>
            <!-- footer 2 -->
            <div id="copyrights" class="footer-2 footer-dark">
                <div class="container">
                    <div class="row">
                        <div class="span12">Copyright &copy; 2012-2019. 智普信科技 ｜ 京ICP备09017907</div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src='js/jquery.js'></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.sliderTabs.js"></script>
    <!-- jQuery Slider  -->
    <script type="text/javascript" src="js/rs-plugin/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="js/rs-plugin/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="js/carousel.js"></script>
    <!-- totop  -->
    <script type="text/javascript" src="js/jquery.ui.totop.js"></script>
    <script type="text/javascript" src="js/jquery.mobile.customized.min.js"></script>
    <!-- Accordion  -->
    <script type="text/javascript" src="js/accordion.js"></script>
    <!-- Tabs  -->
    <script type="text/javascript" src="js/tabs.js"></script>
    <!-- Sitemap  -->
    <script type="text/javascript" src="js/sitemap.js"></script>
    <!-- Navigation  -->
    <script type="text/javascript" src="js/nav-small.js"></script>
    <script type="text/javascript" src="js/jquery.mobilemenu.js"></script>
    <!-- Isotope  -->
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    <!-- Metro Style  -->
    <script type="text/javascript" src="js/boxgrid.js"></script>
    <script type="text/javascript" src="demo/switcher.js"></script>
    <script type='text/javascript' src='js/scroll02.js'></script>
    <script type='text/javascript' src='js/opction.js'></script>
    <script type='text/javascript' src='js/prefixfree.js'></script>
    <script type='text/javascript' src='js/jquery.mousewheel.js'></script>
    <script>
          $('.product').width($(window).width()+20);
	$('.suo_k').width($(window).width()+20);
	var leftpx=$('.product').parent().offset().left;
	console.log($('.product').parent().offset().left);
	$('.product').css('left',-leftpx-10);
            function browserRedirect() {
	var sUserAgent = navigator.userAgent.toLowerCase();
	var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
	var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
	var bIsMidp = sUserAgent.match(/midp/i) == "midp";
	var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
	var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
	var bIsAndroid = sUserAgent.match(/android/i) == "android";
	var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
	var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
   console.log("您的浏览设备为：");
  }
  browserRedirect();
        </script>
    <script>
        var api;
        jQuery(document).ready(function () {
            api = jQuery('.fullwidthabnner').revolution(
                {
                    delay: 2000,
                    startheight: 370,
                    startwidth: 960,
                    hideThumbs: 10,
                    thumbWidth: 100,							// Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
                    thumbHeight: 50,
                    thumbAmount: 5,
                    navigationType: "both",					//bullet, thumb, none, both		(No Thumbs In FullWidth Version !)
                    navigationArrows: "verticalcentered",		//nexttobullets, verticalcentered, none
                    navigationStyle: "round",				//round,square,navbar
                    touchenabled: "on",						// Enable Swipe Function : on/off
                    onHoverStop: "off",						// Stop Banner Timet at Hover on Slide on/off
                    navOffsetHorizontal: 0,
                    navOffsetVertical: 20,
                    stopAtSlide: -1,
                    stopAfterLoops: -1,
                    shadow: 1,								//0 = no Shadow, 1,2,3 = 3 Different Art of Shadows  (No Shadow in Fullwidth Version !)
                    fullWidth: "on"							// Turns On or Off the Fullwidth Image Centering in FullWidth Modus
                });
        });
    </script>
    <script type="text/javascript">
        // initialise plugins
        var F_high;
	$(window).scroll(function(){
		F_high = $(window).scrollTop();
		if(F_high > 70){
			$("#leBox_info").addClass("on");
			$(".Experience_Center_menu").addClass("on")
			$(".leBox_fixed").addClass('on')
			$(".my_order_nav").addClass("on")
		}else{
			$("#leBox_info").removeClass("on")
			$(".Experience_Center_menu").removeClass("on")
			$(".leBox_fixed").removeClass("on")
			$(".my_order_nav").removeClass("on")
		}
	})
    </script>
</body>
</html>