<!DOCTYPE html>
<html lang="en">
<head>
    <title>智普信科技</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/inner.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/footer-color.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/rs-plugin/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/rs-plugin/preview.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/elements.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/hover-min.css" type='text/css'>
    <link rel="stylesheet" href="css/imagehover.min.css">
    <link rel="stylesheet" href="css/animate.min.css" type='text/css'>
    <link rel="stylesheet" href="css/index.css" type='text/css'>
    <!--[if lt IE 9]>
    <link href='http//fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/docs.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
  <![endif]-->
    <link rel="stylesheet" href="css/keyframes.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/safirst.css">
    <link rel="stylesheet" href="css/imagehover.min.css">
    <link rel="stylesheet" href="css/office-se.css">
    <style>
        .ft16 {
            font-size: 16px !important;
        }
        .list-services li:first-child figure {
            float: left;
            margin: 60px 15px 6px 0;
            border: none;
        }
        .list-services li:nth-child(2) figure {
            float: left;
            margin: 40px 15px 6px 0;
            border: none;
        }
        .list-services li:nth-child(3) figure {
            float: left;
            margin: 40px 15px 6px 0;
            border: none;
        }
        .list-services li:nth-child(4) figure {
            float: left;
            margin: 40px 15px 6px 0;
            border: none;
        }
        .list-services li:nth-child(5) figure {
            float: left;
            margin: 50px 15px 6px 0;
            border: none;
        }
        .ft14 {
            font-size: 14px;
        }
        .title {
            background: none;
            margin-top: 130px;
        }
        .title i {
            display: inline-block;
            width: 63px;
            height: 63px;
            background: url(img/index-title.png) no-repeat;
            background-size: 100%;
            float: left;
            margin-right: 15px;
            margin-top: 27px;
        }
        .title h4 {
            font-size: 36px;
            text-align: left;
        }
        .title h4 span {
            font-size: 28px;
            color: #8a8a8a
        }
        [class*=' imghvr-'],
        [class^=imghvr-] {
            background-color: rgba(115, 113, 114, .7)
        }
        .animate_p1,
        .animate_p2,
        .animate_p3,
        .animate_p4,
        .animate_p5,
        .anipt8,
        .anipt9 {
            /* display: none; */
            visibility: hidden;
            position: relative;
        }
    </style>
</head>
<body class="home-page stretched">
    <div id="wrapper" class="parking">
        <!--==============================header=================================-->
        <div id='head' class=" clearfix" style='height: 60px;
    background: #fff;
    z-index: 1000;
    position: absolute;
    width: 100%;'>
            <!-- Logo & Navigation -->
            <div class='header' style='height: 60px;background:#fff;' id='header'>
                <div class="container">
                    <div class="row ">
                        <div class="span12" style='height: 60px;'>
                            <!-- Logo -->
                            <h1 class="brand brand_" style='margin-top:12px;'><a href="index.html"><img
                                        src="img/index_logo.png" alt=""></a></h1>
                            <!-- Navigation -->
                            <div class="navbar navbar_">
                                <div class="container">
                                    <!--=========== menu ===============-->
                                    <div class="nav-collapse nav-collapse_ collapse">
                                        <ul class="nav sf-menu">
                                            <li class=" sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                                                <a class="" href="javascript:;">解决方案</a>
                                                <ul class="sub_sub_menu">
                                                    <li>
                                                        <a href="smart-office.html" class="sub_title"
                                                            img='img/ziyou.png'>智能办公</a>
                                                    </li>
                                                    <li>
                                                        <a href="office-se.html" class="sub_title"
                                                            img='img/jiaju.png'>共享空间</a>
                                                    </li>
                                                    <li>
                                                        <a href="shared-parking.html" class="sub_title"
                                                            img='img/gongyu.png'>共享停车</a>
                                                    </li>
                                                    <li>
                                                        <a href="shared-storage.html" class="sub_title"
                                                            img='img/shequ.png'>共享仓储</a>
                                                    </li>
                                                    <li>
                                                      <a href="cloud.html" class="sub_title"
                                                          img='img/shequ.png'>智能安防云</a>
                                                    </li>
                                                    <li>
                                                        <a href="baoguan.html" class="sub_title"
                                                            img='./img/gongxiang.png'>重要物品保管</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class=" sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                                                <a class="" href="product-center.html" target="_blank">产品中心</a>
                                            </li>
                                            <li class="sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                                                <a class="" href="customer-case.html">客户案例</a>
                                            </li>
                                            <li class="sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                                                <a class="" href="news.html">新闻动态</a>
                                            </li>
                                            <li  class="sub-menu main-menu about" style='margin-right:15px;padding: 0 6px;'>
                                                <a class="" href="about.html">关于智普信</a>
                                                <ul class="sub_sub_menu">
                                                    <li>
                                                        <a href="about.html" class="sub_title"
                                                            img='img/ziyou.png'>公司介绍</a>
                                                    </li>
                                                    <li>
                                                        <a href="about.html#part4"  class="sub_title"
                                                            img='img/jiaju.png'>品牌理念</a>
                                                    </li>
                                                    <li>
                                                        <a href="about.html#part5" class="sub_title"
                                                            img='img/gongyu.png'>发展历程</a>
                                                    </li>
                                                    <li>
                                                        <a href="about.html#part7" class="sub_title"
                                                            img='img/shequ.png'>专利认证</a>
                                                    </li>
                                                    <li>
                                                        <a href="about.html#part9" class="sub_title"
                                                            img='./img/gongxiang.png'>联系我们</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--==============================content=================================-->
        <img class='resp_show' src="./img/phone/images/office_02.png" alt="" style='width:100%;display:none;'>
        <section class='resp_noneimg' id="content" style='background:#fff;padding-bottom: 0;'>
            <!-- sfd_part1 -->
            <div class="part1" style='background:#f6f6f6'>
                <img src="./img/s_park_img_banner.png" alt="">
                <div class="prt1_text">
                    <h2 style='color:#fff;'>共享停车解决方案</h2>
                    <p style='font-size:36px;text-align: center;color:#fff;'>SHARED PARKING SOLUTION</p>
                </div>
            </div>
            <!-- part3 -->
            <div class="part3 animate_p1">
                <div class="container" style='margin-top:45px;margin-bottom: 70px;'>
                    <h2 class='OS_part2'>HISS共享停车系统</h2>
                    <p style='font-size:20px;text-align: center;' class='OS_part3'>
                        利用Lora通讯、GPS定位等物联网技术赋能传统停车桩，整合闲置车位资源</p>
                    </p>
                </div>
                <img src="./img/s_park_img_system.png" alt="" width="100%" style='visibility: visible'>
            </div>
            <!-- part4 -->
            <div class="part4" style='background:#fff;padding-top:30px;padding-bottom: 25px;' >
                <div class="container">
                    <h2 class="animate_p2 anpt1">手机APP完全自助式使用</h2>
                    <p style='font-size:20px;text-align: center;' class="animate_p2 anpt2">
                        手机APP完全自助式使用</p>
                    </p>
                </div>
                <div style='margin-top:40px' class="prt4_clock">
                    <img src="./img/s_park_img_phone.png" alt="" style='width:100%;'>
                </div>
            </div>
            <!-- part5 -->
            <div class="part5 " style='margin-bottom: 20px;'>
                <!-- <img src="./img/s_office_img_ipone.png" alt="" style='width:100%;'>  -->
                <div class="animate_p3" style='position: unset;margin-bottom: 55px;'>
                    <h2 class="OS_part5">联动安防服务</h2>
                    <p class="OS_part51" style='font-size:20px;margin-bottom: 10px;'>
                        强大的智普信安防云为后盾，打通线上和线下的联动安防服务，提供对数据、安全性和服务质量的有效控制,</p>
                </div>
                <img src="./img/s_park_img_security.png" alt="" style='width:100%;'>
            </div>
            <!-- part7 -->
            <div class="part7" style='background:#fff;border-bottom: 1px solid #ccc;padding-top:52px;padding-bottom: 50px;'>
                <div class="animate_p5">
                    <h2 class="OS_part7" style='margin-top:0'>停车位共享</h2>
                    <!-- <p class="OS_part71" style='font-size:20px;margin-bottom: 10px;text-align:center;'>实时更新全球位置各空间的工位、会议室和房间的使用状态，定期生成数据统计报表给业主</p> -->
                    <div class="container OS_part72">
                        <div class="prt7img" style='display: flex;margin-top:110px;'>
                            <div style='text-align: center;width:445px;margin-right:0'><img
                                    src="./img/s_park_ic_share_1.png" alt="">
                                <p style='margin:50px auto;width:165px;'>提供停车位发布平台，
                                    资源实时共享，互联</p>
                            </div>
                            <div style='text-align: center;width:445px;margin-right:0'><img
                                    src="./img/s_park_ic_share_2.png" alt="">
                                <p style='margin:50px auto;width:165px;'>
                                    业主下载APP，使用
                                    手机号注册，完成车主验</p>
                            </div>
                            <div style='text-align: center;width:445px;margin-right:0'><img
                                    src="./img/s_park_ic_share_3.png" alt="">
                                <p style='margin:50px auto;width:165px;'>填写停车位位置及
                                    详细信息，发布共享</p>
                            </div>
                            <div style='text-align: center;width:445px;margin-right:0'><img
                                    src="./img/s_park_ic_share_4.png" alt="">
                                <p style='margin:50px auto;width:165px;'>平台审核后，即
                                    可实现车位共享</p>
                            </div>
                            <div style='text-align: center;width:445px;margin-right: 0'><img
                                    src="./img/s_park_ic_share_5.png" alt="">
                                <p style='margin:50px auto;width:165px;'>业务订单随时查看
                                    收入记录清洗无遗</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- part8 -->
            <div class="part8" style='margin-bottom: 70px;margin-top:80px;'>
                <div class="container">
                    <h2 class="anipt8" style='margin-top:0;margin-bottom: 75px;'>在线找车位</h2>
                    <div style='display: flex'>
                        <div style='width:70%;margin-top:11%;'>
                            <p style='font-size: 22px;'>
                                <i class="shared-park"></i>
                                精准显示目的地周边的停车场地图定位
                            </p>
                            <p style='font-size: 22px;'>
                                <i class="shared-park pa2"></i>
                                车位数实时更新，显示剩余车位数量和类型
                            </p>
                            <p style='font-size: 22px;'>
                                <i class="shared-park pa3"></i>
                                一键查看停车费用、停车优惠等信息
                            </p>
                            <p style='font-size: 22px;'>
                                <i class="shared-park pa4"></i>
                                直观掌握车位状况，找停车位，告别不停的转圈
                            </p>
                        </div>
                        <div>
                           <img src="./img/s_park_img_iphone(1).png" alt="" style='width:90%;float:right;'>     
                        </div>
                    </div>
                </div>
            </div>
            <!-- part9 -->
            <div class="part9" style='height: 1500px;position: relative;background: #eee;'>
                <div class="container">
                    <h2 class="anipt9" style='margin-top:77px;margin-bottom: 75px;'>预订车位流程</h2>
                    <div style='display: flex' class="spark">
                        <div class="spark1" style='font-size:32px;margin-left:80px;'>先预订再开车</div>
                        <div class="spark1 spark2" style='    margin: 41px 56px;'></div>
                        <div class="spark1 spark3" style='line-height: 40px;margin-top:64px;'>
                            <div>预订车位模式，用户可先预订闲置的车位后开车，出行停车更简单</div>
                            <div>预订时选择开始使用时间和停车时长，根据车位类型自动计算预订金；</div>
                            <div>在APP中即可通过支付宝、微信等支付方式完成预订金的支付；</div>
                        </div>
                    </div>
                    <div style='display: flex' class="spark">
                        <div class="spark1" style='font-size:32px;margin-left:80px;'>精准定位导航</div>
                        <div class="spark1 spark2" style='    margin: 41px 56px;'></div>
                        <div class="spark1 spark3" style='line-height: 40px;margin-top:64px;'>
                            <div>根据预订目的地自动生成行车路线；</div>
                            <div>智能车桩可为用户提供精准的GPRS定位导航，确保用户快速到达；</div>
                            <div>车牌自动识别，无需取卡，预订后直接进场停车，提升用户体验。</div>
                        </div>
                    </div>
                    <div style='display: flex' class="spark">
                        <div class="spark1" style='font-size:32px;margin-left:80px;'>APP操控降锁</div>
                        <div class="spark1 spark2" style='margin: 41px 56px;'></div>
                        <div class="spark1 spark3 parkingmarg" style='line-height: 40px;margin-top:64px;'>
                            <div>预订成功后，自动获取停车位进出权限；</div>
                            <div>手机APP操纵车桩降锁；</div>
                        </div>
                    </div>
                    <div style='display: flex' class="spark">
                        <div class="spark1" style='font-size:32px;margin-left:80px;'>离场自动结算</div>
                        <div class="spark1 spark2" style='    margin: 41px 56px;'></div>
                        <div class="spark1 spark3" style='line-height: 40px;margin-top:64px;'>
                            <div>贴心的消息通知，实时通知订单状态；</div>
                            <div>离场自动结算停车费用，支持自动支付；</div>
                            <div>订单结束，停车位恢复为可用状态，车位使用权自动失效；</div>
                            <div>消费记录云端存储，APP随时查看，记录一目了然。</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- part10 -->
            <div class="part10" style="margin-bottom: 110px;">
                <div class="container">
                    <h2 class="anipt10" style='margin-top:77px;margin-bottom: 75px;'>使用场景</h2>
                    <div style='display: flex'>
                        <div class="p10-parking">
                            <img src="./img/s_park_img_scene1.png" alt="">
                            <p>无人化运营的公共停车场</p>
                        </div>
                        <div class="p10-parking">
                            <img src="./img/s_park_img_scene2.png" alt="">
                            <p>物业运营的小区内停车位</p>
                        </div>
                        <div class="p10-parking">
                            <img src="./img/s_park_img_scene3.png" alt="">
                            <p>企业园区内的停车位管理</p>
                        </div>
                        <div class="p10-parking" style='margin-right:0'>
                            <img src="./img/s_park_img_scene4.png" alt="">
                            <p>酒店自有停车场的无人化运营</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>
    <!--==============================footer=================================-->
    <footer>
        <div id="footer" class="section-3 footer-dark" style='height:230px;'>
            <div class="container">
                <div style='display: flex;margin-top:80px;'>
                    <div style='width:650px;'>
                        <p style='color:#e0e0e0;font-size:22px;'>客服电话: <span style="font-weight: bold;font-size:32px">400-928-1122</span> </p>
                        <p  style='color:#e0e0e0;font-size:22px;'>服务时间:  周一到周五9:30-18:00</p>
                    </div>
                    <div style='width:650px;text-align:right;margin-top:-13px;'>
                        <p><img src="./img/logo_footer.png" alt=""></p>
                        <p style='color:#e0e0e0;font-size:22px;'>zps@zeepson.com</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer 2 -->
        <div id="copyrights" class="footer-2 footer-dark">
            <div class="container">
                <div class="row">
                    <div class="span12" style="font-size:14px;">
                        Copyright © 2012-2019. 智普信科技 ｜
                        <a href="http://www.beian.miit.gov.cn"> <span style="color:#c0c0c0;">京ICP备09017907</span> </a></div>
                </div>
            </div>
        </div>
    </footer>
    </div>
    <script type="text/javascript" src='js/jquery.js'></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.sliderTabs.js"></script>
    <!-- totop  -->
    <script type="text/javascript" src="js/jquery.ui.totop.js"></script>
    <!-- Image animated Style  -->
    <script type="text/javascript" src="js/jquery.gridrotator.js"></script>
    <!-- Tabs  -->
    <script type="text/javascript" src="js/tabs.js"></script>
    <!-- Navigation  -->
    <script type="text/javascript" src="js/nav-small.js"></script>
    <script type="text/javascript" src="js/jquery.mobilemenu.js"></script>
    <!-- Isotope  -->
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="js/jquery.mousewheel.js"></script>
    <!-- Elastislider  -->
    <script>
        $('.part1 .prt1_text').addClass('on');
        $('.animate_p1 .OS_part2').addClass('animated fadeInUp');
        $('.animate_p1 .OS_part3').addClass('animated fadeInUp');
    </script>
    <script>
    </script>
    <script type="text/javascript">
        $(function () {
            var winWidth, winHeight;
            var win_h = $(window).height() * 0.64;
            var win_height = $(window).height() * 1;
            function funHeight(n, c) {
                var F_high = $(window).scrollTop();
                var t = $(n).offset().top;
                if (F_high > t - win_h) {
                    $(c).addClass("animated fadeInUp");
                }
                if (F_high == 0) {
                    // $(c).removeClass("animated fadeInUp");
                }
            };
            $(window).scroll(function () {
                funHeight(".animate_p2", ".anpt1");
                funHeight(".animate_p2", ".anpt2");
                funHeight(".animate_p2", ".anpt3");
                funHeight(".animate_p3", ".OS_part5");
                funHeight(".animate_p3", ".OS_part51");
                funHeight(".animate_p3", ".OS_part52");
                funHeight(".animate_p5", ".OS_part7");
                funHeight(".animate_p5", ".OS_part72");
                funHeight(".anipt8", '.anipt8');
                funHeight(".anipt9", '.anipt9');
                funHeight(".anipt10", '.anipt10');
            })
        });
    </script>
</body>
</html>