<!DOCTYPE html>
<html lang="en">
<head>
    <title>智普信科技</title>
    <meta charset="utf-8">
    <link rel="icon" href="img/logo.png" type="image/x-icon">
    <link rel="shortcut icon" href="img/logo1.png" type="image/x-icon" />
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/inner.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/footer-color.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/rs-plugin/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/rs-plugin/preview.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/elements.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/hover-min.css" type='text/css'>
    <link rel="stylesheet" href="css/imagehover.min.css">
    <link rel="stylesheet" href="css/animate.min.css" type='text/css'>
    <link rel="stylesheet" href="css/index.css" type='text/css'>
    <!--[if lt IE 9]>
    <link href='http//fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/docs.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
  <![endif]-->
    <link rel="stylesheet" href="css/keyframes.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/safirst.css">
    <link rel="stylesheet" href="css/imagehover.min.css">
    <link rel="stylesheet" href="css/office-se.css">
    <style>
        .ft16 {
            font-size: 16px !important;
        }
        .list-services li:first-child figure {
            float: left;
            margin: 60px 15px 6px 0;
            border: none;
        }
        .list-services li:nth-child(2) figure {
            float: left;
            margin: 40px 15px 6px 0;
            border: none;
        }
        .list-services li:nth-child(3) figure {
            float: left;
            margin: 40px 15px 6px 0;
            border: none;
        }
        .list-services li:nth-child(4) figure {
            float: left;
            margin: 40px 15px 6px 0;
            border: none;
        }
        .list-services li:nth-child(5) figure {
            float: left;
            margin: 50px 15px 6px 0;
            border: none;
        }
        .ft14 {
            font-size: 14px;
        }
        .title {
            background: none;
            margin-top: 130px;
        }
        .title i {
            display: inline-block;
            width: 63px;
            height: 63px;
            background: url(img/index-title.png) no-repeat;
            background-size: 100%;
            float: left;
            margin-right: 15px;
            margin-top: 27px;
        }
        .title h4 {
            font-size: 36px;
            text-align: left;
        }
        .title h4 span {
            font-size: 28px;
            color: #8a8a8a
        }
        [class*=' imghvr-'], [class^=imghvr-]{
            background-color:rgba(115,113,114,.7)
        }
        .animate_p1,.animate_p2,.animate_p3,.animate_p4,.animate_p5,.anipt8,.anipt9{
  /* display: none; */
  visibility:hidden;
  position: relative;
}
.prt7img div {
    margin-right: 162px;
}
    </style>
</head>
<body class="home-page stretched">
    <div id="wrapper" class="storage">
        <!--==============================header=================================-->
        <div id='head' class=" clearfix" style='height: 60px;
        background: #fff;
        z-index: 1000;
        position: absolute;
        width: 100%;'>
                <!-- Logo & Navigation -->
                <div class='header' style='height: 60px;background:#fff;' id='header'>
                    <div class="container">
                        <div class="row ">
                            <div class="span12" style='height: 60px;'>
                                <!-- Logo -->
                                <h1 class="brand brand_" style='margin-top:12px;'><a href="index.html"><img
                                            src="img/index_logo.png" alt=""></a></h1>
                                <!-- Navigation -->
                                <div class="navbar navbar_">
                                    <div class="container">
                                        <!--=========== menu ===============-->
                                        <div class="nav-collapse nav-collapse_ collapse">
                                            <ul class="nav sf-menu">
                                                <!-- <li class="sub-menu main-menu" style='margin-right:15px;padding: 0 10px;'>
                                                    <a class="" href="customer.html">核心技术</a>
                                                </li> -->
                                                <li class=" sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                                                    <a class="" href="javascript:;">解决方案</a>
                                                    <ul class="sub_sub_menu">
                                                        <li>
                                                            <a href="smart-office.html" class="sub_title"
                                                                img='img/ziyou.png'>智能办公</a>
                                                        </li>
                                                        <li>
                                                            <a href="office-se.html" class="sub_title"
                                                                img='img/jiaju.png'>共享空间</a>
                                                        </li>
                                                        <li>
                                                            <a href="shared-parking.html" class="sub_title"
                                                                img='img/gongyu.png'>共享停车</a>
                                                        </li>
                                                        <li>
                                                            <a href="shared-storage.html" class="sub_title"
                                                                img='img/shequ.png'>共享仓储</a>
                                                        </li>
                                                        <li>
                                                          <a href="cloud.html" class="sub_title"
                                                              img='img/shequ.png'>智能安防云</a>
                                                        </li>
                                                        <li>
                                                            <a href="baoguan.html" class="sub_title"
                                                                img='./img/gongxiang.png'>重要物品保管</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class=" sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                                                    <a class="" href="product-center.html" target="_blank">产品中心</a>
                                                </li>
                                                <li class="sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                                                    <a class="" href="customer-case.html">客户案例</a>
                                                </li>
                                                <li class="sub-menu main-menu" style='margin-right:15px;padding: 0 14px;'>
                                                    <a class="" href="news.html">新闻动态</a>
                                                </li>
                                                <li  class="sub-menu main-menu about" style='margin-right:15px;padding: 0 6px;'>
                                                    <a class="" href="about.html">关于智普信</a>
                                                    <ul class="sub_sub_menu">
                                                        <li>
                                                            <a href="about.html" class="sub_title"
                                                                img='img/ziyou.png'>公司介绍</a>
                                                        </li>
                                                        <li>
                                                            <a href="about.html#part4"  class="sub_title"
                                                                img='img/jiaju.png'>品牌理念</a>
                                                        </li>
                                                        <li>
                                                            <a href="about.html#part5" class="sub_title"
                                                                img='img/gongyu.png'>发展历程</a>
                                                        </li>
                                                        <li>
                                                            <a href="about.html#part7" class="sub_title"
                                                                img='img/shequ.png'>专利认证</a>
                                                        </li>
                                                        <li>
                                                            <a href="about.html#part9" class="sub_title"
                                                                img='./img/gongxiang.png'>联系我们</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!--==============================content=================================-->
        <!-- <img class='resp_show' src="./img/phone/images/office_02.png" alt="" style='width:100%;display:none;'> -->
        <section class='resp_noneimg' id="content" style='background:#fff;padding-bottom: 0;'>
            <!-- sfd_part1 -->
            <div class="part1" style='background:#f6f6f6'>
                <img src="./img/s_ware_img_banner.png" alt="">
                <div class="prt1_text">
                    <h2>共享仓储解决方案</h2>
                    <p style='font-size:36px;text-align: center'>SHARED WAREHOUSING SOLUTION</p>
                </div>
            </div>
            <div class="part2" style='margin-top:45px;margin-bottom: 105px;'>
                <div class="container">
                    <div class=" three" style='width:100%;'>
                        <h2>安全性与易用性并重的私人物品存放平台</h2>
                    </div>
                    <div class=" four" style='width:100%;height: 0;padding-top:0'>
                        <p style='margin-top:30px;text-align: center;'>基于物联网技术的蜂巢式共享仓储系统，一个平台，多点分布，信息共享，统一管理</p>
                    </div>
                </div>
            </div>
            <!-- part3 -->
            <div class="part3 " style='background: #1b1b1b;visibility: visible;'>
                <div class="container animate_p1">
                    <h2 class='OS_part2' style='color:#fff;'>双重认证机制</h2>
                    <p style='font-size:20px;text-align: center;color:#fff;' class='OS_part3'>
                            面部、指纹、密码或根据运营方的不同，提供IC卡、银行卡、身份证、护照等方式认证</p>
                    </p>
                </div>
                <div style='display: flex;margin-top:25px;'>
                        <div><img src="./img/s_ware_img_face.png" alt=""></div>
                        <div><img src="./img/s_ware_img_finger.png" alt=""></div>
                    </div>
            </div>
            <!-- part4 -->
            <div class="part4 " style='margin-top:20px;padding-top:0;position: relative;padding-bottom: 0;'>
                <img src="./img/storage_02.png" alt="">
                <div class="container" style='position: absolute;top:10px;margin:0 auto;width:100%;'>
                    <h2 class="animate_p2 anpt1" style='color:#fff;'>发生异常状态时联动报警</h2>
                </div>
            </div>
             <!-- part5 -->
    <div class="" style='margin-bottom: 20px;margin-top:80px;'>
        <div class="container">
             <div style='display: flex;'>
            <div>
                <div>
                      <img src="./img/images/str_06.png" alt="">
                </div>
                <div style='margin-top:15px;margin-right:15px;'>
                     <img src="./img/images/str_10.png" alt="">
                </div>
            </div>
            <div>
                <div>
                    <img src="./img/images/store_08.png" alt="">
                </div>
                <div style='margin-top:15px;'>
                    <img src="./img/images/str_11.png" alt="">
                </div>
            </div>
        </div>
        </div>
    </div>
    <!-- part7 -->
    <div class="part7" style='background: #fff;'>
        <div  class="animate_p5">
            <h2 class="OS_part7" style='margin-top:0'>完全自助式操作 灵活租用</h2>
            <div class="container OS_part72">
                <div class="prt7img" style='display: flex;margin-top:110px;'>
                <div><img src="./img/s_ware_ic_oper_1.png" alt=""><p style='text-align: center;font-size:16px;margin-top:15px;'>查询</p></div>
                <div><img src="./img/s_ware_ic_oper_2.png" alt=""><p style='text-align: center;font-size:16px;margin-top:15px;'>预约</p></div>
                <div><img src="./img/s_ware_ic_oper_3.png" alt=""><p style='text-align: center;font-size:16px;margin-top:15px;'>使用</p></div>
                <div><img src="./img/s_ware_ic_oper_4.png" alt=""><p style='text-align: center;font-size:16px;margin-top:15px;'>付费</p></div>
                <div ><img src="./img/s_ware_ic_oper_5.png" alt=""><p style='text-align: center;font-size:16px;margin-top:15px;'>监控</p></div>
                <div style='margin-right: 0'><img src="./img/s_ware_ic_oper_6.png" alt=""><p style='text-align: center;font-size:16px;margin-top:15px;'>提醒</p></div>
            </div>
            </div>
        </div>
    </div>
    <div class="part6">
        <img src="./img/store_17.png" alt="">
        <div class="animate_p4" >
                <h2 class="OS_part6" style='color:#fff;'>个人手机实时监控</h2>
            </div>
    </div>
    <!-- part8 -->
    <div class="part8" style='margin-bottom: 60px;'>
        <div class="container">
            <h2 class="anipt8" style='margin-top:0;margin-bottom: 75px;'>应用场景</h2>
            <div style='display: flex'>
               <div style='margin-right:20px;'>
                   <img src="./img/s_ware_img_bank.png" alt="">
                   <h3>银行网点</h3>
                   <p>银行网点内的免费VIP增值服务</p>
               </div>
               <div>
                    <img src="./img/s_ware_img_comm.png" alt="">
                    <h3>社区网点</h3>
                    <p>没有银行网点覆盖的社区银行增值服务</p>
                </div>
            </div>
            <div style='display: flex' style='margin-top:20px;'>
                    <div style='margin-right:20px;'>
                        <img src="./img/s_ware_img_traffic.png" alt="">
                        <h3>交通枢纽</h3>
                        <p>交通枢纽内的个人物品保管及转移</p>
                    </div>
                    <div>
                         <img src="./img/s_ware_img_mall.png" alt="">
                         <h3>商场 游乐场</h3>
                         <p>商场、游乐场所内的个人物品保管及转移</p>
                     </div>
                 </div>
        </div>
    </div>
    </div>
   </section>
    <!--==============================footer=================================-->
    <footer>
        <div id="footer" class="section-3 footer-dark" style='height:230px;'>
            <div class="container">
                <div style='display: flex;margin-top:80px;'>
                    <div style='width:650px;'>
                        <p style='color:#e0e0e0;font-size:22px;'>客服电话: <span style="font-weight: bold;font-size:32px">400-928-1122</span> </p>
                        <p  style='color:#e0e0e0;font-size:22px;'>服务时间:  周一到周五9:30-18:00</p>
                    </div>
                    <div style='width:650px;text-align:right;margin-top:-13px;'>
                        <p><img src="./img/logo_footer.png" alt=""></p>
                        <p style='color:#e0e0e0;font-size:22px;'>zps@zeepson.com</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer 2 -->
        <div id="copyrights" class="footer-2 footer-dark">
            <div class="container">
                <div class="row">
                    <div class="span12" style="font-size:14px;">
                        Copyright © 2012-2019. 智普信科技 ｜
                        <a href="http://www.beian.miit.gov.cn"> <span style="color:#c0c0c0;">京ICP备09017907</span> </a></div>
                </div>
            </div>
        </div>
    </footer>
    </div>
    <script type="text/javascript" src='js/jquery.js'></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.sliderTabs.js"></script>
    <!-- totop  -->
    <script type="text/javascript" src="js/jquery.ui.totop.js"></script>
    <!-- Image animated Style  -->
    <script type="text/javascript" src="js/jquery.gridrotator.js"></script>
    <!-- Tabs  -->
    <script type="text/javascript" src="js/tabs.js"></script>
    <!-- Navigation  -->
    <script type="text/javascript" src="js/nav-small.js"></script>
    <script type="text/javascript" src="js/jquery.mobilemenu.js"></script>
    <!-- Isotope  -->
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="js/jquery.mousewheel.js"></script>
    <!-- Elastislider  -->
    <script>
        $('.part1 .prt1_text').addClass('on');
        $('.part2 .one').addClass('on')
        $('.part2 .two').addClass('on')
        $('.part2 .three').addClass('on');
        $('.part2 .four').addClass('on');
        $('.part2 .five').addClass('on')
        </script>
    <!-- Revolution Slider  -->
    <script>
    </script>
    <script type="text/javascript">
        $(function(){
            var winWidth, winHeight;
    var win_h = $(window).height() * 0.64;
    var win_height = $(window).height() * 1;
    function funHeight(n, c) {
      var F_high = $(window).scrollTop();
      var t = $(n).offset().top;
      if (F_high > t - win_h) {
        $(c).addClass("animated fadeInUp");
      }
      if (F_high == 0) {
        // $(c).removeClass("animated fadeInUp");
      }
    };
	$(window).scroll(function(){
      funHeight(".animate_p1", ".OS_part2");
      funHeight(".animate_p1", ".OS_part3");
      funHeight(".animate_p2", ".anpt1");
      funHeight(".animate_p4", ".OS_part6");
      funHeight(".animate_p5", ".OS_part7");
      funHeight(".animate_p5", ".OS_part72");
      funHeight(".anipt8",'.anipt8');
	})
});
    </script>
</body>
</html>