<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">

    <!-- [portable options] -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0;" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <title>智普信科技</title>

    <!-- [loading stylesheets] -->
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <link type="text/css" rel="stylesheet" href="css/flexslider.css" />

    <!-- [loading scripts] -->

    <script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/jquery.flexslider-min.js"></script>

    <script type="text/javascript">
        var $ = jQuery.noConflict();
        $(window).load(function () {
            $('#qbTrans-pageTrans-dialog').remove();
            $('#slider').flexslider({
                animation: "slide",
                directionNav: true,
                animationLoop: false,
                controlNav: false,
                slideToStart: 1,
                slideshow: true,
                animationDuration: 300,
                start: function () {
                    $('#slider').animate({ opacity: 1 }, 750);
                },
            });
        });
    </script>
</head>

<body>

    <section id="page-wrapper">
        <!-- 导航 -->
        <section id="menu-wrapper">
            <!--             	
                <div id="menu-search">
                    <input id="menu-search-input-text" type="text" placeholder="Search..." />
                    <input id="menu-search-input-submit" type="submit" value="" />
                </div> -->

            <ul class="menu">

                <li class="icon home">
                    <a href="index.html">
                        <span class="menu-li-title">网站首页</span>
                        <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" /> </a> </li>

                <li id="a-submenu-1" class="icon box" >
                    <a href="#">
                        <span class="menu-li-title">解决方案</span>
                        <img class="menu-li-arrow-submenu" src="img/icons/submenu.png" alt="" /> </a>
                    <ul id="submenu-1" style='background: #eee;'>
                        <li style='padding-top:1.2rem' link='smart-office.html'>
                            <a href="smart-office.html">
                                <span class="menu-li-title">智能办公</span>
                                <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" /> </a> </li>

                        <li link='office-se.html'>
                            <a href="office-se.html">
                                <span class="menu-li-title">共享空间</span>
                                <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" /> </a> </li>
                        <li link="shared-parking.html">
                            <a href="shared-parking.html">
                                <span class="menu-li-title">共享停车</span>
                                <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" /> </a>
                        </li>
                        <li link="shared-storage.html">
                            <a href="shared-storage.html">
                                <span class="menu-li-title">共享仓储</span>
                                <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" /> </a>
                        </li>
                        <li link="cloud.html">
                            <a href="cloud.html">
                                <span class="menu-li-title">智能安防云</span>
                                <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" /> </a>
                        </li>
                        <li link="baoguan.html">
                            <a href="baoguan.html" style='display: inline-block;height: 4rem;'>
                                <span class="menu-li-title">重要物品保管</span>
                                <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" /> </a>
                        </li>
                      
                    </ul>

                </li>
                <li id="a-submenu-2" class="icon box">
                    <a href="#">
                        <span class="menu-li-title">产品中心</span>
                        <img class="menu-li-arrow-submenu" src="img/icons/submenu.png" alt="" /> </a>
                    <ul id="submenu-2" style='display: none;background: #eee;height: 21rem;'>
                        <li style='padding-top:1.2rem;' link="safirst.html">
                            <a href="safirst.html">
                                <span class="menu-li-title">Safirst/初柜</span>
                                <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" /> </a> </li>

                        <li link="leBox.html">
                            <a href="leBox.html">
                                <span class="menu-li-title">Le-Box/乐盒</span>
                                <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" /> </a> </li>
                        <li link="O_S.summary.html">
                            <a href="O_S.summary.html">
                                <span class="menu-li-title">O.S Cabinet</span>
                                <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" /> </a>
                        </li>
                        <li link="HISSSafe-summary.html">
                            <a href="HISSSafe-summary.html">
                                <span class="menu-li-title">Hiss Safe/保险柜</span>
                                <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" /> </a>
                        </li>
                        <li link="smart-access.html">
                            <a href="smart-access.html">
                                <span class="menu-li-title">智能门禁</span>
                                <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" /> </a>
                        </li>

                    </ul>

                </li>

                <li class="icon info">
                    <a href="customer-case.html">
                        <span class="menu-li-title">客户案例</span>
                        <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" /> </a> </li>

                <li class="icon blog">
                    <a href="news.html">
                        <span class="menu-li-title">新闻动态</span>
                        <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" /> </a> </li>
                <li class="icon blog">
                    <a href="about.html">
                        <span class="menu-li-title">关于智普信</span>
                        <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" /> </a> </li>


            </ul> <!-- .menu -->
        </section> <!-- #menu-wrapper -->

        <section id="content-wrapper">

            <section id="header" style='height: 2rem;'>

                <div id="header-left">
                    <!-- <a href="#" id="a-menu"><img src="img/icons/menu.png" alt="menu" /></a> -->
                    <a href="index.html"><img style='margin:0.5rem 0 0 1.5rem;width:6rem;' src="./img/icon_logo.png" alt=""></a>
                </div>

                <div id="header-title">
                    <!-- <h1>公司名称</h1> -->
                </div>

                <div id="header-right">
                    <a href="#" id="a-menu"><img src="img/index_icon_drop.png" alt="menu" /></a>
                    <!-- <a href="#" id="header-search-link"><img src="img/icons/share.png" alt="Search" /></a>                     -->
                </div>
            </section> <!-- #header -->
            <div id='contents'>
                <div style='height:3rem;background: #f2f2f2;line-height: 3rem;'>
                    <div class="wrapper">
                        <h6 style="line-height:3rem;">智能安防云</h6>
                    </div>

                </div>
                <div style='position: relative;'>
                    <img src="./img/s_cloud_img_bg.png" alt="">
                    <div style='position: absolute;top:30%;width:100%;text-align: center;'>
                        <h2 style='color:#fff;margin-bottom: 0;'>智能安防云解决方案</h2>
                        <p style='color:#fff;text-align: center;'>Smart Security Cloud Solution</p>
                    </div>
                </div>
                <div class="wrapper">
                    <img src="./img/images/cloud_03.png" alt="">
                    <h2 class="mt2">HISS智能安防云</h2>
                    <p style='text-align: center;'>为最终用户提供可靠高效、合规低成本的规模化</p>
                    <p style='text-align: center;text-indent: 0;margin-top:0'>安防服务；帮助客户提高效率，保障安全。</p>
                    <div style='text-align: center;margin-top:2rem;'>
                        <img src="./img/s_cloud_ic_h1.png" alt="" style='width:25%'>
                    </div>
                    <h2 class="mt2">安防服务平台</h2>
                    <p style='text-align: center;'>致力于打造全球商业及家庭智能化安全服务平台</p>
                    <p style='text-align: center;text-indent: 0;margin-top:0'>打通线上和线下的联动安防服务</p>
                    <p style='text-align: center;text-indent: 0;margin-top:0'>提供异常报警、售前售后服务、技术支持</p>
                    <div style='text-align: center;margin-top:2rem;'>
                        <img src="./img/s_cloud_ic_h2.png" alt="" style='width:25%'>
                    </div>
                    <h2 class="mt2">嵌入式/产品及云平台</h2>
                    <p style='text-align: center;'>主要面向传统产品生产制造企业</p>
                    <p style='text-align: center;text-indent: 0;margin-top:0'>帮助传统安防业产业快速智能化升级</p>
                    <p style='text-align: center;text-indent: 0;margin-top:0'>解决安防产业智能化后自身的安全问题</p>
                    <div style='text-align: center;margin-top:2rem;'>
                        <img src="./img/s_cloud_ic_h3.png" alt="" style='width:25%'>
                    </div>
                    <h2 class="mt2">数据及流量变现平台</h2>
                    <p style='text-align: center;'>提供营销服务,贡献有价值的客户源</p>
                    <p style='text-align: center;text-indent: 0;margin-top:0'>忠诚度高、不易被替换的巨大APP流量入口</p>
                    <p style='text-align: center;text-indent: 0;margin-top:0'>为保险和金融行业，提供可靠的大数据</p>
                </div>
                <div style='background: #f2f2f2;padding:2rem 0;'>
                    <div class="wrapper">
                        <h2>0”门槛 <br>将传统产品智能化</h2>
                        <img src="./img/s_cloud_img_Intell.png" alt="">
                        <div style='display: flex;margin-top:1.5rem;'>
                            <div style='background: #fff;width:9rem;height: 3rem;line-height: 3rem;text-align: center;margin-right:0.3rem;font-size: 0.875rem;'>传统门锁智能升级</div>
                            <div style='background: #fff;width:9rem;height: 3rem;line-height: 3rem;text-align: center;margin-right:0.3rem;font-size: 0.875rem;'>智能办公柜/文件柜</div>
                            <div style='background: #fff;width:9rem;height: 3rem;line-height: 3rem;text-align: center;font-size: 0.875rem;'>智能枪弹柜管理系统</div>
                        </div>
                        <div style='display: flex;margin-top:0.3rem;'>
                                <div style='background: #fff;width:9rem;height: 3rem;line-height: 3rem;text-align: center;margin-right:0.3rem;font-size: 0.875rem;'>HISS智能保险柜</div>
                                <div style='background: #fff;width:9rem;height: 3rem;line-height: 3rem;text-align: center;margin-right:0.3rem;font-size: 0.875rem;'>迪士尼乐盒系列</div>
                                <div style='background: #fff;width:9rem;height: 3rem;line-height: 3rem;text-align: center;font-size: 0.875rem;'>高危化学品管控</div>
                            </div>
                    </div>
                </div>
                <div class="wrapper">
                    <h2>全生命周期 <br> 的行业标准中间件</h2>
                    <div>
                        <img src="./img/images/cloud_03_03.png" alt="">
                    </div>
                    <h2 class="mt2">多层级的安全策略保障</h2>
                    <img src="./img/s_cloud_img_protect.png" alt="">
                    <div style='margin-top:2rem;text-align: center;'>
                        <img src="./img/images/cloud_07.png" alt="" style='width:90%;'>
                    </div>
                    <h2 class="mt2">可拓展的增值服务</h2>
                </div>
                <div>
                    <img src="./img/s_cloud_img_val.png" alt="">
                </div>
                <div class="wrapper">
                        <h2 class="mt2">全方位的大数据分析</h2>
                    <div style='display: flex;'>
                        <div style='margin-right: 4rem;'>用户应用大数据分析</div>
                        <div>安全设备大数据分析</div>
                    </div>
                </div>
                <div>
                        <img src="./img/s_cloud_img_data.png" alt="">
                    </div>




                    <section id="footer">
                        <div style='display: flex;'>
                            <div style='margin-right:3rem;'>
                                <img src="./img/logo_footer.png" alt="">
                                <p style='font-size:0.8rem;'>关于智普信</p>
                                <p><a href="about.html">公司介绍</a></p>
                                <p><a href="about.html#part4">品牌理念</a></p>
                                <p><a href="about.html#part5" >发展历程</a></p>
                                <p><a href="about.html#part7">专利认证</a></p>
                                <p><a href="about.html#part9">联系我们</a></p>
                                <p style='margin-top:2.5rem;font-size:1rem;'>关注我们</p>
                            </div>
                            <div>
                                <p style='margin-top:3.3rem;'>北京总部</p>
                                <p style='line-height: 20px;'>电话：010-8447-1877 400-928-1122</p>
                                <p style='line-height: 20px;'>邮箱：zps@zeepson.com</p>
                                <p style='line-height: 20px;'>地址：北京市 朝阳区 朝外大街乙6号 朝外SOHO B座0608室</p>
                                <p style='margin-top:1.3rem;'>无锡分部</p>
                                <p style='line-height: 20px;'>电话：0510-85678888</p>
                                <p style='line-height: 20px;'>邮箱：zps@zeepson.com</p>
                                <p style='line-height: 20px;'>地址：江苏省 无锡市 锡山区 翠山路488号锡东创谷C栋509</p>
                                <div style='display: flex;margin-top:2rem;line-height: 20px;'>
                                    <div style='margin-right:3rem;text-align: center;'><img src="./img/index_code_wx.png"
                                            alt="">
                                        <div>【微信公众号】</div>
                                    </div>
                                    <div style='text-align: center;'><img src="./img/index_code_wb.png" alt="">
                                        <div>【官方微博】</div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
    
                    </section> <!-- #footer -->

        </section> <!-- #content-wrapper -->
    </section> <!-- #page-wrapper -->
</body>

</html>