<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">

    <!-- [portable options] -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0;" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <title>智普信科技</title>

     <!-- [loading stylesheets] -->
   
     <link type="text/css" rel="stylesheet" href="css/style.css" />
     <link type="text/css" rel="stylesheet" href="css/flexslider.css" />
     <link rel="stylesheet" href="css/bootstrap.css">
     <!-- [loading scripts] -->
 
     <script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
     <script type="text/javascript" src="js/main.js"></script>
     <script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
     <script src='js/bootstrap.js'></script>

    <script type="text/javascript">
        var $ = jQuery.noConflict();
        $(window).load(function () {
            $('#qbTrans-pageTrans-dialog').remove();
            $('#slider').flexslider({
                animation: "slide",
                directionNav: true,
                animationLoop: false,
                controlNav: false,
                slideToStart: 1,
                slideshow: true,
                animationDuration: 300,
                start: function () {
                    $('#slider').animate({ opacity: 1 }, 750);
                },
            });
            $('#slider1').flexslider({
                animation: "slide",
                directionNav: true,
                animationLoop: false,
                controlNav: false,
                slideToStart: 1,
                slideshow: true,
                animationDuration: 300,
                start: function () {
                    $('#slider1').animate({ opacity: 1 }, 750);
                },
            });
        });
    </script>
</head>

<body>

    <section id="page-wrapper">
        <!-- 导航 -->
        <section id="menu-wrapper">
            <!--             	
                <div id="menu-search">
                    <input id="menu-search-input-text" type="text" placeholder="Search..." />
                    <input id="menu-search-input-submit" type="submit" value="" />
                </div> -->

            <ul class="menu">

                <li class="icon home">
                    <a href="index.html">
                        <span class="menu-li-title">网站首页</span>
                        <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" /> </a> </li>

                <li id="a-submenu-1" class="icon box" >
                    <a href="#">
                        <span class="menu-li-title">解决方案</span>
                        <img class="menu-li-arrow-submenu" src="img/icons/submenu.png" alt="" /> </a>
                    <ul id="submenu-1" style='background: #eee;'>
                        <li style='padding-top:1.2rem' link='smart-office.html'>
                            <a href="smart-office.html">
                                <span class="menu-li-title">智能办公</span>
                                <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" /> </a> </li>

                        <li link='office-se.html'>
                            <a href="office-se.html">
                                <span class="menu-li-title">共享空间</span>
                                <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" /> </a> </li>
                        <li link="shared-parking.html">
                            <a href="shared-parking.html">
                                <span class="menu-li-title">共享停车</span>
                                <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" /> </a>
                        </li>
                        <li link="shared-storage.html">
                            <a href="shared-storage.html">
                                <span class="menu-li-title">共享仓储</span>
                                <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" /> </a>
                        </li>
                        <li link="cloud.html">
                            <a href="cloud.html">
                                <span class="menu-li-title">智能安防云</span>
                                <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" /> </a>
                        </li>
                        <li link="baoguan.html">
                            <a href="baoguan.html" style='display: inline-block;height: 4rem;'>
                                <span class="menu-li-title">重要物品保管</span>
                                <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" /> </a>
                        </li>
                      
                    </ul>

                </li>
                <li id="a-submenu-2" class="icon box">
                    <a href="#">
                        <span class="menu-li-title">产品中心</span>
                        <img class="menu-li-arrow-submenu" src="img/icons/submenu.png" alt="" /> </a>
                    <ul id="submenu-2" style='display: none;background: #eee;height: 21rem;'>
                            <li style='padding-top:1.2rem;' link="safirst.html">
                                    <a href="safirst.html">
                                        <span class="menu-li-title">初柜/Safirst</span>
                                        <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" /> </a> </li>
        
                                <li link="leBox.html">
                                    <a href="leBox.html">
                                        <span class="menu-li-title">乐盒/Le-Box</span>
                                        <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" /> </a> </li>
                                <li link="O_S.summary.html">
                                    <a href="O_S.summary.html">
                                        <span class="menu-li-title">智能办公柜/O.S Cabinet</span>
                                        <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" /> </a>
                                </li>
                                <li link="HISSSafe-summary.html">
                                    <a href="HISSSafe-summary.html">
                                        <span class="menu-li-title">保险柜/Hiss Safe</span>
                                        <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" /> </a>
                                </li>
                                <li link="smart-access.html">
                                    <a href="smart-access.html">
                                        <span class="menu-li-title">智能门禁/Smart Access</span>
                                        <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" /> </a>
                                </li>

                    </ul>

                </li>

                <li class="icon info">
                    <a href="customer-case.html">
                        <span class="menu-li-title">客户案例</span>
                        <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" /> </a> </li>

                <li class="icon blog">
                    <a href="news.html">
                        <span class="menu-li-title">新闻动态</span>
                        <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" /> </a> </li>
                <li class="icon blog">
                    <a href="about.html">
                        <span class="menu-li-title">关于智普信</span>
                        <img class="menu-li-arrow" src="img/icons/arrow-forward.png" alt="" /> </a> </li>


            </ul> <!-- .menu -->
        </section> <!-- #menu-wrapper -->

        <section id="content-wrapper">

            <section id="header">

                <div id="header-left">
                    <!-- <a href="#" id="a-menu"><img src="img/icons/menu.png" alt="menu" /></a> -->
                    <a href="index.html"><img style='margin:0.5rem 0 0 1.5rem;width:6rem;' src="./img/icon_logo.png" alt=""></a>
                </div>

                <div id="header-title">
                    <!-- <h1>公司名称</h1> -->
                </div>

                <div id="header-right">
                    <a href="#" id="a-menu"><img src="img/index_icon_drop.png" alt="menu" /></a>
                    <!-- <a href="#" id="header-search-link"><img src="img/icons/share.png" alt="Search" /></a>                     -->
                </div>
            </section> <!-- #header -->
            <section class="sub-header">
                <div style='display: flex;'>
                    <div style='margin:0 3rem 0 1.5rem;'><span>HISS Safe 功能</span></div>
                   
                    <div style='line-height: 3rem;' class="shownav">
                            <img src="./img/down.png" alt="" class="user-arrow rotate">
                        </div>
                    <div>
                            <a data-toggle="modal" href="#myModal"
                            class="buy">购买</a>
                    </div>
                </div>
                <ul class="sub-nav">
                    <li> <a href="HISSSafe-summary.html"> 概述 ></a> </li>
                    <li> <a href="HISSSafe_design.html"> 设计 ></a> </li>
                    <li> <a href="HISSSafe_function.html"> 功能 ></a> </li>
                    <li> <a href="HISSSafe_technical.html"> 技术规格 ></a> </li>

                </ul>
            </section>
            <div id='contents'>


                <article style=' margin-top:-1rem;'>
                    <div style='background: #1d1e23;'>
                        <div class="wrapper" style='padding-top:1.5rem'>
                            <!-- <span class="post-date">27 JUNE 2015, 14:13</span> -->
                            <h2 style='text-align: center;color: #fff;'>研精毕智，挑战自己</h2>
                            <p style='color:#fff;'>HISS面对的不只是创新，更是挑战自己。在领域内的突破已经无法满足我们对智能安防的前景规划，不断的挑战自我，打破之前的设计与技术是HISS一直以来的目标。在这样的心情与努力之下，才有了HISS Safe。
                            </p>
                        </div>
                        <div>
                            <img src="./img/images/HISS-Safe_022_02.png" alt="">
                        </div>
                    </div>
                 

                    <div>
                        <div class="wrapper">
                            <h2 style='text-align: center;padding-top:1.5rem;'>开创性的指纹解锁法</h2>
                            <p>HISS Safe 比以往性能更强大，开创性的指纹解锁方法，将指纹验证模块嵌入把手，将指纹验证与开锁结合。创新设计，节省了你使用的一小步，也是 HISS Safe的一大步。
                            </p>
                           
                            <div style="margin-top:2rem">
                                    <video style='width:100%;' src="http://o-website.oss-cn-shanghai.aliyuncs.com/osite/65cm_open.mp4" autoplay="autoplay" loop="loop"
                                        type=""></video>
                                </div>

                        </div>
                    </div>
                 

                    <div style='background: #fff;'>
                        <div class="wrapper">
                           
                            <h2 style='text-align: center;margin-top:2.5rem;'>WIFI、4G自由切换</h2>
                         
                            <p>智能安防无法离开互联网，HISS Safe 除了WIFI支持外，还自带4G联网功能。当无线网络意外断联后，HISS Safe会自动切入4G模式，并与云服务器连接，向你发出网络断联的安全预警信息，保障财产安全。</p>
                            <div style='text-align: center;'>
                                <img src="./img/images/HISS-Safe_05_05.png" alt="" style='width:80%'>
                            </div>
                           
                        </div>

                    </div>
                   
                    <div class="wrapper">
                            <h2 style='text-align: center;margin-top:2.5rem;'>50厘米安全距离</h2>
                            <p>HISS Safe 拥有50厘米的安全距离：任何人或物品靠近柜体半径50厘米，HISS Safe将启用前置摄像头连续拍摄照片取证，你可以随时在APP或面板调取事发记录和照片查看。</p>
                         
                    </div>
                    <div>
                        <img src="./img/HISS-Safe_1010.png" alt="">
                    </div>
                    <div class="wrapper">
                        <h2 style='text-align: center;margin-top:2.5rem;'>APP远程监控</h2>
                        <p>HISS Safe 同样拥有HISS APP远程控制功能：通过APP你可以实现远程解锁、用户管理、查看使用记录、联动报警等功能，当柜体有异常状况，APP还会向你发出安全预警信息，用户根据事发时的记录与照片，选择是否联动报警。你可以去到任何地方，HISS Safe为你时刻准备。
                            </p>
                     <div style='text-align: center;margin-top:2rem;'>
                         <img src="./img/edit-here.png" alt="" style='width:40%'>
                     </div>
                     <h2 style='text-align: center;margin-top:2.5rem;'>处理异常状况</h2>
                     <p>HISS Safe 内置高敏陀螺传感器，当柜体遭受外力袭击、倾斜、搬运、震动，均会触发报警装置；30秒安全开启时间，当柜门开启超过30秒，HISS Safe的预警机制也会触发；异常断电情况下，柜体内置锂电池将启用，并向用户发出安全预警信息。
                          <br> <br> 多重防护，巨细靡遗。
                     </p>
                     <div style='text-align: center;margin-top:2rem;'>
                         <img src="./img/HISS_Fun_006.png" alt="" style='width:70%'>
                     </div>
                     <p style="margin-top:2rem">HISS Safe 拥有独立的安防系统，以及性能强大的智能平板，结合HISS云功能，多重防护你的财产安全。</p>
                     <div style="margin-top:2rem">
                            <video style='width:100%;' src="img/PAD1.mp4" autoplay="autoplay" loop="loop"
                                type=""></video>
                        </div>
                    </div>
                    <div style='background: #f9f9f9;'>
                        <div class="wrapper">
                            <div style='text-align: center;padding-top:2rem;'>
                                <img src="./img/images/HISS-Safe-a_09.png" alt="" style='width:80%;'>
                                <h2 style='text-align: center;margin-top:2.5rem;'>震动报警</h2>
                                <p style='text-align: left;'>HISS Safe受到外力撞击、震动，会启用报警装置，不止是智能平板及客户端信息提示，还会有声音报警。</p>
                            </div>
                        </div>
                    </div>

                </article> <!-- #post -->

            </div>
            <div>
                <a href="HISSSafe_technical.html">
                    <img src="./img/images/HISS-Safe-b_12.png" alt="">
                </a>

            </div>




            <section id="footer">
                <div style='display: flex;'>
                    <div style='margin-right:3rem;'>
                        <img src="./img/logo_footer.png" alt="">
                        <p style='font-size:0.8rem;'>关于智普信</p>
                        <p><a href="about.html">公司介绍</a></p>
                        <p><a href="about.html#part4">品牌理念</a></p>
                        <p><a href="about.html#part5" >发展历程</a></p>
                        <p><a href="about.html#part7">专利认证</a></p>
                        <p><a href="about.html#part9">联系我们</a></p>
                        <p style='margin-top:2.5rem;font-size:1rem;'>关注我们</p>
                    </div>
                    <div>
                        <p style='margin-top:3.3rem;'>北京总部</p>
                        <p style='line-height: 20px;'>电话：010-8447-1877 400-928-1122</p>
                        <p style='line-height: 20px;'>邮箱：zps@zeepson.com</p>
                        <p style='line-height: 20px;'>地址：北京市 朝阳区 朝外大街乙6号 朝外SOHO  B座0608室</p>
                        <p style='margin-top:1.3rem;'>无锡分部</p>
                        <p style='line-height: 20px;'>电话：0510-85678888</p>
                        <p style='line-height: 20px;'>邮箱：zps@zeepson.com</p>
                        <p style='line-height: 20px;'>地址：江苏省 无锡市 锡山区 翠山路488号锡东创谷C栋509</p>
                        <div style='display: flex;margin-top:2rem;line-height: 20px;'>
                            <div style='margin-right:2.5rem;text-align: center;'><img src="./img/index_code_wx.png"
                                    alt="">
                                <div>【微信公众号】</div>
                            </div>
                            <div style='text-align: center;'><img src="./img/index_code_wb.png" alt="">
                                <div>【官方微博】</div>
                            </div>
                        </div>
                    </div>
                </div>


            </section> <!-- #footer -->

        </section> <!-- #content-wrapper -->
    </section> <!-- #page-wrapper -->
                   	<!-- Modal -->
	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style='z-index: 2000;left: 50%; width: 19rem; transform:translate(-50%, -50%);margin:0;height: 32rem;'>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel" style='font-size:18px;'> <i class="sales"></i> 请选择在售商城</h3>
    </div>
    <div class="modal-body">
        <div style='text-align: center;'>
            <div>
                <a href="https://mall.jd.com/index-900497.html"><img src="./img/img_code_j.png" alt="" style='width:50%;'></a>
                <p style='text-align: center;font-weight: bold;'>长按识别二维码</p>
            </div>
            <div>
                <a href="https://hissznsb.tmall.com/"><img src="./img/img_code_t.png" alt="" style='width:50%;'></a>
                <p style='text-align: center;font-weight: bold;'>长按识别二维码</p>
            </div>
            <div>
                <a href="http://mp.weixin.qq.com/bizmall/mallshelf?id=&t=mall/list&biz=MzA5NjIyODYyNQ==&shelf_id=1&showwxpaytitle=1#wechat_redirect"><img src="./img/img_code_w.png" alt="" style='width:50%;'></a>
                <p style='text-align: center;font-weight: bold;margin-top:16px'>微信扫码进入</p>
            </div>
        </div>
    </div>

</div>
</body>

</html>